<style>
	.mouse-on{
		height:auto !importan;
		border-color: #66afe9;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		
	}
	
	.supplemental-info{
		background: #f8f8f8;
		//margin: 15px 0 0;
		padding: 10px;
		border-top: 1px solid #ccc;
		margin-left: -4px;
		margin-right: -4px;
		cursor :default;
	}
	
</style>
<div class="container">
  <div id="products" class="row">
		<%@books.each do |book| %>
			<div class="col-md-4 col-sm-6">
				<div href="/main/book_show?book_id=<%=book.id%>" class="thumbnail clickable-hover" style="height:300px; margin-top:30px;" onmouseover="$(this).addClass('mouse-on')" onmouseleave="$(this).removeClass('mouse-on')" onclick="goToHref($(this).attr('href'));">					
					
					<%=image_tag book.image_link,style:"height:170px;min-height:150px;"%>		
					<%=image_tag asset_path("soldout.png"),style:"position:absolute;z-index:10;top: 24px;left: 8px;"%>
					<div style="min-height:64px;margin-top:3px;padding-left:4px;" >
						<div class="text-center" style="font-size:14px;">
							<span data-toggle="tooltip" title="<%=book.title%>">
								<strong><%=book.title.truncate(24)%></strong>
							</span>
						</div>
						<p data-toggle="tooltip" style="margin-top:5px;" title="
							<% book.course_teacherships.each do |cts|%>
								<%="#{cts.course_ch_name} #{cts.teacher_name}" %><br>
							<% end %>">
							<%="#{book.course_teacherships.first.try(:course_ch_name)} #{book.course_teacherships.first.try(:teacher_name)}" %><br>
						</p>
						<span class="pull-right" style="font-size:16px;margin-top:-5px;">
						<%=fa_icon "eye"%> <strong>300</strong>&nbsp;&nbsp;&nbsp;
						<%=fa_icon "clock-o"%><%= time_ago_in_words(book.created_at) %>
						</span>
					</div>
					<div class="supplemental-info" onmouseover="$(this).parent().attr('onclick','')" onmouseleave="$(this).parent().attr('onclick','goToHref($(this).attr(\'href\'));')">
						<img alt="Picture" src="http://graph.facebook.com/100000103364671/picture" width="25" height="25" style="border-radius:3px;"><a href="#">簡子陽</a>
						<%=fa_icon "book"%> <strong>10</strong>
						<a href="/main/cts_search?book_id=<%=book.id%>"><%=fa_icon "pencil"%></a>
						<strong class="pull-right" style="font-size:20px;">
							<%=fa_icon "dollar" %> 21.000 
						</strong>
					</div>						
				</div>
			</div>
		<% end %>
</div>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip({html:true,placement:"bottom"});
	})
</script>
