<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="alert alert-info">E3認證，打就對了</div>
		<!--<form role="form" method="post">
		  <div class="form-group">
			<label>帳號</label>
			<input type="account" class="form-control" id="id" placeholder="Enter Account" name="id">
		  </div>
		  <div class="form-group">
			<label >密碼</label>
			<input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
		  </div>
		  <div class="checkbox">
			<label>
			  <input type="checkbox"> 記住我
			</label>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form> -->
		
		<%= form_tag '/main/E3Login_Check', :role=>"form" do %>
		<div class="form-group">
			<%= label_tag(:q, "帳號") %>			
			<%= text_field_tag(:id , nil , class:"form-control") %>
	    </div>
		<div class="form-group">
			<%= label_tag(:q, "密碼") %>
			<%= password_field_tag(:pwd , nil , class:"form-control") %>
		</div>
		<%= submit_tag "送出", :class=>"btn btn-primary" %>
		<% end %> 
		
	</div>
	<div class="col-md-4"></div>
</div>
<%=@res = 111%>




