<%= javascript_include_tag "new-index", "data-turbolinks-track" => false %>
<%= stylesheet_link_tag "new-index", "data-turbolinks-track" => false %>
<style>
#about{
	-webkit-box-shadow: -3px -2px 79px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px -2px 79px -2px rgba(0,0,0,0.75);
	box-shadow: -3px -2px 79px -2px rgba(0,0,0,0.75);background:#222 100%
}
#intro{
	background-color:#ffffff;
}

.main tr{ 
	line-height: 1.6em; 
}
td.date{

	text-align: right;
}
.glyphicon{
	font-size: 0.1em;
}
#floating_link {
     position: fixed;
     right: 0;
     top: 400px;
     display: block;
     width: 50px;
     height: 125px;
     text-indent: -10000px;
     background-image: url(/my/image.jpg);
     overflow: hidden;
}
</style>

<div class="bg-black-blocker"></div>
<div class="bg-image"></div>

<header>

	<%=session[:zzz]%>

	<div class="header-content text-left ">
		<div class="container">
		<div class="header-content-inner ">
			<div class="header-left ">
				<h1>NCTU+</h1>
				<h3 style="position:relative;padding-top:-20px">交大智慧校園系統</h3>
				<h4 class="parallelogram2">Brilliant College Life</h4>		
				<div class="tabs-block hidde">
					<div class="hr-left"></div>
					<ul class="tabs">
						<li>
							<input type="radio" name="tabs" id="tab1" checked />
							<label for="tab1"><h5>網站改版</h5></label>
							<div id="tab-content1" class="tab-content">
								<table class="main" style="width:100%;">
									<tbody>
										<% @updates.each do |t| %>
										<tr>
											<td><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;<%= t.title %></td>
											<td class="date"><small><font color="gray">20<%= t.created_at.strftime("%y/%m/%d") %></font></small></td>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</li>
						<li>
							<input type="radio" name="tabs" id="tab2" />
							<label for="tab2"><h5>最新消息</h5></label>
							<div id="tab-content1" class="tab-content">
								<table class="main" style="width:100%;">
									<tbody>
										<% @news.each do |t| %>
										<tr>
											<td><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;<%= t.title %></td>
											<td class="date"><small><font color="gray">20<%= t.created_at.strftime("%y/%m/%d") %></font></small></td>
										</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</li>
					</ul>
				</div>
				<!--RWD-->
				<div class="warning"></div>
				<div class="btn-inner"></div>								
			</div>

			<div class="header-right ">
				<h2 id="brief-intro">
				</h2>
				<br><br>
				<% if !current_user %>
					<a href="/login" class="btn btn-primary btn-xl page-scroll" style="font-size:20px;font-weight:300;margin-right:20px;" data-no-turbolink>登入</a>
				<% end %>
			</div>	
    	</div>
		</div>
  </div>
	<div class="text-center circle-bar"></div>
</header>


<section id="intro" >
	<div class="container">
		<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<h2 class="section-heading">為什麼使用NCTU+ ?<br><br></h2>					
				</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center gray-hover">
				<div class="service-box clickable-hover function-box" href="/discusses">					
						<%=image_tag asset_path("new-index/discuss-intro.png"),class:"width-200"%>
						<h3>全校課程心得</h3>
						<p class="text-muted" style="width:80%;margin:auto;">
						選課前的好幫手，包羅歷年交大所有課程心得，舊文新文一次找齊，也包含課堂評價與歷屆成績，也歡迎同學一起討論。
						</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center gray-hover">
				<div class="service-box clickable-hover function-box" href="/books">
					<%=image_tag asset_path("new-index/book-intro.png"),class:"width-200"%>
					<h3>二手書拍賣</h3>
					
					<p class="text-muted" style="width:80%;margin:auto;">
					原文書太貴買不下手？二手書難找又麻煩？NCTU+提供二手書交易平台，歡迎加入二手書買賣的行列
					</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center gray-hover">
				<div class="service-box clickable-hover function-box" href="/user">
					<%=image_tag asset_path("new-index/score-stat-intro.png"),class:"width-200"%>
					<h3>畢業學分計算</h3>
					
					<p class="text-muted">今年可以畢業嗎？令人苦惱的畢業學分計算一次完成，把握大學最後的時間！</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center gray-hover">
				<div class="service-box clickable-hover function-box" href="/events">
					<%=image_tag asset_path("new-index/event-intro.png"),class:"width-200"%>
					<h3><strong>活動BAR！</strong></h3>
					<h5 class="highlight-new-function"><strong>NCTU+ 新功能!</strong></h5>
					<p class="text-muted">學校最近有什麼新活動？<br>快來加入活動！建立屬於自己的活動BAR!</p>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-lg-offset-2 text-center" style="padding-top:5%"></div>
	</div>
 </section>    

    
<section class="bg-primary" id="about" style="color:white;margin-bottom:0px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center" >
				<h2>About NCTU+ </h2>
				<%=image_tag "logo22.png",class: "col-lg-4 col-md-5 col-sm-6",style: "text-align:center;width:320px;margin-bottom:20px;" %>											
				<p class="col-lg-8 col-md-7 col-sm-6" style="text-align:left;"> 
				NCTU+是一個交大非官方的資訊組織，有鑑於目前校園系統仍有許多改善空間，我們從改寫校園系統開始，擴展出許多更便利、更友善且更美觀的服務。<br>
				我們一方面向校方請求開放Data及API，另一方面聆聽同學們的需求並不斷發想新的點子，我們不僅純粹的coding，我們希望結合行銷、設計、工程等不同領域的人才，不斷地進步使平台變的更好。
				</p>
			</div>
		</div>
	</div>
</section>

<script>
$(document).ready(function(){
	$('.navbar-collapse ul li a').click(function() {
		$('.navbar-toggle:visible').click();
	});
	// Offset for Main Navigation
	$('#mainNav').affix({
		offset: {
			top: 100
		}
	});
	
	$('.function-box').click(function(){
		window.open($(this).attr('href'),'_blank');
	});
	
	// Initialize WOW.js Scrolling Animations
	new WOW().init();
	re_win();
	$(window).bind("load resize",function() {
		re_win();
	});
	// Fit Text Plugin for Main Header
	$("h1").fitText(1.2, {
		minFontSize: '35px',
		maxFontSize: '65px'
	});
	var brief_intro =["即將畢業，給自己一個安心，<br>快登入使用算學分功能！","機會是留給有準備的人，<br>快登入使用模擬排課！","手邊有用不到的教科書嗎？<br>快登入使用二手書平台！","想宣傳精彩的活動嗎？<br>快登入使用活動 BAR！"];
	$("#brief-intro").html(brief_intro[Math.floor(Math.random()*brief_intro.length)]);
	var bgs = ['url(<%=asset_path "new-index/bg1.jpg"%>)','url(<%=asset_path "new-index/bg2.jpg"%>)','url(<%=asset_path "new-index/bg3.jpg"%>)'];
	var t1=0;
	$('.bg-image').css('background-image', bgs[t1]);
	setInterval(function() {
		$('.bg-image').fadeOut(3000, function(){
			t1++;
			if(t1 == bgs.length) t1 = 0;
			$('.bg-image').css('background-image', bgs[t1]).fadeIn(3000);
		});
	},12000);

});


function re_win(){	//need fix
	if(window.innerWidth<=768)
	{
		$(".header-right").css("display","none");
		//$(".header-left").css("width","170%");
		$(".header-left h3").css("margin-left","20%");
		$(".header-left h1").css({"margin-left":"19%","font-size":"4.5em"});
		$(".header-left").css("margin","none");		
		$(".header-left").css({'overflow':'hidden'});	
		$(".parallelogram2").css({'width':'200px','margin-left':'20%'});
		$(".hr-left").css("display","none");
	$(".tabs-block").css({"width":"195%","margin-left":'10.4%','height':'190px','display':'none'})
		
		//RWD
		$(".warning").html("<h5>建議以Chrome 或 Firefox瀏覽</h5>");
		$(".warning").css({'margin-left':'21.4%','margin-top':'5%','color':'#aaa'});
		<% if !current_user %>
		$(".btn-inner").html("<div class='btn-remove'><a href='/login' data-no-turbolink class='btn btn-index btn-primary btn-xl page-scroll' style='font-size:16px;font-weight:300;margin-right:20px;margin-left:30%;margin-top:20%;'>登入</a></div>")
		<% end %>
		
		$(".header-content-inner").css("margin-top","12%");

	}
	else
	{
		$(".header-content-inner").css("margin-top","1%")
		$(".tabs-block").css({'display':'block'})
		$(".header-right").css("display","block");
		$(".header-left").css("margin-left","0");	
		$(".header-left").css("width","100%");	
		$(".header-left h3").css({"display":"block",'margin-left':'0%'});
		$(".tabs-block").css("width","100%")		
		$(".btn-remove").remove();
		$(".warning h5").remove();
		$(".hr-left").css("display","block");
		$(".parallelogram2").css({'width':'200px','margin-left':'0%'});
		$(".header-left h1").css("margin-left","0%");
		$(".tabs-block").css({"width":"100%","margin-left":'0%'})
	}
	
};

</script>