<html>
<head>
  <title></title>
  <%= stylesheet_link_tag "member/introduction" %>
</head>
<body>
<section>
  <h1 style="text-align: center;"><b>成員介紹</b></h1>
  <hr size="10" align="center" noshade width="100%" color="#f0f0f0">
</section>
<section id="t-cards">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
              <h3 class="panel-header">Programmer</h3>
              <p class="text-center">資訊工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/kimo.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">簡子陽</h4>
            <p>原本只是想做系上共筆系統 不知不覺就變成這樣了ORZ</p>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 為什麼這個不能當論文啊....</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/tzuyang.chien"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> t6847kimo@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #bbdefb">
            <div class="container">
              <h3 class="panel-header">Administrator</h3>
              <p class="text-center">電機工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/maple.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">蔡孝謙</h4>
            <p>希望能夠讓交大有專屬自己而且學生寫的網站</p><br><br>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 快來跟我交朋友</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/profile.php?id=100000339253989"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> maple15973@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
              <h3 class="panel-header">Programmer</h3>
              <p class="text-center">資訊工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/gway.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">羅濟韋</h4>
            <p>除了練技術外，也想做一些別的學校沒有的好玩功能</p><br>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 我好想畢業....</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/what7910?hc_location=ufi"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> u9510606@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
                     <h3 class="panel-header">Programmer</h3>
                     <p class="text-center">資訊工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/bunnie.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">林鈺璇</h4>
            <p>想設計出更好的使用介面＆研究前端技術，希望讓NCTU+的使用在學校更普及</p>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 嗨</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/bunnieabc"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> bunnieabc@gmail.com</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
              <h3 class="panel-header">Programmer</h3>
              <p class="text-center">電子工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/terry.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">劉家宏</h4>
            <p>老人也想練功啊...</p><br><br>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 上班後理解到奢侈是每天能睡八小時</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/HSNUskywind"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> terryliu.nctu@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
              <h3 class="panel-header">Programmer</h3>
              <p class="text-center">資訊工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/kai.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">劉庭愷</h4>
            <p>希望來這裡從做中學，有經驗豐富的學長姐們可以問，又能對其他人做出一點貢獻。</p>
          </div>
          <div class="panel-thumbnails">
            <small><span class="glyphicon glyphicon-comment"></span> 我最喜歡抹茶了~~</small>
          </div>
          <div class="panel-thumbnails">
            <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/liumokai"> Facebook</a></small><br>
            <small><span class="glyphicon glyphicon-envelope"></span> ms0346648@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
              <h3 class="panel-header">Programmer</h3>
              <p class="text-center">資訊工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/chc.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">李鴻暘</h4>
            <p>希望能在學長的指導下，精進自己coding的能力。在未來，能夠憑藉自己的能力，為學校多盡一份心力。</p>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 耶大家好＞＜</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/profile.php?id=100000553131911"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> chc71340@gmail.com<gmail class="com"></gmail></small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #90caf9">
            <div class="container">
                     <h3 class="panel-header">Designer</h3>
                     <p class="text-center">傳播科學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/ian.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">劉翊安</h4>
            <p>想學好前端設計!!!!!並且設計車一個好看又實用的介面讓交大人使用</p>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span></small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/profile.php?id=100000349434309"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> s91524s@gmail.com</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
              <h3 class="panel-header">Programmer</h3>
              <p class="text-center">資訊工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/anonymous.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">賴奕融</h4>
            <p>學習RoR</p><br><br>
          </div>
          <div class="panel-thumbnails">
            <small><span class="glyphicon glyphicon-comment"></span> 作業好多...</small>
          </div>
          <div class="panel-thumbnails">
            <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/profile.php?id=100000234463987"> Facebook</a></small><br>
            <small><span class="glyphicon glyphicon-envelope"></span> eris205@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #90caf9">
            <div class="container">
              <h3 class="panel-header">Designer</h3>
              <p class="text-center">工業工程與管理學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/anonymous.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">薛依婷</h4>
            <p>應用課堂所學</p><br><br>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 低調人生</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/profile.php?id=100000314292162"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> anne81425@hotmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
              <h3 class="panel-header">Programmer</h3>
              <p class="text-center">資訊工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/qaz.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">蘇琬淇</h4>
            <p> 想要多學和網頁相關的東西</p><br><br>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment">你好~</span> </small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/wanchi.su.1"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> qaz13579sherry@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #64b5f6">
            <div class="container">
              <h3 class="panel-header">Programmer</h3>
              <p class="text-center">資訊工程學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/hsuyh.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">許育豪</h4>
            <p>想和厲害的人一起學習</p><br><br>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 大家安安</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/yuhaohsu.tw"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> hsuyh82716@gmail.com</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #bbdefb">
            <div class="container">
              <h3 class="panel-header">Marketing</h3>
              <p class="text-center">管理科學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/houjay.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">吳仁捷</h4>
            <p>喜歡跟N+裡面的夥伴一起做事</p><br><br>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 想認識就來跟我交朋友XD</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/profile.php?id=100002601630212"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> houjay2014@gmail.com</small>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading valign-wrapper" style="background-color: #90caf9">
            <div class="container">
              <h3 class="panel-header">Designer</h3>
              <p class="text-center">資訊管理與財務金融學系</p>
            </div>
          </div>
          <div class="panel-figure">
            <%= image_tag(asset_path("photo/anonymous.jpg"), class: "img-responsive img-circle")%>
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">王得安</h4>
            <p>拍照的價值在於有觀眾欣賞，希望有個大家喜歡的平台，分享創作。</p>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-comment"></span> 喜歡挑戰，國小玩特技車、國中單車環島，高中認真打網球，現在開始搞攝影，希望多嘗試，老的時候不會後悔。</small>
          </div>
          <div class="panel-thumbnails">
          <small><span class="glyphicon glyphicon-user"></span><a href="https://www.facebook.com/an0929?fref=ts"> Facebook</a></small><br>
          <small><span class="glyphicon glyphicon-envelope"></span> an0929@gmail.com</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>
</body>
</html>
