<html>
<head>
  <title></title>
  <%= stylesheet_link_tag "member/introduction" %>
</head>
<body>
    <div>
        <div id = "left">
            <div id = "word1">團隊介紹</div>
            <svg id = "line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 100.02"><defs><style>.cls-1,.cls-2{fill:#fbb03b;}.cls-2{stroke:#fbb03b;stroke-miterlimit:10;}</style></defs><title>資產 1</title><g id="圖層_2" data-name="圖層 2"><g id="圖層_1-2" data-name="圖層 1"><circle class="cls-1" cx="7.5" cy="92.52" r="7.5"/><line class="cls-2" x1="7.33" x2="7.33" y2="85.02"/></g></g></svg>
              <div id = "word2">設計部</div>
        </div>

        <div id = "right">

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>

          <div class = "member">
              <%= image_tag(asset_path("photo/chc.jpg"), class: "pimg")%>
              <div class = "inside">
                  <p>ＱＱＱＱ</p>
              </div>
          </div>
  
      </div>
  </div>
</body>
</html>
