<br><br><br>

<%= search_form_for @q ,url: "search_user" do |f| %>

  # Search if the name field contains...
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%= f.label :semester_id_eq %>
<%= f.select :semester_id_eq, options_from_collection_for_select(Semester.all.reverse, "id", "name", @q.semester_id_eq),{:prompt=> "學期"},{ :class=> "form-control",:onchange=>"search_by_select($(this));"} %>
<% f.label :department_id_eq %>
<%= f.select :department_id_eq, options_from_collection_for_select(Department.searchable, "id", "ch_name", @q.department_id_eq),{:prompt=> "系所"},{ :class=> "form-control",:onchange=>"search_by_select($(this));"} %>


  <%= f.submit %>
<% end %>
<table class="table" id="dataTables-paginate">

<thead>
        <tr class="row">
                <th class="col-md-2">Name</th>
                <th class="col-md-3">系所</th>
                <th class="col-md-1">學分數</th>
                <th class="col-md-2">課程地圖</th>
                <th>年級</th>
                <th>身份</th>
        </tr>
</thead>
<tbody id="body">
<% @users.each do |user|%>
       <tr class="row">
        <td>
                <% if user.uid%>
                        <%= image_tag "http://graph.facebook.com/"<<user.uid<<"/picture", size: "25x25" %>
                        <%= link_to user.name, "http://www.facebook.com/"<<user.uid, target:"_blank" %>
                <% else %>
                        <%=user.student_id      %>
                <% end%>
        </td>
        <% if !user.department.nil? %>
        <td>
                <%=user.department.ch_name%>
        </td>
        <% else %>
                <td>尚未填寫</td>
        <% end %>
        <td>
                <%=link_to user.total_credit,"/user/special_list?uid="<<user.id.to_s %>
        </td>
        <td>
        <% cm_id=user.course_maps.first.nil? ? 0 :user.course_maps.first.id %>
                <%=select_tag "course_map", options_from_collection_for_select(CourseMap.all, :id, :name, cm_id), prompt:"none", class:"course_map form-control", id:user.id%>
        </td>
<% unless user.semester.nil? %>
<% sem=user.semester.name%>
<td><%= sem[0..sem.length-2] %></td>
<% else %>
<td>尚未填寫</td>
<% end %>
<td>
<%=select_tag :role, options_for_select([[ "一般使用者",1 ], ["學校系辦單位",2 ], ["系統管理員", 0]], user.role), :class=>'form-control role', :user_id=>user.id%>
</td>

</tr>
<% end %>
</tbody>
</table>
