<%= javascript_include_tag "course_maps/manage", "data-turbolinks-track" => true %>

<h3>課程地圖 - <%=@course_map.name%></h3>  

<div class="well">
<h3>課程介紹
	<small>
		<%=link_to '編輯', 'javascript:void(0);', :class=>'cm-edit-head'%>
	</small>
</h3>
<table class="table table-bordered">
	<tr>
		<td>適用系所：</td>
		<td id='cm-head-dep'><%=(@course_map.department_id==0)? "不指定" : @course_map.department_ch_name%></td>
		<td>適用學期：</td>
		<td id='cm-head-year'><%=(@course_map.year==0)? "不指定" : @course_map.year%></td>
		<td>應修學分：</td>
		<td id='cm-head-grade'><%=@course_map.total_credit%></td>
	<tr>
	<tr>
		<td colspan="6"><p>說明：</p>
			<p id='cm-head-desc'><%=@course_map.desc%></p>
		</td>
	</tr>	
</table>

<hr>
<h3>
課程內容
<button class="btn btn-sm btn-warning pull-right" id="notify-user">Notify Update</button>
</h3>
<div id="course-map-content"></div>
</div>

<script>

$(document).ready(function(){
	var map_id = <%=@course_map.id %> ;
	$('#course-map-content').load('/course_maps/content?map_id='+map_id);
	
	$('.cm-edit-head').click(function(){
		var $cm_dep = $('#cm-head-dep') ;
		var $cm_year = $('#cm-head-year') ;
		var $cm_grade = $('#cm-head-grade') ;
		var $cm_desc = $('#cm-head-desc') ;
		var cm_head_info = { 
			dep: $cm_dep.text(), 
			year: $cm_year.text(), 
			desc: $cm_desc.text() 
		};

		if($(this).html()=='編輯'){
			$cm_dep.html('<%=j select_tag :dep, options_from_collection_for_select(Department.majorable.order("degree DESC"),"id","ch_name"), :prompt=>"不指定"  %>');
			$cm_year.html('<%=j select_tag :year, options_for_select(Semester::YEARS.map{ |y| [y, y] }), :prompt=>"不指定" %>');
			$cm_grade.html('<%=j text_field_tag :grade, @course_map.total_credit%>');
			$("#dep option").each(function() {
  				if($(this).text() == cm_head_info['dep']) {
    				$(this).attr('selected', 'selected');            
  				}                        
			});
			$("#year option:contains(" + cm_head_info['year'] + ")").attr('selected', 'selected');
			$cm_desc.html('<%=j text_area_tag "desc", '', {class: "form-control", rows: 10 }  %>');
			$('#desc').html(cm_head_info['desc']);
			$(this).html('<%=fa_icon "check",:class=>"btn btn-circle btn-success" %>');
		}else{//post 
			var dep = ($('#dep').val()) ? $('#dep').val() : 0 ;
			var year = ($('#year').val()) ? $('#year').val() : 0 ;		
			var grade = ($('#grade').val()) ? $('#grade').val() : 0 ;	
			cm_head_info['dep'] = $('#dep option:selected').text() ;
			cm_head_info['year'] = $('#year option:selected').text() ;
			cm_head_info['desc'] = $('#desc').val() ;
			$.ajax({
				type: "POST",
				url: "/course_maps/update_cm_head" ,
				data:{
					map_id: map_id,
					dep: dep,
					year: year,
					grade: grade,
					desc: $('#desc').val()
				},	
				success: function(data){			
					$cm_dep.html(cm_head_info['dep']);
					$cm_year.html(cm_head_info['year']);
					$cm_grade.html(grade);
					$cm_desc.html(cm_head_info['desc'] );			
				},	
				error: function(){
					alert('internal server error.');
				}
			});
			$(this).html('編輯');
			
		}
	});

	$("#notify-user").click(function(){
		if(!confirm("使用此地圖的使用者將會重新計算學分\n"
				+"請務必做完所有修改後再送出通知。\n\n"
				+"您確定要送出嗎?")){
			return false ;
		}
		$.ajax({
				type: "POST",
				url: "/course_maps/notify_user" ,
				data:{
					map_id: map_id,
				},	
				success: function(res){					
					$(this).attr("disabled", true);
					toastr["success"]("更新成功");
					setTimeout(function(){
						$(this).attr("disabled", false);
					}.bind(this), 5000);
				}.bind(this),	
				error: function(){
					alert("internal server error.");
				}
			});
		return true ;
	});
	
});

</script>
