<%= javascript_include_tag "course_maps/public", "data-turbolinks-track" => true %>

<div class="row" style="min-height:1000px;height:100%;">
	<div class="col-sm-3 col-md-2 affix-sidebar sidebar-nav" style="margin-top:-30px;margin-left:-5px;width:250px;height:100%;/*min-height:100%;*/">
		<%=render "course_maps/public/dept_sidebar"%>
	</div>
	</div>
	<div id="tip-test"></div>
	<div id="central-view" class="col-md-7" style="margin-left:300px;">
		<div class="panel panel-default">
			<div class="panel-body" id="cm-desc">
				<% if params[:dept_id].blank? %>
				<h4>請先至左方選擇系!</h4>
				<% end %>
			</div>
			<h3><strong>Q&A</strong></h3>
			<hr>
			<div id="QandA">
        <div id="fb-root"></div> 
			</div>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="scroll-sidebar hidden-xs hidden-sm" style="font-size:16px;position:fixed;margin-top:40px;"></div>
	</div>
	<ol id="joyRideTipContent">
		<li data-text="Next" class="">
			<h2>Tips</h2>
			<p>
			請使用Enter鍵或滑鼠點擊灰色處觀看	
			</p>
		</li>
		
		<li data-id="year-selector" data-button="Next">
			<h4>選取入學年度</h4>
			<p></p>
		</li>
		<li data-id="rules" data-button="Next" data-options="tipLocation:right">
			<h2>修課規定</h2>
			<p>至少需修0學分通常為該領域的其他選修即可滿足該領域的條件，若非上述情形則請回報</p>			
		</li>
		<li data-id="course-table" data-button="Next" data-options="tipLocation:right">
			<h2>課程列表</h2>
			<p>藍底色的列為可互相抵免的課程列表，可按左邊的+展開</p>
		</li>
		<li data-id="QandA" data-text="Next" data-options="tipLocation:top">
			<h2>Q&A</h2>
			<p>如果資訊有錯或有任何問題非常歡迎在此留言，我們將會儘快為您處理!!</p>
		</li>
		<li data-text="Next" class="">
			<h2>We need help!</h2>
			<p>
			目前可以幫同學計算列表上的必修/必選修等課程，但<strong>系外選修</strong>、<strong>任選理工科目</strong>、<strong>英文授課</strong>等較特殊的規則目前無法計算<br>
			此頁面是由團隊成員將學校的<a href="http://aadm.nctu.edu.tw/chcourse/class03.aspx?ftype=3">必修科目表</a>手動輸入至系統<br>
			我們非常需要同學們一起向系上推動，希望未來能由系助理來協助輸入資訊<br>
			我們的目標是能夠成為學生與系辦助理的橋梁，能將預審學分全面自動化，並讓系辦助理將抵免等資訊統一公開至此頁面，減少同學與系助理的負擔<br>
			目前仍有很多系缺少資訊，若有同學願意擔任該系的課程管理員請至粉專私訊 :)<br>						
			</p>
		</li>
		
  </ol>
	
</div>
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=<%=Facebook::APP_ID%>";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	function show_tip(){
		$('#joyRideTipContent').joyride("destroy");
		$('#joyRideTipContent').joyride({
			autoStart : true,
			cookieMonster: false
		});
	}
	function load_cm(dept_id,year){		
		$.getJSON("/course_maps/public",{
			dept_id: dept_id,
			year: year
			},
			function(data){
				$("#cm-desc").html(tmpl("cm_public", data));
				$("#year-"+year).addClass("disabled");
				$("#sem-btn").click();
				get_piechart_data("#chart-content", data.course_map);
				if(!isMobile){
					$(".scroll-sidebar").html(tmpl("cf_scrolllist", data),function(){
						$('body').scrollspy({ target: '.scroll-sidebar',offset:-60 });						
					});
					$('body').scrollspy('refresh');
					$('.main-menu li a').click(function(event) {
							event.preventDefault();
							$('body').scrollTo($(this).attr('href'),700,{offset:-60});
					});
				}
				
				$('#joyRideTipContent').joyride({
					autoStart : true,
					cookieMonster: true,           
					cookieName: 'CourseMapPublicTip', 
					postStepCallback : function (index, tip) {
						if (index == 2) {
							$(".toggle-group:visible")[0].click();
						}						
					},
					modal:true,
					expose: true
				});
			}
		);
	}
	$(document).ready(function(){		
		var dept_id=<%=params[:dept_id]||0%>;
		var year=<%=params[:year]||0%>;
		$('#fb-root').html('<div class="fb-comments" data-href="" data-numposts="5" width="100%" data-colorscheme="light"></div>');
		$('.fb-comments').attr('data-href',"<%=request.original_url%>");
		if(dept_id!=0){
			$("#dept-"+dept_id).parent().parent().prev().click();		
			$("#dept-"+dept_id).addClass("selected");
			if(year!=0){
				load_cm(dept_id,year);	
			}
		}
	
	});

	function load_qa(dept_id,sem_id){
		var qa_div = $('#QandA').children().first() ;
		$('#QandA').show();
		
	}
	
	function genCfTree(cf){
		
		str='<li class="cf-li"><a href="#'+cf.id+'">'+cf.cf_name+'</a></li>';
		if(cf.cf_type==3){
			str+='<ul class="nav sub-sub-menu">';
			for(var i=0,child_cf;child_cf=cf.child_cf[i];i++){
				str+=genCfTree(child_cf);
			}
			str+='</ul>'
		}
		return str;
	}
	
	function toggleGroup(obj,cf_id,id){
		var target=$(".cf-"+cf_id+"-"+id);
		target.toggle(600,function(){
			if(target.is(":visible")){
				obj.find(".fa-plus").toggleClass("fa-minus fa-plus");
			}
			else{
				obj.find(".fa-minus").toggleClass("fa-minus fa-plus");
			}
		});
		
	}
	function toggleBtn(obj){
		var x=obj.attr('type');
		if(x=="show"){
			obj.text("收回課程群組");
			$("[class*=cf-]").show();
			obj.attr('type','hide');
			$(".fa-plus").attr("class","fa fa-minus");
		}
		else{
			obj.text("展開課程群組");
			$("[class*=cf-]").hide();
			obj.attr('type','show');
			$(".fa-minus").attr("class","fa fa-plus");
		}
	}
	
	
	
</script>

<%= render "/course_maps/public/xtmpl_scrollbar" %>


<%= render "/course_maps/public/xtmpl_course_table" %>

<%= render "/course_maps/public/xtmpl_qa" %>

<style>
	.lead_course {
		background-color:#BBFFEE;
	}
	/*html, body{height:100%;}*/

</style>