<h3>課程地圖 <%= link_to '新增', new_course_map_path, :class=>"btn btn-warning" %></h3>
<table class="table">
	<tr>
		<th>標題</th>
		<th>適用之系所</th>
		<th>適用之入學年度</th>
		<th>建立者</th>
		<th>功能</th>
	</tr>
<% @course_maps.each do |cm| %>
  <tr> 
  	<td><%= link_to cm.name, course_map_path(cm) %></td>
  	<td>
  		<% if cm.department_id != 0%>
  		<%=cm.department.ch_name%>	
  		<% else%>
  		未指定
  		<% end %>
  	</td>
  	<td><%= (cm.semester.presence) ? cm.semester.year.to_s : '未指定' %></td>
  	<td><%= cm.user.name%></td>
  	<td>
<!--  	<%=link_to "加入我的統計", "/user/select_cm?uid=#{current_user.id}&cm_id=#{cm.id}"%> -->
	<!-- if current_user.id==cm.user_id -->  
    	<%= link_to '刪除', course_map_path(cm),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
	<!-- end -->              
  	</td>
	<td>
<!--  	<%=link_to "加入我的統計", "/user/select_cm?uid=#{current_user.id}&cm_id=#{cm.id}"%> -->
	<!-- if current_user.id==cm.user_id -->  
    	<%= link_to '刪除', course_map_path(cm),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
	<!-- end -->              
  	</td>
  <tr>
<% end %>
</table>

