<%= javascript_include_tag "course_maps/public", "data-turbolinks-track" => true %>

<div id="central-view" class="containe">
	<%=form_tag "/course_maps",method:"GET" do %>
		<div class="row" id="">
			<div class="col-md-12 text-center">
				<!--
				<div style="width:108px;display:inline-block;">	
					<%=select_tag "college", options_for_select(@college_sel),prompt: "學院",class:"form-control" %>
				</div>
				-->
				<div style="width:200px;display:inline-block;">	
					<%=select_tag "dept_id", options_for_select(@dept_sel,params[:dept_id]),prompt: "系所",class:"form-control",required:"true" %>
				</div>
				<div style="width:120px;display:inline-block;">
					<%=select_tag "year", options_for_select(@year_sel,params[:year]),prompt: "入學年度",class:"form-control",required:"true" %>
				</div>	
				<%=submit_tag "送出",class:"btn btn-success"%>
			</div>	
		</div>
	<% end %>
		
	<div class="col-md-10 col-md-offset-1 panel panel-default">
		<div class="panel-body" id="cm-desc" style="margin-left:5.4%;margin-right:2.4%;">			
			<h4 class="text-center"><%=params[:not_found] ? "尚無資訊!!尋找同學幫忙中 請在下方留言!!" : "請選擇系所及入學年度"%></h4>
		</div>
		<div id="QandA" style="">
				<h3><strong>問題回報區</strong></h3>
				<hr>
				<div id="fb-root"></div>
			</div>
	</div>
</div>
	
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=<%=Facebook::APP_ID%>";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	$(document).ready(function(){
		initFbComment("");
	});

</script>