<%= javascript_include_tag "course_maps/public", "data-turbolinks-track" => true %>


<div class="row" style="min-height:1000px;height:100%;">
	<div class="col-sm-3 col-md-2 affix-sidebar sidebar-nav" style="margin-top:-30px;margin-left:-5px;width:250px;height:100%;">
		<%=render "course_maps/public/dept_sidebar"%>
	</div>
	</div>
	<div id="tip-test"></div>
	
	<div id="central-view" class="col-md-10 col-sm-9" style="margin-left:300px;">
		<div class="panel panel-default">
			<div class="panel-body" id="cm-desc" style="margin-left:5.4%;margin-right:2.4%;">
				<% if params[:dept_id].blank? %>
				<h4><b>請先至左方選擇系或由搜尋欄查詢</b><br></h4><br>
				<div class="search" style="width:30%">
				<form action="#" class="search" method="get" id="searchform" >
				　科系： <select name="Department">
				　<option value="id1" >資工系 網多組</option>
				　<option value="id2">資工系 資電組</option>
				　<option value="id3">資工系 資工組</option>
				　<option value="id4">資科工所</option>
				  </select><br>
				　年級： <select name="Grade">
				　<option value="UnderGraduate1">一年級</option>
				　<option value="UnderGraduate2">二年級</option>
				　<option value="UnderGraduate3">三年級</option>
				　<option value="UnderGraduate4">四年級</option>
				  <option value="Graduate1">碩一</option>
				　<option value="Graduate2">碩二</option>
				  </select><button class="btn btn-primary" type="submit" form="searchform" value="Submit"
				style="margin-left:100%;"
				>送出</button>
				</form>
				
				
				</div>
				<% end %>
			</div>
			<div class="panel-body" id="cm-desc">
			
			</div>
			<div id="QandA" style="display: none;">
			</div>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="scroll-sidebar hidden-xs hidden-sm" style="font-size:16px;position:fixed;margin-top:40px;"></div>
	</div>
	<ol id="joyRideTipContent">
		<li data-text="Next" class="">
			<h2>Tips</h2>
			<p>
			請使用Enter鍵或滑鼠點擊灰色處觀看	
			</p>
		</li>
		
		<li data-id="year-selector" data-button="Next">
			<h4>選取入學年度</h4>
			<p></p>
		</li>
		<li data-id="rules" data-button="Next" data-options="tipLocation:right">
			<h2>修課規定</h2>
			<p>至少需修0學分通常為該領域的其他選修即可滿足該領域的條件，若非上述情形則請回報</p>			
		</li>

		<li data-text="Next" class="">
			<h2>We need help!</h2>
			<p>
			此頁面是由團隊成員將學校的<a href="http://aadm.nctu.edu.tw/chcourse/class03.aspx?ftype=3">必修科目表</a>手動輸入至系統，若有錯誤請至下方Q&A區回報，我們將會儘快處理<br>
			我們正與一些系洽談中，之後希望由系助理來協助輸入，若同學願意擔任該系管理員請至粉專私訊 :)<br>
			目前可以幫同學計算列表上的必修/必選修等課程，但<strong>系外選修</strong>、<strong>任選理工科目</strong>、<strong>英文授課</strong>等較特殊的規則目前無法計算<br>			
			</p>
		</li>
		
  </ol>
	
</div>
<script>


	$(document).ready(function(){
		var dept_id=<%=params[:dept_id]||0%>;
		var year=<%=params[:year]||0%>;
		if(dept_id!=0){
			$("#dept-"+dept_id).parent().parent().prev().click();		
			$("#dept-"+dept_id).addClass("selected");
			if(year!=0){
				loadCm(dept_id,year);	
			}
		}
	
	});

</script>

<%= render "/course_maps/public/xtmpl_course_table" %>
<style>
	.tooltip-course
	{
		background:#fff;
		border:1px #ccc solid;
		border-radius:6px;
		position:absolute;
		left:300px;
		top:300px;
		width:auto;
		height:auto;
		padding-bottom:5px;
		display:none;
		z-index:1000;
		
		-webkit-box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.75);
		box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.75);
	}
	.course-name
	{
		overflow:hidden;
		background:#aaa;
		
		color:white;
		padding:5px 5px;
	}
	.course-content
	{
		
		color:#555;
		padding:5px 5px;
		overflow:hidden;
		display:block;
		
	}
	.widget-course
	{
		height:80px;
		width:160px;
		margin-bottom:20px;
		
		float:right;
		display:block;
	}
	
	.square-course
	{
		width:12px;
		height:12px;
		background:#666;
		display:inline-block;
		margin-left:15px;
		margin-top:10px;
		line-height:20px;
	}
	.widget-line
	{
		line-height:20px;
	}
	.lead_course {
		border-bottom: 3px solid #ddd;
		-moz-box-shadow:    inset 0 0 10px #000000;
	  -webkit-box-shadow: inset 0 0 10px #000000;
	  box-shadow:         inset 0 0 10px #000000;
	}
	.grade1
	{
		background:#333;
		color:white;
		
	}
	.grade2
	{
		border-left: 5px solid #fff;
	}
	.semester1
	{
		background:#ccc
	}
	.semester2
	{
		background:#ccc;
		border-left: 2px solid #fff;
	}
	.btn-course
	{
		padding:4px 8px;
		margin:10px 0px;
		color:#fff;
		border-radius:4px;
		font-size:12px;
		text-align:center;
		height:42px;
		background:#0080FF;
	}
	.btn-course:hover
	{
		opacity:0.8;
	}
	#btn-course-required
	{
		background:#0080FF;
	}
	#btn-course-minor
	{
		background:#FF8040;
	}
	#btn-course-main
	{
		background:#FF0080;
	}
	
	#table-gray-line
	{
		border-left:1px #aaa solid;
	}
	#table-not-limit
	{
		height:0px;
		background:#ccc;
	}

	.btn-course:hover
	{
		opacity:0.8;
	}
	#btn-course-required
	{
		background:#0080FF;
	}
	#btn-course-minor
	{
		background:#FF8040;
	}
	#btn-course-main
	{
		background:#FF0080;
	}
	
	#table-gray-line
	{
		border-left:1px #aaa solid;
	}
	#table-not-limit
	{
		height:0px;
		background:#ccc;
	}
	/*html, body{height:100%;}*/

</style>