<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="all"  />
<style>
.grid-default { width: 104px ; height: 50px ;}
.text-family{ font-family: Geneva, Arial, Helvetica, san-serif,微軟正黑體; font-size: 14px;}
.text-center {
	text-align: center;
}
</style>
<!--
<div>
	<p class="text-center">
		<%= ((@map.semester_id==0)?'':(@map.semester.year.to_s+'年度'))%> <%=@map.name%>
	</p>
</div>
-->
<table border="1" class="text-family table">
	<tr>
		<td colspan="14" bgcolor="#A9F5BC"><p class="text-center">ㄧ. 本系所專業科目</p></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td><p class="text-center">科目名稱及學分</p></td>
		<td>1上</td>
		<td>1下</td>
		<td>2上</td>
		<td>2下</td>
		<td>3上</td>
		<td>3下</td>
		<td>4上</td>
		<td>4下</td>
		<td>應修</td>
		<td>實得</td>
		<td><p class="text-center">備註</p></td>
	</tr>
	<% user_simulation_tmp = @user_courses%>
	<% @map.course_field_groups.each do |cfg|%>
		<% res = statistic_table_cal(@map.id, cfg, user_simulation_tmp, @user)%>
		<% if res[:cfg_type]!=3%> 
			<% res[:cf_info][0][:course_units].each_with_index do |unit, index|%>	
		<tr>		
			<%if index==0%>
				<td width="20px" colspan="2" rowspan="<%=j count_all_row(res)%>">
					<p class="text-center"><%=res[:cf_info][0][:cf_name]%></p>
				</td>
			<% end %>
			<td><%=unit[:course].ch_name%></td>
			<% for i in 1..8 do%>
				<td><%=(unit[:grade].include? i)?(unit[:score][unit[:grade].index(i)].to_s):""%></td>
			<% end %>
			<td><%=unit[:credit].to_s%></td>
			<td><%=unit[:credit_get].to_s%></td>
			<td>
				<%=((unit[:note].presence)?unit[:note]:"")%>
			</td>
		</tr>	
			<% end %>	
		<% else %>	<!-- 領域 -->
			<% flag = true%>
			<% res[:cf_info].each do |cf| %>
				<%cf[:course_units].each_with_index do |unit, index|%>
					<tr>
						<%if flag%>
							<td width="10px" rowspan="<%=j count_all_row(res)%>">
								<p class="text-center"><%=res[:cfg_name]%></p>
							</td>
						<% flag = false%>	
						<% end %>
						<%if index==0%>
							<td width="20px" rowspan="<%=j cf[:course_units].count.to_s%>">
								<p class="text-center"><%=cf[:cf_name]%></p>
							</td>
						<% end %>
						
						<td><%=unit[:course].ch_name%></td>
					<% for i in 1..8 do%>
						<td><%=(unit[:grade].include? i)?(unit[:score][unit[:grade].index(i)].to_s):""%></td>
					<% end %>
						<td><%=unit[:credit]%></td>
						<td><%=unit[:credit_get].to_s%></td>
						<td>
							<%=((unit[:note].presence)?unit[:note]:"")%>
						</td>					
					</tr>
				<% end %>
			<% end %>
		<% end %>
		<% user_simulation_tmp = res[:course_remaining]%>
		
	<% end %>
	
	<tr>
		<td colspan="14" bgcolor="#FAAC58"><p class="text-center">二. 其他選修科目(外系所選修)</p></td>
	</tr>	
	<% others =  user_simulation_tmp.select{|s| s.course_detail.course.department.degree.to_i != 0}%>
	<% sum = others.count%>
	<% others.each_with_index do |list, index|%>
		<% grade = count_grade(@user.semester, list.course_detail.semester)%>
		<tr>
			<% if index==0 %>
				<td width="10px" colspan="2" rowspan="<%=j sum.to_s%>"></td>
			<%  end %>
			<td><%=list.course_detail.course.ch_name%></td>
		<% for i in 1..8 do%>
			<td><%=(grade==i)?(list.score.to_s):""%></td>
		<% end %>
			<% credit = list.course_detail.credit.to_s %>
			<td><%=credit%></td>
			<td><%=((check_pass(@user,list.score) and grade!=-1)?credit:"0")%></td>
			<td>
				<%= (grade==-1)?"本學期修習中":""%>
			</td>
		</tr>
	<% end %>
	<% user_simulation_tmp = user_simulation_tmp - others %>
	<tr>
		<td colspan="14" bgcolor="#F4FA58"><p class="text-center">三. 校訂共同科目</p></td>
	</tr>	
	<% foregin_languages = user_simulation_tmp.select{|s| s.course_detail.course.department.ch_name=="外語"}%>
	<% sum = foregin_languages.count%>
	<% foregin_languages.each_with_index do |list, index|%>
		<% grade = count_grade(@user.semester, list.course_detail.semester)%>
		<tr>	
			<% if index==0 %>
				<td width="10px" colspan="2" rowspan="<%=j sum.to_s%>">
					<p class="text-center">外語科目</p>
				</td>
			<% end %>
			
			<td ><%=list.course_detail.course.ch_name%></td>
		<% for i in 1..8 do%>
			<td><%=(grade==i)?(list.score.to_s):""%></td>
		<% end %>
			<% credit = list.course_detail.credit.to_s %>
			<td><%=credit%></td>
			<td><%=((check_pass(@user,list.score) and grade != -1)?credit:"0")%></td>
			<td>
				<%= (grade==-1)?"本學期修習中":""%>
			</td>
		</tr>	
	<% end %>
	<% user_simulation_tmp = user_simulation_tmp - foregin_languages %>
	
	<% liberals = user_simulation_tmp.select{|s| s.course_detail.course.department.ch_name=="通識"}%>
	<% sum = liberals.count%>
	<% liberals.each_with_index do |list, index|%>
		<% grade = count_grade(@user.semester, list.course_detail.semester)%>
		<tr>	
			<% if index==0 %>
				<td width="10px" colspan="2" rowspan="<%=j sum.to_s%>">
					<p class="text-center">通識科目</p>
				</td>
			<% end %>
			
			<td ><%=list.course_detail.course.ch_name%></td>
		<% for i in 1..8 do%>
			<td><%=(grade==i)?(list.score.to_s):""%></td>
		<% end %>
			<% credit = list.course_detail.credit.to_s %>
			<td><%=credit%></td>
			<td><%=((check_pass(@user,list.score) and grade!=-1)?credit:"0")%></td>
			<td>
			<%= (grade==-1)?"本學期修習中":""%>
			</td>
		</tr>	
	<% end %>

</table>