<%= form_for Discuss.new,url:{action:"create"}, :role=>"form", :remote=>"true" do |f|%>
	<div class="panel panel-default bs-callout-success" style="border-left-width:5px;">

		<div class="panel-heading row no-margin-left no-margin-right">
			<% if current_user && current_user.uid %>
				<div class="col-md-1">
					<%= image_tag "http://graph.facebook.com/#{session[:auth_facebook][:uid]}/picture",id:"avatar", size: "50x50", style:"display:inline-block" %>
				</div>
				<div class="col-md-11">
					<br>
					<%=f.text_field "title", class:"form-control", placeholder:"標題...",required:"true"%>
					<%=f.hidden_field "course_teachership_id", value:@ct.id %>
				</div>
			<% else %>
				<input type="text" class="form-control" id="main_title" placeholder="請先登入" disabled="true">
			<% end %>	
		</div>

		<div class="panel-body row">
			<div class="col-md-12">
				
				<%=f.text_area "content", class:"form-control" ,rows:"5", placeholder:"內容...", required:"true"%>
			</div>
		</div>
		<div class="panel-footer row no-margin-left no-margin-right">
			<div class="col-md-12 text-right">
			<% if current_user && current_user.uid %>

				<div class="checkbox" style="display:inline-block;">
					<label style="font-size:18px">
						<%=f.check_box "is_anonymous"%> 匿名
					</label>
				</div>
				&nbsp;&nbsp;
				<%= f.submit "送出", :class=>"btn btn-primary " %>

			<% else %>
				<%=link_to "/auth/facebook", class:"btn btn-primary " do %>
					<%=fa_icon "facebook"%> fb登入
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
<% end %>