
<%= form_for SubDiscuss.new, url:{action:'create'}, :class=>"sub-discussion col-md-offset-1 col-md-10", :role=>"form", :remote=>"true" do |f| %>
	
	<div class="col-md-1">
		<%= image_tag "http://graph.facebook.com/#{session[:auth_facebook][:uid]}/picture", size: "45x45", class:"", style:"margin-top:10px;"  %>
		<br>
	</div>
	<div class="col-md-9">
		<%= f.text_area "content", class:"form-control", rows:"5", placeholder:"內容...", required:"true" %>
		<%=hidden_field_tag "type","sub"%>
		<%=f.hidden_field "discuss_id"%>
		<%=hidden_field_tag "course_teachership_id",@ct.id%>
	</div>
	<div class="col-md-2" style="">
		<p>
		<br><br><br><br>
		<%= f.submit "送出", :class=>"btn btn-primary " %>
		</p>
	</div>
<% end %>