<div><h4>DISCUSS</h4></div>
<br>

<table class="table table-hover bg-white-transparent" id="discuss_table">
	<tr  class="row">
		<th class="col-md- text-center"  style="width:30%;">User Name</th>
		<th class="col-md- text-center"  style="width:40%;">Title</th>
		<th class="col-md- text-center"  style="width:30%;">Updated time</th>
	</tr>
    <tbody>
        <% @discusses.each do |discuss| %>
            <tr id="<%=discuss.id%>" class="row clickable-row clickable-hover" data="<%=discuss.content%>" title="<%=discuss.title%>">
                <td  class="text-center"><%= discuss.user.name %></td>
                <td  class="text-center"><%= discuss.title %></td>
                <td  class="text-center"><%= discuss.updated_at %></td>
            </tr>
        <% end %>
    </tbody>    
</table>    


<%= paginate @discusses , :window=>2%>
<script>
$(function(){
	$(".clickable-row").click(function() {
			//window.document.location = $(this).attr("href");
            var currentId = $(this).attr('data');
            var currentContent = $(this).attr('title');
            showGlobalModal(currentId, currentContent);
	});
});
</script>


