<%= search_form_for @q, url:"/discusses/", class:"form-inline" do |f| %>
	<div class="row">	
		<div class="col-md-12 text-center">
			<%=link_to "新增文章",new_discuss_path, class:"btn btn-info", style:"font-size:16px;"%>
			<% if current_user&&current_user.discusses.count>0 %>
				<%=link_to "我的文章","/discusses/?mine=true",class:"btn btn-success",style:"font-size:16px;" %>
			<% end %>
			<div class="input-group" >
				<%=text_field_tag :custom_search,params[:custom_search], class: "form-control", placeholder:"課名/老師/標題",style:"width:350px;" %>
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary" id="search"><%=fa_icon "search"%></button>        
				</span><!-- /btn-group -->
			</div><!-- /input-group -->
		</div>
	</div>
<% end %>
<br>
<table class="table table-hover bg-white-transparen" id="course_table" style="background-color:white;" >
	<tr>
		<th>課程</th>
		<th>標題</th>
		<th>作者</th>
		<th>時間</th>
	</tr>
<% @discusses.each do |discuss| %>
	<tr id="discuss-<%=discuss.id%>" class="clickable-hover" onclick="show2('<%=j discuss.to_json_obj(current_user.try(:id)).to_json%>');">
		<td class="ct_name"><%=discuss.course.ch_name%>/<%=discuss.course_teachership.teacher_name%></td>
		<td class="title"><%=discuss.title%></td>		
		<td class="user_name"><%=discuss.is_anonymous ? "匿名" : discuss.user_name%></td>
		<td class="user_id hidden"><%=discuss.user.uid%></td>
		<td class="time"><%=discuss.created_at%></td>
		<% discuss.sub_discusses.each do |sub_d| %>
			<td class="sub_content hidden"><%=sub_d.content%></td>
		<% end %>
	</tr>
<% end %>
</table>
<%= paginate @discusses, :window=>2 %>

<%=render "modal_content" %>

<script>
	function show2(data_str){		
		var data=JSON.parse(data_str);
		
		showGlobalModal(2,tmpl("discuss-modal-title",data ),tmpl("discuss-modal-content",data),function(){window.history.back();});
		$("#sub_discuss_discuss_id").val(data.id);
		
		window.history.pushState(null,null,"/discusses/"+data.id);
		<% share_url="#{root_url}discusses/" %>
		$("[class^=share-button]").each(function(){
			var share_url='<%=j share_url.html_safe%>'+data.id;
			
			new Share('.'+$(this).attr('class'), {
				ui: {
					button_text :"分享",
					button_font : false,
				},
				networks: {
					facebook: {
						app_id: "<%=Facebook::APP_ID%>",
						title : data.title,
						description: data.content,
						url : share_url,
						caption: ""
					},
					google_plus:{
						url :share_url
					},
					twitter:{
						url :share_url,
						description :data.content.substr(0,50)
					},
					pinterest:{
						enabled:false
					},
					email:{
						enabled:false
					}
				}
			});
		});
	}
	
</script>


