<div id="main-container" class="container bg-white">
  <div class="row">
    <div class="col-md-9 col-md-offset-1">
			<h1><%=@title%></h1>
			<br>
			<h4>Step1.選擇適用課程 - <span class="text-center" id="ct-id" data="<%=@ct.try(:id)%>"><%=@ct.try(:course_ch_name)%>/<%=@ct.try(:teacher_name)%></span></h4>
			<div id="cts-search-form">
			</div>
			<hr>
			<h4>Step2.輸入標題以及內容</h4>
			<%=form_for @discuss, :url => {:action => @discuss.new_record? ? 'create' : "update" }, :html=>{id:"discuss-form",class: "form-horizontal"} do |f| %>
				<div class="form-group">
					<label class="col-sm-2 control-label">標題</label>
					<div class="col-sm-10">
						<%= f.text_field "title", :class => "form-control",required:"true",placeholder:"" %>
					</div>	
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">內容</label>
					<div class="col-sm-10">
						<%= f.text_area "content", :class => "form-control",required:"true",placeholder:"",rows:"10" %>
					</div>
					<%=f.hidden_field "course_teachership_id",value:"#{@ct.try(:id)}" %>
				</div>
        <div class="form-group" style="margin-bottom: 0px;">
          <label class="col-sm-2 control-label">甜度</label>
          <div class="col-sm-10" >
            <fieldset id="sweet" class="rating">
              <input type="radio" id="sweet_star5" name="discuss[sweety_rating]" value="5" /><label class = "full" for="sweet_star5" title="Awesome - 5 stars"></label>
              <input type="radio" id="sweet_star4half" name="discuss[sweety_rating]" value="4.5" /><label class="half" for="sweet_star4half" title="Pretty good - 4.5 stars"></label>
              <input type="radio" id="sweet_star4" name="discuss[sweety_rating]" value="4" /><label class = "full" for="sweet_star4" title="Pretty good - 4 stars"></label>
              <input type="radio" id="sweet_star3half" name="discuss[sweety_rating]" value="3.5" /><label class="half" for="sweet_star3half" title="Meh - 3.5 stars"></label>
              <input type="radio" id="sweet_star3" name="discuss[sweety_rating]" value="3" /><label class = "full" for="sweet_star3" title="Meh - 3 stars"></label>
              <input type="radio" id="sweet_star2half" name="discuss[sweety_rating]" value="2.5" /><label class="half" for="sweet_star2half" title="Kinda bad - 2.5 stars"></label>
              <input type="radio" id="sweet_star2" name="discuss[sweety_rating]" value="2" /><label class = "full" for="sweet_star2" title="Kinda bad - 2 stars"></label>
              <input type="radio" id="sweet_star1half" name="discuss[sweety_rating]" value="1.5" /><label class="half" for="sweet_star1half" title="Meh - 1.5 stars"></label>
              <input type="radio" id="sweet_star1" name="discuss[sweety_rating]" value="1" /><label class = "full" for="sweet_star1" title="Sucks big time - 1 star"></label>
              <input type="radio" id="sweet_starhalf" name="discuss[sweety_rating]" value="0.5" /><label class="half" for="sweet_starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
          <label class="col-sm-2 control-label">涼度</label>
          <div class="col-sm-10" >
            <fieldset id="cool" class="rating">
              <input type="radio" id="cold_star5" name="discuss[cold_rating]" value="5" /><label class = "full" for="cold_star5" title="Awesome - 5 stars"></label>
              <input type="radio" id="cold_star4half" name="discuss[cold_rating]" value="4.5" /><label class="half" for="cold_star4half" title="Pretty good - 4.5 stars"></label>
              <input type="radio" id="cold_star4" name="discuss[cold_rating]" value="4" /><label class = "full" for="cold_star4" title="Pretty good - 4 stars"></label>
              <input type="radio" id="cold_star3half" name="discuss[cold_rating]" value="3.5" /><label class="half" for="cold_star3half" title="Meh - 3.5 stars"></label>
              <input type="radio" id="cold_star3" name="discuss[cold_rating]" value="3" /><label class = "full" for="cold_star3" title="Meh - 3 stars"></label>
              <input type="radio" id="cold_star2half" name="discuss[cold_rating]" value="2.5" /><label class="half" for="cold_star2half" title="Kinda bad - 2.5 stars"></label>
              <input type="radio" id="cold_star2" name="discuss[cold_rating]" value="2" /><label class = "full" for="cold_star2" title="Kinda bad - 2 stars"></label>
              <input type="radio" id="cold_star1half" name="discuss[cold_rating]" value="1.5" /><label class="half" for="cold_star1half" title="Meh - 1.5 stars"></label>
              <input type="radio" id="cold_star1" name="discuss[cold_rating]" value="1" /><label class = "full" for="cold_star1" title="Sucks big time - 1 star"></label>
              <input type="radio" id="cold_starhalf" name="discuss[cold_rating]" value="0.5" /><label class="half" for="cold_starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px;">
          <label class="col-sm-2 control-label">深度</label>
          <div class="col-sm-10" >
            <fieldset id="hardness" class="rating">
              <input type="radio" id="hardness_star5" name="discuss[hardness_rating]" value="5" /><label class = "full" for="hardness_star5" title="Awesome - 5 stars"></label>
              <input type="radio" id="hardness_star4half" name="discuss[hardness_rating]" value="4.5" /><label class="half" for="hardness_star4half" title="Pretty good - 4.5 stars"></label>
              <input type="radio" id="hardness_star4" name="discuss[hardness_rating]" value="4" /><label class = "full" for="hardness_star4" title="Pretty good - 4 stars"></label>
              <input type="radio" id="hardness_star3half" name="discuss[hardness_rating]" value="3.5" /><label class="half" for="hardness_star3half" title="Meh - 3.5 stars"></label>
              <input type="radio" id="hardness_star3" name="discuss[hardness_rating]" value="3" /><label class = "full" for="hardness_star3" title="Meh - 3 stars"></label>
              <input type="radio" id="hardness_star2half" name="discuss[hardness_rating]" value="2.5" /><label class="half" for="hardness_star2half" title="Kinda bad - 2.5 stars"></label>
              <input type="radio" id="hardness_star2" name="discuss[hardness_rating]" value="2" /><label class = "full" for="hardness_star2" title="Kinda bad - 2 stars"></label>
              <input type="radio" id="hardness_star1half" name="discuss[hardness_rating]" value="1.5" /><label class="half" for="hardness_star1half" title="Meh - 1.5 stars"></label>
              <input type="radio" id="hardness_star1" name="discuss[hardness_rating]" value="1" /><label class = "full" for="hardness_star1" title="Sucks big time - 1 star"></label>
              <input type="radio" id="hardness_starhalf" name="discuss[hardness_rating]" value="0.5" /><label class="half" for="hardness_starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
          </div>
        </div>
				<div class="col-md-12 text-right">
					<div class="checkbox" style="display:inline-block;">
						<label style="font-size:18px">
							<%=f.check_box "is_anonymous"%> 匿名
						</label>
					</div>
					&nbsp;&nbsp;
					<button onclick="preview();return false;" class="btn btn-lg btn-success">預覽</button>
					<%= f.submit "送出", class: "btn btn-lg btn-primary " %>
					<% if !@discuss.new_record? %>
						<%= link_to '刪除', discuss_path(@discuss), :method => :delete, :data => { :confirm => "確認刪除?" },class:"btn btn-lg btn-danger" %>
					<% end %>
					<br><br>
				</div>
				
			<% end %>
			
		</div>
	</div>
</div>

<%=render "modal_content" %>

<script>
	$(function(){
		$("#cts-search-form").load("/search/cts?multi=false");
		$("#discuss-form").submit(function(){	//check ct selected or not then fill
			var id=$("#ct-id").attr("data");
			if(id==""){
				toastr["warning"]("請先選擇適用課程!");
				return false;
			}
			else{
				$("#discuss_course_teachership_id").val(id);
				return true;
			}
		});
	});
	function selectCts(name,id){
		_selectCts(name,id);
	}
	function preview(){
		var data={
			isPreview:true,
			is_anonymous:$("#discuss_is_anonymous").prop("checked"),
      hasSocial: <%=current_user.hasSocialAuth? %>,
			ct_name:$("#ct-id").text(),
			user_name:$("#discuss_is_anonymous").prop("checked") ? "匿名" : "<%=current_user.name%>",
			imgsrc:"<%=current_user.avatar_url %>",
      webpage:"<%=current_user.social_webpage_url%>",
			title:$("#discuss_title").val(),
			content:$("#discuss_content").val(),
			id:0,
			sub_discusses:[]
		};
		showGlobalModal(2,tmpl("discuss-modal-title",data ),tmpl("discuss-modal-content",data),function(){});		
	}
	
</script>