<%= javascript_include_tag "discuss", "data-turbolinks-track" => true %>
<div id="content-page" class="bg-white col-md-10 col-md-offset-1" style="//margin-bottom:40px;"></div>
<%=render "modal_content" %>
<script>
	$(function(){
		var data=<%=@result.to_json.html_safe%>;
		$("#content-page").html(tmpl("discuss-modal-title",data )+tmpl("discuss-modal-content",data));
		<% share_url=request.original_url %>
		$("[class^=share-button]").each(function(){
			var share_url='<%=j share_url.html_safe%>';
			
			new Share('.'+$(this).attr('class'), {
				ui: {
					button_text :"分享",
					button_font : false,
				},
				networks: {
					facebook: {
						app_id: "<%=Facebook::APP_ID%>",
						title : data.title,
						description: data.content,
						url : share_url,
						caption: ""
					},
					google_plus:{
						url :share_url
					},
					twitter:{
						url :share_url,
						description :data.content.substr(0,50)
					},
					pinterest:{
						enabled:false
					},
					email:{
						enabled:false
					}
				}
			});
		});
	});
</script>