
<div class="col-md-12 col-offset-" style="">

<div class="bs-callout bs-callout-default well">
	<h3><%=fa_icon "comment-o"%>課程討論</h3>
	<h4>請在此頁討論與課程內容有關的問題或發表心得，對選課或老師的評論請至<%=link_to "課程資訊頁面",course_path(@ct.course, :tid=>@ct.teacher.id)%></h4>
	<h4 class="text-right"><%=link_to "javascript:void(0);", onclick:"$('#main_title').focus();" do %>
		<%=fa_icon "pencil-square-o" %>新增主題
	<% end %>
	</h4>
	
</div>



<% @discusses.each do |discuss| %>
	<div class="panel panel-default bs-callout-success" id="discuss_<%=discuss.id%>" style="border-left-width:5px;">
		<div class="panel-heading row no-margin-left" >
			<div class="col-md-1">
			<a href="https://www.facebook.com/<%=discuss.user.uid%>" target="_blank" class="masterTooltip" title="<%=discuss.user.name%>">
			<%= image_tag "http://graph.facebook.com/"<<discuss.user.uid<<"/picture", size: "50x50", class:"", style:"margin-top:10px;"  %>
			</a>
			</div>
			<div class="col-md-6" id="main_title_<%=discuss.id%>">
			<h4 id="title_<%=discuss.id%>" ><%=discuss.title%></h4>
			<p><%=discuss.updated_at.strftime("%Y/%m/%d %H:%M")%></p>
			</div>
			<div class="col-md-5">
				<div class="row pull-right">
					<br>
					<% can_like=current_user && discuss.discuss_likes.select{|l|l.user_id==current_user.id}.empty? %>					
					<div style="display:inline-block;margin-right:5px;">
						<div class="share-button_<%=discuss.id%>" id="<%=discuss.id%>"></div>				
					</div>
					<% if can_like %>
						<%= fa_icon "thumbs-o-up 2x", title:"讚", class:"clickable-hover", onclick:"like(1,'main',#{discuss.id},$(this));"%>
					<% else %>
						<%= fa_icon "thumbs-o-up 2x", title:"讚" %>
					<% end %>
					<span class="like-count like" id="main_like_<%=discuss.id%>"><%=discuss.likes%></span>
					<% if can_like %>
						<%= fa_icon "thumbs-o-down 2x", title:"噓", class:"clickable-hover", onclick:"like(0,'main',#{discuss.id},$(this));"%>
					<% else %>
						<%= fa_icon "thumbs-o-down 2x", title:"噓" %>
					<% end %>			
					<span class="like-count dislike"id="main_dislike_<%=discuss.id%>" ><%=discuss.dislikes%></span>	
					
					
				</div>
			</div>
		</div>
		<div class="panel-body row">
			<div class="col-md-12" id="main_content_<%=discuss.id%>">
			<textcontent id="content_<%=discuss.id%>"><%=discuss.content%></textcontent>
			<p class="text-right" >
				<%=link_to "回覆","javascript:void(0);" , onclick:"show_sub_form(#{discuss.id})", id:"reply_but_#{discuss.id}" %>
				<% if current_user && discuss.user==current_user %>
					<%=link_to "修改","javascript:void(0);", onclick:"edit(#{discuss.id},'main')", id:"edit_but_#{discuss.id}" %>
				<% end %>
			</p>
			</div>
		</div>
		<div class="panel-footer row" style="background-color:white;margin-left:0px;">
			<% discuss.sub_discusses.each do |sub_d| %>
				<div class="sub-discussion col-md-offset-1 col-md-11" >
					<div class="col-md-1">
						<a href="https://www.facebook.com/<%=sub_d.user.uid%>" target="_blank" class="masterTooltip" title="<%=sub_d.user.name%>">
							<%= image_tag "http://graph.facebook.com/"<<sub_d.user.uid<<"/picture", size: "45x45", class:"", style:"margin-top:10px;"  %>
						</a>
						<br>
					</div>
						<div class="col-md-8 " id="sub_content_<%=sub_d.id%>">
							<p><%=sub_d.updated_at.strftime("%Y/%m/%d %H:%M")%></p>
							<textcontent id="sub_content_<%=sub_d.id%>"><%=sub_d.content%></textcontent>
							<p class="text-right pull-right" style="display:inline-block">
							<% if current_user && sub_d.user==current_user %>
								<%=link_to "修改","javascript:void(0);", onclick:"edit(#{sub_d.id},'sub')", id:"edit_sub_but_#{sub_d.id}" %>
							<% end %>
							</p>
						</div>
						<div class="col-md-3">
							<p class="text-righ">
							<br>
							
							<% can_like_sub=current_user && sub_d.discuss_likes.select{|l|l.user_id==current_user.id}.empty? %>
							<% if can_like_sub %>
								<%= fa_icon "thumbs-o-up 2x", title:"讚", class:"clickable-hover", onclick:"like(1,'sub',#{sub_d.id},$(this));"%>
							<% else %>
								<%= fa_icon "thumbs-o-up 2x", title:"讚" %>
							<% end %>
							<span class="like-count like" id="sub_like_<%=sub_d.id%>"><%=sub_d.likes%></span>
							<% if can_like_sub %>	
								<%= fa_icon "thumbs-o-down 2x", title:"噓", class:"clickable-hover", onclick:"like(0,'sub',#{sub_d.id},$(this));"%>
							<% else %>
								<%= fa_icon "thumbs-o-down 2x", title:"噓" %>
							<% end %>
							<span class="like-count dislike" id="sub_dislike_<%=sub_d.id%>"><%=sub_d.dislikes%></span>
							
							
							
							</p>
						</div>
				</div>
			<% end %>
			<div id="sub_form_<%=discuss.id%>" class="sub-form row no-margin-left"></div>
		</div>
		
	</div>

<%end%>

<%= render "discuss_form" %>


</div>


<script>
	$(document).ready(function(){
		<% if params[:target]%>
			$('body').scrollTo('#discuss_<%=params[:target]%>',1000,{offset:-60});
		<% end %>
		<% share_url="#{root_url}courses/#{@ct.course_id}?first_show=discussion&tid=#{@ct.teacher_id}&target=" %>
		$("[class^=share-button]").each(function(){
			var share_url='<%=j share_url.html_safe%>'+$(this).attr('id');
			var description=$("#content_"+$(this).attr('id')).text();
			new Share('.'+$(this).attr('class'), {
			//title : $(this).closest("#title").text(),
			ui: {
				button_text :"分享",
				button_font : false,
				//icon_font : false
			},
			networks: {
				facebook: {
					app_id: "<%=Facebook::APP_ID%>",
					title : $("#title_"+$(this).attr('id')).text(),
					description: description,
					url : share_url,
					caption: "<%=@ct.course.ch_name<<' - '<<@ct.teacher.name%>"
				},
				google_plus:{
					url :share_url
				},
				twitter:{
					url :share_url,
					description :description.substr(0,50)
				},
				pinterest:{
					enabled:false
				},
				email:{
					enabled:false
				}
			},
			});
		});

		//alert(JSON.stringify(share, null, 4));
		//$(".share-button").parent().parent().parent().prev().find("h4").text()
		//alert();
	});
	function show_sub_form(id){
		<% if current_user %>
			$(".sub-form").html("");
			$("#sub_form_"+id).html('<%=j render "sub_discuss_form" %>');
			$("#reply_discuss_id").val(id);
			$("#sub_content").focus();
		<% else %>
			alert("請先登入!");
		<% end %>
	}
	<% if current_user %>
	function like(_like,type,id,obj){

		$.ajax({
			type: "GET",
			url: "/discusses/like",
			data: {
				type: type,
				discuss_id: id,
				like: _like,   
			},
			success: function(data){
				//var like_s=_like ? "like":"dislike";
				//var obj=$("#"+type+"_"+like_s+"_"+id);
				obj.next().text(parseInt(obj.next().text())+1);
				obj.parent().find(".clickable-hover").attr("onclick","");
				obj.parent().find(".clickable-hover").removeClass("clickable-hover");
			}
		});

	}
	function edit_sub(id){
		
		
		content=$("#sub_content_"+id);
		content_text=content.find("textcontent");
		var content_input='<textarea class="form-control" rows="5" id="content_edit_sub_'+id+'" required>'+content_text.text()+'</textarea>';
		var but_submit='<p class="text-right"><button class="btn btn-primary" onclick="send_edit('+id+',\'sub\')">送出</button>  ';
		var but_cancel='<button class="btn btn-danger" onclick="cancel('+id+',\'sub\')">取消</button></p>';
		content.append(content_input+but_submit+but_cancel);
		content_text.hide();
		$("#edit_sub_but_"+id).hide();

	}
	
	function edit(id,type){
		
		if(type=="main"){
			title=$("#main_title_"+id);
			title_h4=title.find("h4");

			var title_input='<input type="text" class="form-control" id="title_edit_'+id+'" value="'+title_h4.text()+'" required>';
			title_h4.hide();
			title.find("p").hide();
			title.append(title_input);
			$("#reply_but_"+id).hide();
		}
		content=$("#"+type+"_content_"+id);
		content_text=content.find("textcontent");
		var content_input='<textarea class="form-control" rows="5" id="content_edit_'+type+'_'+id+'" required>'+content_text.text()+'</textarea>';
		var but_submit='<p class="text-right"><button class="btn btn-primary" onclick="send_edit('+id+",'"+type+'\')">送出</button>  ';
		var but_cancel='<button class="btn btn-warning" onclick="cancel('+id+",'"+type+'\')">取消</button></p>';
		var but_delete='<button class="btn btn-danger" onclick="delete_discuss('+id+",'"+type+'\')">刪除</button>  ';
		
		content.append(content_input+but_submit+but_delete+but_cancel);
		content_text.hide();
		
		$("#edit_"+type+"_but_"+id).hide();

	}
	function delete_discuss(id,type){
		if (confirm('確定刪除此文章?')) {
				
				$("#discuss").load(
					"/discusses/delete_discuss",{
						ct_id : <%=@ct_id%>,
						type :type,
						discuss_id: id,
						
				}
		);
		} else {
			
		}
	}
	function cancel(id,type){
		if (type=="main"){
			title=$("#main_title_"+id);
			title.find("h4").show();
			title.find("p").show();
			title.find("input").hide();
			$("#reply_but_"+id).show();
		}
		content=$("#"+type+"_content_"+id);
		content.find("textarea").hide();
		content.find("button").hide();
		content.find("textcontent").show();
		$("#edit_"+type+"_but_"+id).show();
		
		
	}
	function send_edit(id,type){
		//alert("!!!");
		var title=$("#title_edit_"+id);
		var content=$("#content_edit_"+type+"_"+id);
		if(type=="main"&&title.val()==''){
			title.focus();
			return;
		}
		if(content.val()==''){
			content.focus();
			return;
		}
		
		$("#discuss").load(
			"/discusses/update_discuss",{
				ct_id : <%=@ct_id%>,
				type :type,
				discuss_id: id,
				title : title.val(),
				content : content.val(),
				
			}
		);
	}
	<% end %>
</script>