<div class="row">
	<div class="col-md-6 col-md-offset-2">
		<h1>課程群組</h1>
	<% test=Department.new%>
	<% test.id=0%>
	<% test.ch_name="其他"%>
	<%= form_for @course_group, html:{:class=>"form-horizontal"} do |f|%>
		<div class="row">
			<div class="col-md-2">
				<h4 class="text-right">標題</h4>
			</div>
			<div class="col-md-5">
				<%= f.text_field :title, class:"form-control",required:"" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h4 class="text-right">簡介(選填)</h4>
			</div>
			<div class="col-md-5">
				<%= f.text_area :description, class:"form-control" %>
			</div>
		</div>
<% depts=["for_user",'dept']%>
		<div class="row">
			<div class="col-md-2">
				<h4 class="text-right">學分數</h4>
			</div>
			<div class="col-md-5">
				<%= f.text_field :credit_needed, class:"form-control",required:"" %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h4 class="text-right">系所</h4>
			</div>
			<div class="col-md-5">
				<%= f.select :department_id, options_from_collection_for_select(Department.where(:dept_type=>depts).order("degree DESC").prepend(test),"id","ch_name"),{},{:class=>"form-control"} %>
			</div>
		</div>
<div class="row">
<div class="col-md-7">

<%= f.submit "送出", class:"btn btn-primary pull-right" %>
</div>
</div>
<% end %>
</div>
</div>