<script>
$(document).ready(function(){
	change_degree($("#degree"));
	$("#q_department_id_eq").val('<%=@q.department_id_eq%>');
});
function add_all_class(){
	//if(!check_field_selected())return;
	var arr=[];
	$("tr.course").each(
	function(){
		//console.log($(this).attr('id'));
		arr.push($(this).attr('id'));
	});
	if(confirm("確定加入共"+arr.length+"課程?")){
		add_class(arr);
	}
}
</script>

		<%=search_form_for @q, url:"/courses/search_mini_cm",id:"search", class:"form-horizontal", remote:true do |f| %>

			<div class="row schedule-search-bar" >
				<%=hidden_field_tag "hide_group",params[:hide_group] %>
				<%=hidden_field_tag "map_id",params[:map_id] %>

				<div class="col-sm-5 no-padding-left">
					<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
					<%= select_tag "degree" ,options_for_select([['大學部','3'],['研究所','2'],['大學部共同','0']],params[:degree]), prompt: "分類", class: "form-control", onchange: "change_degree($(this))" %>

				</div>
				<div class="col-sm-7" >
					<div id="dept_div" class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
					<%= f.select :department_id_eq, options_from_collection_for_select(Department.where.not(:dept_type=>['no_courses','for_user']), "id", "ch_name", @q.department_id_eq),{:prompt=> "系所"},{ :class=> "form-control",:onchange=>"search_by_select($(this))"} %>
				</div>
			</div>

			<div class="row schedule-search-bar"style="margin-top:5px;">
				
				<div class="col-sm-8 no-padding-left ">
					<div id="text_div" class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
					<%= f.search_field :ch_name_cont, class: "form-control",placeholder:"課名" %>
				</div>
				<div class="col-sm-3 no-padding-left" style="">
					<button class="btn btn-primary" onclick="search_by_text();"><%=fa_icon "search"%></button>
				</div>
			</div>

		<% end %>
</br>	

<div class="scrollable">
<table class="table table-hover courselist-hover " id="course_table" >

	<% cos_types=[] %>
	
	<% if !@courses.empty? %>
		<button class="btn btn-primary" onclick="add_all_class();">
			全部加入<span class="glyphicon glyphicon-plus"></span>
		</button>
		<span id="alert-msg" class="text-color-green"></span>
		<% @courses.each do |course| %>
			<% cd=course.course_details.first %>
			<% if !cos_types.include?(cd.cos_type) %>
				<% cos_types.append(cd.cos_type) %>
				<tr class="row"><th class="<%=cos_type_class(cd.cos_type)%>"><%=cd.cos_type%></th></tr>
			<% end %>
			<tr id="<%=course.id%>" class="row course">
				<td class="">
				<p id="" class="text-left">
					<%= link_to course.ch_name, course_path(course.course_details.last), :class=>"course_name", :target=>"_blank" %> | 
			<!--		<%= cd.cos_type %> | -->
					<%=fa_icon "graduation-cap" %> <strong><%=course.credit%></strong>｜
					<%=course.department.nil? ? "N/A" : course.dept_name %>
					<button class="btn btn-success btn-circle pull-right" onclick="add_class([<%=course.id%>])">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					
				</p>
				
				</td>
			</tr>
		<% end %>
	<% else %>	
			<tr class="row"><td><h4>查無結果!</h4></td></tr>
	<% end %>


</table>

</div>