<%= search_form_for @q, class:"form-inline" do |f| %>
	<%= f.select :semester_id_eq, options_from_collection_for_select(Semester.all, "id", "name", @q.semester_id_eq),include_blank: true %>
  <%= f.label :ch_name %>
  <%= f.search_field :course_ch_name_cont %>

  <%= f.select :course_department_id_eq, options_from_collection_for_select(Department.where(:dept_type=>['dept','college']), "id", "ch_name", @q.course_department_id_eq),include_blank: true %>
  <%= f.submit %>
<% end %>


<div class="row hidden " id="search_tips">
	<div id="" class="col-md-10 col-md-offset-1">
		<div class="bs-callout bs-callout-info ">
			<!--<h4></h4>-->
			<p>快速鍵: 選擇類別-[U]ndergraduate:大學部 [G]raduate:研究所 [C]ommon:通識 [D]epartment:系所 [/]:關鍵字</p>
			<p>搜尋規則: 1CD 5G=>找含有1CD與5G時段的課程(OR) 1CD5G=>找1CD5G的課程(AND) </p>
		</div>
	</div>
</div>
<table class="table table-hover table-bordered display" id="course_table" >
<thead>


<tr class="row">
<th class="col-md-1">學期
<% select_tag("sort_by", options_for_select([['綜合','all'],['涼度','cold'],['甜度','sweety'],['硬度','hardness']]),  :style=>"height :25px;width:60px; ", :onchange=>"reorder($(this))") %>
</th>
<th class="col-md-2">系所/摘要</th>
<!--<th>永久課號</th>-->

<th class="col-md-2">課名</th>
<th class="col-md-1">老師</th>
<th class="col-md-4">備註</th>
<th class="col-md-1">時間</th>
<th class="col-md-1">學分</th>
<!--<th class="col-md-1"></th>-->
</tr>
</thead>
<tbody>

	<% if !@cd_all.empty? %>

		<% @cds.each do |cd,course,teacher| %>
				<tr id="<%=cd.id%>" class="row clickable-row clickable-hover" href="<%=course_path(course, :tid=>teacher.id)%>">
					<td>
						<%=cd.semester.name%>
					</td>
					<td>
						<%=course.department.ch_name%>
						<% if cd.brief!=" " %>
						/<%= cd.brief %>
						<% end %>
					</td>
					<!--<td><%= cd.brief %></td>-->
					<!--<td><%= link_to course.real_id, course_path(course) %></td>-->
					<td><%= course.ch_name %></td>
					<td><%= teacher.name %></td>
					<td><%= cd.memo %></td>
					<td><%= cd.time %></td>
					<td><%= cd.credit %></td>
				</tr>
		<% end %>
	<% else %>
		<tr class="row"><td colspan="7" class="col-md-12"><h4>查無結果!</h4></td></tr>
	<% end %>
</tbody>
</table>
<%= paginate @cds, :window=>2 %>