<script>
$(document).ready(function(){
	change_degree($("#degree"));
	$("#q_department_id_eq").val('<%=@q.department_id_eq%>');
});
function add_class(id,type){
	$.ajax({
		type :"GET",
		url : "course_groups/add_list",
		data :{c_id:id,type:type},
		success:function(){
			alert("!!!");
		}
	});
}
</script>
	<% if params[:dept_id]=="0" %>
		<%=search_form_for @q, url:"/course_details/course_group",id:"search", class:"form-horizontal", remote:true do |f| %>

			<div class="row schedule-search-bar" >
				<%=f.search_field :course_details_semester_id_eq,class:"hidden", value:"8"%>

				<div class="col-sm-5 no-padding-left">
					
					<%= select_tag "degree" ,options_for_select([['大學部','3'],['研究所','2'],['大學部共同','0']],params[:degree]), prompt: "分類", class: "form-control", onchange: "change_degree($(this))" %>

				</div>
				<div class="col-sm-7">
					<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
					<%= f.select :department_id_eq, options_from_collection_for_select(Department.where.not(:dept_type=>['no_courses','for_user']), "id", "ch_name", @q.department_id_eq),{:prompt=> "系所"},{ :class=> "form-control",:onchange=>"$('#search').submit();"} %>
				</div>
			</div>

			<div class="row schedule-search-bar"style="margin-top:5px;">
				<div class="col-sm-5 no-padding-left ">
					<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
					<%= f.search_field :ch_name_cont, class: "form-control",placeholder:"課名" %>
				</div>
				<div class="col-sm-2 no-padding-left" style="">
					<button class="btn btn-primary" onclick="$('#search').submit();"><%=fa_icon "search"%></button>
				</div>
			</div>

		<% end %>
	
	<% end %>
<div class="scrollable">
<table class="table table-hover courselist-hover " id="course_table" >

	<% cos_types=[] %>
	
	<% if !@cd_all.empty? %>

			<% @cd_all.each do |cd,dept|  %>
				<% if !cos_types.include?(cd.cos_type) %>
					<% cos_types.append(cd.cos_type) %>
					<tr class="row"><th class="<%=cos_type_class(cd.cos_type)%>"><%=cd.cos_type%></th></tr>
				<% end %>
				<tr id="cd_<%=cd.id%>" class="row" >
					<td class="">
						<p id="rating_all" class="">
							<%= link_to cd.course.ch_name, course_path(cd.course, :tid=>cd.teacher.id), :class=>"course_name", :target=>"_blank" %>
							<% cd.course.ch_name %>
							<% dept.ch_name %>
							<% if cd.cos_type=="通識"||cd.cos_type=="外語"%>
								<%=cd.brief%> | 
							<% else %>
								<%=cd.cos_type%> | 
							<% end %>
							<%=fa_icon "graduation-cap" %> <strong><%= cd.credit %></strong>
						
							<button class="btn btn-success btn-circle pull-right" onclick="add_class(<%=cd.id%>,'add')">
							<span class="glyphicon glyphicon-plus"></span>
							</button>

						</p>
					</td>
				</tr>
		<% end %>
	<% else %>	
			<tr class="row"><td><h4>查無結果!</h4></td></tr>
	<% end %>


</table>

</div>