<%= stylesheet_link_tag 'newcomer/chooseClass' %>

<div class="spacing"></div>
<div class="cover">
	<div class="container course">

		<div class="row">
			<div class="group">
				<caption>模擬排課</caption>
			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">0.</div>
					</div>
					<div class="text">進入NCTU+首頁，進行登入動作</div>
				</div>
				<div class="content">
					NCTU+可同時挷定交大E3、Facebook、Google+帳號。
					<%= image_tag 'newcomer/chooseClass/0.png', :class => "img-responsive" %>
				</div>
			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">1.</div>
					</div>
					<div class="text">
						進入模擬排課頁面
					</div>
				</div>
				<div class="content">
					<%= image_tag 'newcomer/chooseClass/1.png', :class => "img-responsive" %>
				</div>
			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">2.</div>
					</div>
					<div class="text">參考交大的課程時間表</div>
				</div>
				<div class="content">
					可以查詢自己科系的必修及選修科目。<br>
					在課程時間表首頁可找到代表課堂時間(如: 2GH)及教室地點(如: EC315)的代碼參考表。				
					<%= image_tag 'newcomer/chooseClass/3.png', :class => "img-responsive" %>
				</div>
			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">3.</div>
					</div>
					<div class="text">在NCTU+模擬排課中查詢欲選的課程</div>
				</div>
				<div class="content">
					舉凡課名、教授、時間等篩選條件皆可直接查詢。<br>
					按下"+"即可選中，在右方的課表中加入該課程。<br>
					按下"★"即收藏該課程。
					<%= image_tag 'newcomer/chooseClass/4.png', :class => "img-responsive" %>
				</div>	
			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">4.</div>
					</div>
					<div class="text">衝堂判定功能</div>
				</div>
				<div class="content">
					若選到與已選的課程時間重疊的話，則會出現「衝堂」警示。
					<%= image_tag 'newcomer/chooseClass/5.png', :class => "img-responsive" %>
				</div>

			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">5.</div>
					</div>
					<div class="text">空堂排課功能</div>
				</div>
				<div class="content">
					若想在剩餘的空堂選一些通識或選修課程，可以在右方課表先選取可接受的時間，再按下"空堂"按鈕，輕鬆挑選不會衝堂的課程。
					<%= image_tag 'newcomer/chooseClass/6.png', :class => "img-responsive" %>
					<%= image_tag 'newcomer/chooseClass/7.png', :class => "img-responsive" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="group">
				<caption>正式排課</caption>
			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">0.</div>
					</div>
					<div class="text">進入交大選課系統</div>
				</div>
				<div class="content">
					<%= image_tag 'newcomer/chooseClass/8.png', :class => "img-responsive" %>
					<%= image_tag 'newcomer/chooseClass/9.png', :class => "img-responsive" %>
				</div>
			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">1.</div>
					</div>
					<div class="text">點選「課程加退選」→「課程加選」進行加選</div>
				</div>
				<div class="content">
					已經在NCTU+裡模擬排課過，正式選課時就能輕鬆無負擔。
					<%= image_tag 'newcomer/chooseClass/10.png', :class => "img-responsive" %>
				</div>
			</div>
			<div class="step">
				<div class="title-blk col-xs-12">
					<div class="num">
						<div class="mid-fix">2.</div>
					</div>
					<div class="text">查詢選課狀況</div>
				</div>
				<div class="content">
					選課後可以點選「確認選課狀況」→「查詢選課狀況」來查詢。
					<%= image_tag 'newcomer/chooseClass/12.png', :class => "img-responsive" %>
				</div>
			</div>
		</div>

	</div> <!-- /container -->
</div>

