<section id="banner">
	<div class="cover-pic">
		<div class="row">
			<div class="col-md-6 col-md-offset-5 col-sm-8 col-sm-offset-3">
				<div class="text-box"><h2>交大網路新生包</h2></div>
				<div class="text-box-2"><h2>認識交大從這裡開始</h2></div>
			</div>
		</div> 			
	</div>
</section>
<section id="explore">
	<div class="container">
		<h2>交大學聯會 X NCTU+</h2>
		<p>交大學聯會與NCTU+協手合作，製作歷年以來最完善的網路新生包</p>
		<p>我們希望新生們能最快地適應新學年的生活</p>
	</div>
	<div class="bottom">
	</div>   
</section>
<section id= "procedure"> 
	<div class="container">
		<h2>重要程序</h2>
		<p>註冊前須備妥之文件
		<i class="fa fa-angle-double-right"></i>
		上網登錄基本資料
		<i class="fa fa-angle-double-right"></i>
		學雜費繳費
		<i class="fa fa-angle-double-right"></i>
		選課</p>
		<p>
		<%= link_to newcomer_procedure_path do %>
			<button class="btn-1">瞭解詳情</button>
		<% end %>
		</p>
	</div>
	<div class="bottom"></div>
</section>
<section id="shopping"> 
	<div class="container">
		<h2>新生團購</h2>
		<p>
		<%= link_to newcomer_shopping_path(anchor: "top") do %>
			<button class="btn-2">選購吧</button>
		<% end %>
		</p>
	</div>
	<div class="bottom"></div>
</section>
<section id="qna">
	<div class="container">
		<h2>新生提問系統 精選問答集</h2>
		<p>
		<%= link_to newcomer_qna_path do %>
			<button class="btn-3">觀看</button>
		<% end %>
		</p> 
	</div>
</section>
<div class="bottom"></div>
</section>
<section id="qna">
<div class="container">
    <h2>新生提問系統 精選問答集</h2>
    <p>
    <%= link_to qna_path do %>
        <button class="btn-3">觀看</button>
    <% end %>
    </p> 
</div>
<div class="bottom"></div>
</section>
<section id="download"> 
    <div class="container">
        <h2>實體新生包</h2>
        <p>
        <%= link_to "/pdf/newcomer/學聯新生包手冊.pdf", :target => '_blank' do %>
            <button class="btn-8">下載</button>
        <% end %>
        </p>
    </div>
</section>