<%= stylesheet_link_tag 'newcomer/shopping' %>

<div class="item-container" id="top">
	<span class="header"><p>新生團購</p></span>
	<hr>
	<div id="products" class="row list-group">
		<div class="item col-sm-4">    

			<div class="thumbnail" id="lamp">        
				<%= image_tag "newcomer/shopping/desk_light1.png", :class => "group list-group-image" %>
				<div class="caption">            
					<h4 class="group inner list-group-item-heading"> FDP2717  東亞鮮亮觸控式護眼檯燈</h4>          
					<p class="group inner list-group-item-text">
					<ul>
						<li>1. 東亞FPL-27W燈管(6500K)能兼顧使用者的注意力與長時間使用的舒適感</li>
						<li>2. 美東菱廠觸控式高頻電子式安定器，EMI防電磁波干擾(安定器)。</li>
						<li>3. 烤漆單臂式、燈罩角度可任意調整(上下左右)。</li>
						<li>4. 為日本設計師- 兒島輝彥專為閱讀人士設計</li>
						<li>5. 俐落的設計有著細膩的巧思，帶給您獨特個人化的美學設計</li>
						<li>6. ABS塑膠材質，耐熱不退色變形，底座彩色飾板。</li>
						<li>7. 通過CNS安全規範檢驗標準，安全有保障。</li>
						<li>8. 110V/60HZ、(ON-OFF觸控式開關)、顏色:灰色</li>
					</ul>
					</p>            
					<div class="row">                
						<div class="col-xs-12">                    
							<p class="lead">原價: 1800 | 售: 999</p>                
						</div>                
					</div>
				</div>
			</div>

			<div class="thumbnail" id="calculator-switch">        
				<%= image_tag "newcomer/shopping/fx350es.jpg", :class => "group list-group-image" %>
				<div class="caption">            
					<h4 class="group inner list-group-item-heading">CASIO fx-350ES PLUS</h4>            
					<p class="group inner list-group-item-text">
					<ul>
						<li>417個函數</li>
						<li>條列式統計資料編輯器</li>
						<li>10 + 2位數</li>
						<li>9個變數</li>
						<li>點矩陣顯示</li>
						<li>雙電源系統</li>
						<li>能運用題目：統計、答案記憶、尋找錯誤</li>
						<li>附件:原廠中文說明書、保證卡(2年保固)</li>
					</ul>            
					</p>            
					<div class="row">                
						<div class="col-xs-12">                    
							<p class="lead">原價: 480 | 售: 380</p>               
						</div>                
					</div>
				</div>
			</div>
		</div>

		<div class="item col-sm-4">    

			<div class="thumbnail">        
				<%= image_tag "newcomer/shopping/desk_light2.png", :class => "group list-group-image" %>
				<div class="caption">            
					<h4 class="group inner list-group-item-heading">LDK005-9AAD-TU 東亞Wisdom-9W護眼LED檯燈-2代</h4>            
					<p class="group inner list-group-item-text">
					<ul>
						<li>1. 光源採用世界一級大廠CREE原廠High-powerLED 9W光源，色溫4000K</li>
						<li>2. 智慧機能操作、雙軸向燈臂設計。</li>
						<li>3. 鋁擠型材質，耐熱不退色變形。</li>
						<li>4. 通過CNS安全規範檢驗標準，安全有保障。</li>
						<li>5. 110~240V/50~60HZ、(ON-OFF觸控開關)</li>
						<li>6. 顏色：灰色</li>
					</ul>
					</p>            
					<div class="row">                
						<div class="col-xs-12">                    
							<p class="lead">原價: 2990 | 售: 1999  </p>                
						</div>                
					</div>
				</div>
			</div>

			<div class="thumbnail" id="calculator">
				<%= image_tag "newcomer/shopping/fx991es.jpg", :class => "group list-group-image" %>
				<div class="caption">            
					<h4 class="group inner list-group-item-heading">CASIO fx-991ES PLUS</h4>            
					<p class="group inner list-group-item-text">
					<ul>
						<li>時間計算：60進位、10進位</li>
						<li>標準偏差</li>
						<li>雙曲線、反雙曲線 </li>
						<li>錯誤訊息功能</li>
						<li>10位數顯示</li>
						<li>能運用題目：10+2位數、微積分、統計、答案記憶、尋找錯誤</li>
						<li>附件:原廠中文說明書、保證卡(2年保固)</li>
					</ul>
					</p>            
					<div class="row">                
						<div class="col-xs-12">                  
							<p class="lead">原價: 780 |  售: 650</p>                
						</div>                
					</div>
				</div>
			</div>
		</div>

		<div class="item col-sm-4">    

			<div class="thumbnail" id="lamp-switch">
				<%= image_tag "newcomer/shopping/desk_light3.png", :class => "group list-group-image" %>
				<div class="caption">            
					<h4 class="group inner list-group-item-heading">LDK008-6AAD  東亞LED氣質檯燈</h4>           
					<p class="group inner list-group-item-text">
					<ul>
						<li>1. 亮度充足:LED四段調光功能，亮度充足，可依實際需求，自由調整</li>
						<li>2. 光線柔和，先進防眩護眼設計，無眩光，保護眼睛</li>
						<li>3. 精密散熱設計，延長Led使用壽命</li>
						<li>4. 流線造型，將檯燈與時尚藝術結合為一</li>
						<li>5. 全機採用圓弧安全設計，避免碰撞時受傷</li>
						<li>6. 燈罩與燈臂之連接點，捨棄傳統旋鈕設計，改採球面旋轉之最新科技，可自由轉動，不易斷裂。</li>
					</ul>
					</p>            
					<div class="row">                
						<div class="col-xs-12">                    
							<p class="lead">原價: 1699 | 售: 1299</p>                
						</div>                
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="buy-it">
	<h2>新生團購</h2>
	<a href="https://zhirui1.typeform.com/to/prJKoM" target="_blank"><button class="btn-2">點我訂購</button></a>
</section>

<%= javascript_include_tag 'newcomer/shopping' %>

