<tr class="row">
	<td>
		<% if user.hasFb? || user.hasGoogle? %>
			<%= image_tag user.avatar_url, size: "25x25" %>
			<%= link_to user.name, user.social_webpage_url, target:"_blank" %>
		<% else %>
			<%=user.student_id||"error"	%>
		<% end%>	
	</td>
	<td>
	<% if user.hasGoogle? %>
	  Google 
	<% end %>
	<% if user.hasFb? %>
	  FB 
	<% end %>
	<% if user.hasE3? %>
	  E3
	<% end %>
	</td>

	<td class="text-center ">
		<%=select_tag 'dept', options_from_collection_for_select(@dept_sels, :id, :ch_name, user.department_id), prompt: "請選擇", class:'form-control', "data-uid"=>user.id, :onchange=>"updateDept($(this));" %>
	</td>

	
	<td><%= user.year==0 ? '--' : user.year %></td>
	
	<td>
		<%=link_to user.total_credit, "/user?uid=#{user.id}" %>
	</td>

	
	<td>
		<%=select_tag :role, options_for_select(@role_sel, user.role), :class=>'form-control admin-user-role', "data-uid"=>user.id, :onchange=>"updateRole($(this));", :disabled=> !user.try(:department) %>
	</td>

</tr>
