	<tr class="row">
	<td>
		<% if user.uid%>
			<%= image_tag "http://graph.facebook.com/"<<user.uid<<"/picture", size: "25x25" %>
			<%= link_to user.name, "http://www.facebook.com/"<<user.uid, target:"_blank" %>
		<% else %>
			<%=user.student_id	%>
		<% end%>	
	</td>
	<% if !user.department.nil? %>
	<td>
		<%=user.department_ch_name%>
	</td>
	<% else %>
		<td>尚未填寫</td>
	<% end %>
	<td>
		<%=link_to user.total_credit, "/user/special_list?uid=#{user.id}" %>
	</td>
	<td>
	<% cm_id=user.course_maps.first.nil? ? 0 :user.course_maps.first.id %>  
		<%=select_tag "course_map", options_from_collection_for_select(@course_map, :id, :name, cm_id), prompt:"none", class:"course_map form-control", id:user.id%>
	</td>
	<td><%= user.year==0 ? user.year : '尚未填寫' %></td>
	<td>
		<%=select_tag :role, options_for_select(@role_sel, user.role), :class=>'form-control admin-user-role', :user_id=>user.id%>
	</td>

</tr>
