<tr class="row">
	<td>
		<% if user.auth_facebook%>
			<%= image_tag "https://graph.facebook.com/"<<user.auth_facebook.uid<<"/picture", size: "25x25" %>
			<%= link_to user.name, "https://www.facebook.com/"<<user.auth_facebook.uid, target:"_blank" %>
		<% else %>
			<%=user.student_id||"error"	%>
		<% end%>	
	</td>
	<td>
	  <% if user.uid and user.student_id %>
	  E3+FB
	  <% elsif user.uid %>
	  FB
	  <% else %>
	  E3
	  <% end %>
	</td>
	<% if !user.department.nil? %>
		<td class="text-center ">
			<%=user.department_ch_name%>
		</td>
	<% else %>
		<td class="text-center ">尚未填寫</td>
	<% end %>
	
	<td><%= user.year==0 ? '--' : user.year %></td>
	
	<td>
		<%=link_to user.total_credit, "/user?uid=#{user.id}" %>
	</td>
	<td>
	<% cm_id=user.course_maps.first.nil? ? 0 :user.course_maps.first.id %>  
		<%=select_tag "course_map", options_from_collection_for_select(@course_map, :id, :name, cm_id), prompt:"none", class:"course_map form-control", id:user.id%>
	</td>
	
	<td>
		<%=select_tag :role, options_for_select(@role_sel, user.role), :class=>'form-control admin-user-role', :user_id=>user.id, :onchange=>"updateRole($(this));", :disabled=> !user.try(:department) %>
	</td>

</tr>
