<tr class="row">
	<td>
		<% if user.auth_facebook%>
			<%= image_tag "https://graph.facebook.com/"<<user.auth_facebook.uid<<"/picture", size: "25x25" %>
			<%= link_to user.name, "https://www.facebook.com/"<<user.auth_facebook.uid, target:"_blank" %>
		<% else %>
			<%=user.student_id||"error"	%>
		<% end%>	
	</td>
	<td>
	  <% if user.uid and user.student_id %>
	  E3+FB
	  <% elsif user.uid %>
	  FB
	  <% else %>
	  E3
	  <% end %>
	</td>

	<td class="text-center ">
		<%=select_tag 'dept', options_from_collection_for_select(@dept_sels, :id, :ch_name, user.department_id), prompt: "請選擇", class:'form-control', "data-uid"=>user.id, :onchange=>"updateDept($(this));" %>
	</td>

	
	<td><%= user.year==0 ? '--' : user.year %></td>
	
	<td>
		<%=link_to user.total_credit, "/user?uid=#{user.id}" %>
	</td>

	
	<td>
		<%=select_tag :role, options_for_select(@role_sel, user.role), :class=>'form-control admin-user-role', "data-uid"=>user.id, :onchange=>"updateRole($(this));", :disabled=> !user.try(:department) %>
	</td>

</tr>
