<h3 class="text-center">
	註冊人數：<%=@user_type.reduce(:+)%> 
	匯入課程人數：<%=@import_cnt.to_s%> 
	總文章數：<%=@discuss_stat[1]%>
</h3>
<div id="user-type" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<div id="user-stat" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<div id="book-stat" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<div id="discuss-stat" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<%=javascript_include_tag "admin_statistics/index", "data-turbolinks-track" => true %>
<script>

$(function () {
  $(function(){
    var book_new = <%=raw @book_new%> ;
    var book_sale = <%=raw @book_sale%> ;   

    var get_full_category = function(){
      
      var tmp_category = [];
      
      var start_yy = book_new[0][0].split("/")[0];
      var start_mm = parseInt(book_new[0][0].split("/")[1]);
      var today = new Date();
      var now_yy = today.getFullYear();
      var now_mm = today.getMonth()+1;
      
      var tmp_yy=start_yy, tmp_mm=start_mm ;
      for(var tmp1=start_yy; tmp1!=now_yy; tmp1++)
      {
        for(var tmp2=start_mm; tmp2<=12; tmp2++)
        {
          tmp_category.push(tmp1+"/"+tmp2);
        }
      }
      
      for(var tmp2=1; tmp2<=now_mm ; tmp2++)
        tmp_category.push(now_yy+"/"+tmp2);
      
      return tmp_category;
    };
    
    var category = get_full_category();
    
    $('#book-stat').highcharts({
      chart: {
              type: 'column'
          },
      title: {
          text: '二手書統計'
      },
      subtitle: {
          text: '當月新增/當月售出'
      },
      xAxis: {
          categories: category,
          crosshair: true
      },
      yAxis: {
          title: {
              text: '數量'
          },
          min: 0
      },
      tooltip: {
          headerFormat: '<b>{series.name}</b> ',
          pointFormat: '{point.y} 本'
      },

      series: [{
          name: '新增',
          data: _.map(category, function(c){ 
            var getNum = _.find(book_new, function(bn){return (bn[0]==c) ;}) ;
            if(getNum)
              return getNum;
            else
              return 0 ;
          })
      }, {
          name: '售出',
          data: _.map(category, function(c){ 
            var getNum = _.find(book_sale, function(bn){return (bn[0]==c) ;}) ;
            if(getNum)
              return getNum;
            else
              return 0 ;
          })
      } ]
    });
    
  });
  

  $('#user-stat').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '使用者註冊統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: <%=raw @user_stat.keys.to_json%>        
    },
    yAxis: {
      min: 0,
      title: {
        text: '人數'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '人數',
      data: <%=raw @user_stat.values.to_json%>
    }]
  });
  
  $('#discuss-stat').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '文章數統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: ["短評","討論" ]       
    },
    yAxis: {
      min: 0,
      title: {
        text: '數量'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '數量',
      data: <%=@discuss_stat.to_json%>
    }]
  });
  
  $('#user-type').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '使用者來源統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: ["E3","FB","E3+FB"]       
    },
    yAxis: {
      min: 0,
      title: {
        text: '人數'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '人數',
      data: <%=@user_type.to_json%>
    }]
  });
});

</script>