<h3 class="text-center">
	註冊人數：<%=@user_type.reduce(:+)%> 
	匯入課程人數：<%=@import_cnt.to_s%> 
	總文章數：<%=@discuss_stat[1]%>
</h3>
<div id="user-type" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<div id="user-stat" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<div id="book-stat" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<div id="discuss-stat" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<%=javascript_include_tag "admin_statistics/index", "data-turbolinks-track" => true %>
<script>

$(function () {
  $(function(){
    var book_new = <%=raw @book_new%> ;
    var book_sale = <%=raw @book_sale%> ;
    var category  = _.map(book_new, function(h){ return h[0]; });
    
    var book_sale_cnt = [];
    _.each(category, function(c, idx){
      if(!book_sale[idx]){
        book_sale_cnt.push(0);
        return ;
      }     
      if(book_sale[idx][0]==c)
        book_sale_cnt.push(book_sale[idx][1])
      else
        book_sale_cnt.push(0);
    });
    
    $('#book-stat').highcharts({
      chart: {
              type: 'column'
          },
      title: {
          text: '二手書統計'
      },
      subtitle: {
          text: '新增/售出'
      },
      xAxis: {
          categories: category,
          crosshair: true
      },
      yAxis: {
          title: {
              text: '數量'
          },
          min: 0
      },
      tooltip: {
          headerFormat: '<b>{series.name}</b> ',
          pointFormat: '{point.y} 本'
      },

      series: [{
          name: '新增',
          data: _.map(book_new, function(h){ return h[1]; })
      }, {
          name: '售出',
          data: book_sale_cnt
      } ]
    });
    
  });
  

  $('#user-stat').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '使用者註冊統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: <%=raw @user_stat.keys.to_json%>        
    },
    yAxis: {
      min: 0,
      title: {
        text: '人數'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '人數',
      data: <%=raw @user_stat.values.to_json%>
    }]
  });
  
  $('#discuss-stat').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '文章數統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: ["短評","討論" ]       
    },
    yAxis: {
      min: 0,
      title: {
        text: '數量'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '數量',
      data: <%=@discuss_stat.to_json%>
    }]
  });
  
  $('#user-type').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '使用者來源統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: ["E3","FB","E3+FB"]       
    },
    yAxis: {
      min: 0,
      title: {
        text: '人數'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '人數',
      data: <%=@user_type.to_json%>
    }]
  });
});

</script>