<%= javascript_include_tag "courses/content", "data-turbolinks-track" => true %>
</br></br>
<h3 class="text-center">註冊人數：<%=@user_type.reduce(:+)%> 總文章數：<%=@discuss_stat[1]%></h3>
<div id="user-type" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<div id="user-stat" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>
<div id="discuss-stat" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<hr>

<script>

$(function () {
  $('#user-stat').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '使用者註冊統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: <%=raw @user_stat.keys.to_json%>        
    },
    yAxis: {
      min: 0,
      title: {
        text: '人數'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '人數',
      data: <%=raw @user_stat.values.to_json%>
    }]
  });
  
  $('#discuss-stat').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '文章數統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: ["短評","討論" ]       
    },
    yAxis: {
      min: 0,
      title: {
        text: '數量'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '數量',
      data: <%=@discuss_stat.to_json%>
    }]
  });
  
  $('#user-type').highcharts({
    chart: {
      type: 'column'
    },
    title: {
      text: '使用者來源統計'
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: ["E3","FB","E3+FB"]       
    },
    yAxis: {
      min: 0,
      title: {
        text: '人數'
      }
    },
    tooltip: {
      headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
      pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
      footerFormat: '</table>',
      shared: true,
      useHTML: true
    },
    plotOptions: {
      column: {
        pointPadding: 0.2,
        borderWidth: 0
      }
    },
    series: [{
      name: '人數',
      data: <%=@user_type.to_json%>
    }]
  });
});

</script>