<%= javascript_include_tag "course_content", "data-turbolinks-track" => true %>

<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
<hr>
<table class="table" id="dataTables-paginate">

<thead>
	<tr class="row">
		<th class="col-md-2">Name</th>
		<th class="col-md-3">系所</th>
		<th class="col-md-1">學分數</th>
		<th class="col-md-2">課程地圖</th>
		<th>年級</th>
		<th>身份</th>
	</tr>
</thead>

<tbody id="body">
<%= render :partial=>"manage_user_lists", :collection => @users, :as => :user%>
</tbody>

</table>
<div id="paginator">
	<%= paginate @users, :window=>2, :remote => true, :method=>"POST" %>
</div>

<script>

	$('.admin-user-role').change(function(){
		var uid = $(this).attr('user_id');
		var role = $(this).val();
		$.ajax({
			url: "/admin/change_role",
			type: "POST",
			data :{uid: uid, role: role},
			success: function(){
				toastr["success"]("update success.");
			},
			error: function(){
				alert('Internal server error.');
			}
		});
		return false ;
	});

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '使用者系所統計'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: <%=raw @data.keys.to_json%>
        },
        yAxis: {
            min: 0,
            title: {
                text: '人數'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '人數',
            data: <%=raw @data.values.to_json%>

        }]
    });
		$(".course_map").change(function(){
			var cm_id=$(this).val();
			$.ajax({
				type : "POST",
				data : {cm_id:cm_id,uid:$(this).attr("id")},
				url : "/user/select_cm"
			});
			/*if(cm_id)
				alert(cm_id);*/
		});
});

</script>