<style>
.input-group-btn{
	vertical-align: top;
}
</style>

<%= javascript_include_tag "courses/content", "data-turbolinks-track" => false %>

</br>
<div class="row">
<div class="col-md-offset-3 col-md-4">
	<div class="input-group">
		<%=text_field_tag :search, params[:search], :class=>"form-control", :placeholder=>"搜尋使用者"%>
		<span class="input-group-btn">     
			<button class="btn btn-primary" id="submit-search">搜尋</button>
		</span>
	</div>
</div>
<button class="btn btn-success col-md-1" onclick="showDeptChart();">系級統計</button>
</div>

<!--系級統計圖表-->
</br>
<div id="dept-stat-chart" class="container hidden" style="min-width;"></div>
</br>
<!--系級統計圖表-->

<table class="table" id="dataTables-paginate">
	<thead>
		<tr class="row">
			<th class="text-center col-md-2">姓名</th>
			<th class="col-md-2">帳號類型</th>
			<th class="text-center col-md-3">系所</th>	
			<th class="col-md-1">年級</th>			
			<th class="col-md-1">學分數</th>
			<th class="text-center col-md-2">身份</th>
			<th class="col-md-1"></th>	
		</tr>
	</thead>
	<tbody id="body">
		<%= render :partial=>"manage_user_lists", :collection => @users, :as => :user%>
	</tbody>
</table>
<div id="paginator">
	<%= paginate @users, :window=>2, :remote => true, :method=>"POST" %>
</div>

<script>

	$(function () {
		$("#submit-search").click(function(){
			var val = $("#search").val();
			if(val.length==0) return false ;
			var cur_loc = document.location ;
			document.location.href = cur_loc["origin"]+cur_loc["pathname"]+"?search="+val;
			$(this).attr("disabled", true).html('<%=fa_icon "spinner spin"%>');
		});
		
		$(".course_map").change(function(){
			var cm_id=$(this).val();
			$.ajax({
				type : "POST",
				data : {cm_id:cm_id,uid:$(this).attr("id")},
				url : "/user/select_cm"
			});
			/*if(cm_id)
				alert(cm_id);*/
		});
		initDeptChart();
	});
	function updateDept($obj){
		var uid = $obj.attr('data-uid');
		var dept_id = $obj.val();
		$.ajax({
			url: "/admin/change_dept",
			type: "POST",
			data :{uid: uid, dept_id: dept_id},
			success: function(){
				toastr["success"]("更新成功!");
			},
			error: function(){
				toastr["error"]('更新失敗!');
			}
		});
		return false ;
	}
	function updateRole($obj){
		var uid = $obj.attr('data-uid');
		var role = $obj.val();
		$.ajax({
			url: "/admin/change_role",
			type: "POST",
			data :{uid: uid, role: role},
			success: function(){
				toastr["success"]("更新成功!");
			},
			error: function(){
				toastr["error"]('更新失敗!');
			}
		});
		return false ;
	}
	function initDeptChart(){
		$('#dept-stat-chart').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: '使用者系所統計'
			},
			subtitle: {
				text: ''
			},
			xAxis: {
				categories: <%=raw @data.keys.to_json%>
			},
			yAxis: {
				min: 0,
				title: {
						text: '人數'
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
						'<td style="padding:0"><b>{point.y} 人</b></td></tr>',
				footerFormat: '</table>',
				shared: true,
				useHTML: true
			},
			plotOptions: {
				column: {
					pointPadding: 0.2,
					borderWidth: 0
				}
			},
			series: [{
				name: '人數',
				data: <%=raw @data.values.to_json%>
			}]
		});
	}
	function showDeptChart(){
		$('#dept-stat-chart').toggleClass("hidden");
	}

</script>