<br><br>
<h1>Weekly Report</h1>
<h1 class="alert"><%= Time.now.strftime("%F")%>~<%= @timeDest.strftime("%F")%></h1>
<h2>考古題</h1>
<table class="table table-striped">
<tr>
	<td>ID</td>
	<td>File Name</td>
	<td>Timestamp</td>
<tr>
<% @files.includes(:user).each do |file|%>
<tr>
	<td><%=file.user.name%>
	<td><%= file.upload_file_name.to_s%></td>
	<td><%= file.created_at.to_s%></td>
</tr>
<% end %>
<br>

</table>