<style>
.nav-pills{
	text-align: center;
}
.row{
	margin-top: 30px;
}

.form-inline {
	margin-bottom: 20px;
	text-align: right;
}

.col_1{
	width: 300px;	
}

.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
}
</style>


<div class="container">
	<div class ="row">
    <div class="col-sm-2">
	   	 <ul class="nav nav-pills nav-stacked">
			<li><a href="/bulletin">全部文章</a></li>
			<li><a href="/bulletin?q[article_type_eq]=true">最新消息</a></li>
                        <li><a href="/bulletin?q[article_type_eq]=false">網站改版</a></li>
                        <li><a href="/slogan">首頁標語</a></li>
                        <li><a href="/backgrounds">首頁背景</a></li>
	   	 </ul>
	</div>

	<div class ="col-sm-10">
		<div class = "form-inline">
	    	<%= form_for Background.new , :url => { :controller => 'backgrounds', :action => 'create' } do |f| %>
	          <div class = "form-group">
                    <strong>背景：</strong>
                  </div>
	          <div class = "form-group">
                    <%= f.file_field :image %>
                  </div>
	          <div class = "form-group">
		    <!-- Button trigger modal -->
		    <button id="btn-demo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoModal">
		      預覽圖片
		    </button>
		    <!-- Modal -->
		    <div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		      <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			    <h4 class="modal-title" id="myModalLabel" style="text-align:left;">預覽圖片</h4>
			  </div>
			  <div class="modal-body">
			    <img id="demo" src="#" alt="your image" class="img-responsive">
			  </div>
			</div>
		      </div>
		    </div>
                    <%= f.submit "準備刊登", class: "btn btn-warning"  %>
                  </div>
                <% end %>
		</div>
		<table class="table table-bordered table-striped">
		      <thead>
		        <tr>
		          <th class="col_1">背景</th>
		          <th class="col_2">建立時間</th>
		          <th class="col_3">修改時間</th>
		          <th class="col_4"></th>
		        </tr>
		      </thead>
		      <tbody>
		          <% @backgrounds.each do |t| %>
		            <tr>
		              <td class="col_1"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;
				<!-- Button trigger modal -->
				<input type="button" style="width:100px;height:100px;vertical-align:middle;background-image:url('<%=t.image(:thumb)%>')" data-toggle="modal" data-target="#myModal-<%=t.id%>">
				<!-- Modal -->
				<div class="modal fade" id="myModal-<%=t.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Show</h4>
				      </div>
				      <div class="modal-body">
					<img src="<%= t.image(:original) %>" class="img-responsive" alt="Responsive image">
				      </div>
				    </div>
				  </div>
				</div>
			      </td>
		         	  <td class="col_2"><font color="gray" valign="bottom">
						<%= t.created_at.strftime("20%y/%m/%d %H:%M") %></font></td>
		              <td class="col_3"><font color="gray" valign="bottom">
		              	<%= t.updated_at.strftime("20%y/%m/%d %H:%M") %></font></td>
		              <td class="col_4"><%= link_to "編輯", edit_background_path(t) %>&nbsp;&nbsp;
		              <%= link_to '刪除', t, :method => :delete%></td>
		            </tr>
		          <%end%>
		      </tbody>
		    </table>
	</div>
</div>
</div>

<script>
var url = window.location;
// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    return this.href == url;
}).parent().addClass('active');

</script>

<script>
document.getElementById('btn-demo').style.visibility = 'hidden';
function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();
  
    reader.onload = function (e) {
      $('#demo').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
  }
}

$("#background_image").change(function(){
  readURL(this);
  document.getElementById('btn-demo').style.visibility = 'visible';
});
</script>

