<style>
.sub_btn{
  text-align: right;
  margin-top: 10px;
}
#agreement{
	margin-top: 50px;
}
</style>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
<div class ="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
	<div class="bs-callout bs-callout-info well">
	<h2><strong>匯入歷年課程</strong></h2>
	<p class="lead">
	1.  登入交大註冊組 <%=link_to "學籍成績系統","https://regist.nctu.edu.tw/", target:"blank"%><br>
	2.  點選「歷年成績查詢」按鈕 (<%=link_to "範例", asset_path("import_course_1.jpg"), target:"blank"%>)<br>
	3.  全選 (ctrl+a) 成績內容，並複製貼至下方表單 (<%=link_to "範例", asset_path("import_course_2.jpg"), target:"blank"%>)<br></p>

	<p>
	註1：匯入前所有課程將清先空，有少部分抵免課程、免修課程、聯合大學開授課程無法匯入。<br>
	註2：建議使用 Chrome 或 FireFox，如用 IE 會複製到其他字元造成匯入失敗。<br>
	</p>
	
	</div>
	<div>
		<%= form_tag '/scores/import', :role=>"form", :class=>"paste-form" do %>
		<%= text_area "course","score" , class:"form-control", rows:"10", placeholder:"請將複製內容貼於此...", required:"true" %>
		<%= hidden_field_tag "user_agreement", (current_user.agree) ? 0 : 0 %>
		<div class = "sub_btn">
			<%= submit_tag "立即匯入", :class=>"btn btn-primary" %>
		</div>
		<% end %>
	</div>

	<!-- agreement modal -->
	<div class="modal fade" id="agreement" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title"><strong>服務條款</strong></h4>
	      </div>
	      <div class="modal-body">
	        <p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; NCTU+ 僅將匯入成績供個人及各系辦審核成績使用，不會以任何方式公開使用者成績。</p>
			<p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; 由於課程資料繁多且複雜，畢業學分計算<b>僅供參考</b>，不保證其正確性。</p>
			<p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; 使用者務必確認匯入成績的正確性，以利畢業學分計算與審查。</p>
			<p><span class="glyphicon glyphicon-chevron-right"></span>&nbsp; 103 學年度起 NCTU+ 與電機系合作，大四同學須利用本系統供系辦審核。</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn  btn-primary agree-submit" data-dismiss="modal">同意</button>
	        <button type="button" class="btn btn-default" onclick="$('#agreement').modal('hide');">不同意</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="col-sm-2"></div>
	</div>
	</div>
</div>
</body>
</html>
<script>
	$('.paste-form').submit(function(){
		if($('#user_agreement').val()==0){
			$('#agreement').modal('show');
			return false ;
		}		
	});
	$('.agree-submit').click(function(){
		$(this).attr('disabled', true);
		$(this).html('<%=fa_icon "spinner spin"%>');
		$('#user_agreement').val(1);
		$('.paste-form').submit();
		return false ;
	});
</script>