<%= javascript_include_tag "user_course_stat/checker", "data-turbolinks-track" => true %>
<%= javascript_include_tag "user_course_stat/cm_check-helper", "data-turbolinks-track" => true %>

<% errmsgs = params[:errmsg]%>
<% if errmsgs and not errmsgs.empty? %>
    <table class="table" style="background-color:white;" >
        <th class="">學期</th>
        <th class="">當期課號</th>
        <th class="">課程名稱</th>
        <th class="">失敗原因</th>
      <tbody>
        <% errmsgs.each do |e| %>
            <td class=""><%= e['sem']%></td>
            <td class=""><%= e['cos_id']%></td>
            <td class=""><%= e['name']%></td>
            <td class=""><%= e['msg']%></td>
            </tr>
        <% end %>
      </tbody>
    </table>
<%end%>

<div class="container panel ">
	<div class=" bs-callout bs-callout-info well">
		<h2><%=fa_icon "upload"%>選擇學程</h2>
		<h4>
			<%=params[:msg]%><br>
			請選擇以下課程的所屬學程
		</h4>	
	</div>
	<div id="common_check_div" class=""></div>
	<div id="cosmap_check_div" class=""></div>
	<div id="course_list" class=""></div>
</div>

<script>
$(document).ready(function(){
	$.getJSON("/user/statistics", function (data) {
		<% if current_user.is_undergrad? %>
			var pass_courses=getPassCourses(checkPass,data.pass_score,data.user_courses);
			$("#common_check_div").html(tmpl("common_check",pass_courses));
		<% end %>
		if(data["course_map"]){
			$("#cosmap_check_div").html(tmpl("cosmap_check",data));
		}
		$("#course_list").html(tmpl("select_cf",data));
		
	});
	
});

</script>

<% @show_report=false %>

<% if current_user.is_undergrad? %>
	<%=render :partial=>"/user/course_stat/xtmpl_common_check"%>
<% end %>
<%=render :partial=>"/user/course_stat/xtmpl_cm_check"%>
<%=render :partial=>"/user/xtmpl_select_cf"%>
