<br>
<div class="panel panel-default">
	  <div class="panel-heading">
		<h2 class="panel-title"><a href="#" onclick="show_panelbody('#post_form');">新增筆記</a><small class="pull-right">
		<a href="#" onclick="show_panelbody('#post_form');"><span class="caret" ></span></a>
		</small>
		</h2>
		
	  </div>
	  <div class="panel-body hidden" id="post_form">
		<p>轉貼的話請附上出處，可以的話加點自己的心得較好XD</p>
		<p>建議能先從word將文章打好再複製貼上，這個編輯器有很多功能需要改進</p>
	    
		<%=render :partial=>'post/form' %>	
	  </div>

</div>
<% @posts.each do |post| %>
<div class="panel panel-default">
    <!---<div class="panel-heading">--->
	<div class="panel-body">
        <p><h3> <%=post.title%></h3></p>
		<% user_url="https://www.facebook.com/"<<User.find(post.owner_id).uid %>
		<p><%= link_to User.find(post.owner_id).name, user_url %> <%=post.updated_at%>	
		
		  <%post.courses.each do |course|%>
			<span class="label label-info"><%= link_to course.eng_name, course_path(course), :class=>"course-tag" %></span>
		  <%end%>  
	    </p>
	<!---</div>--->
		
		<hr>
		<% brief_length = 400 > post.content.length ? post.content.length : post.content.index('>',400) %>
        <p><%=post.content.to_s[0..brief_length].html_safe%>......</p>
		<p class="pull-right"><%=link_to "Enter this note", post_path(post) %>
		<%= link_to '編輯', edit_post_path(post) %>
        <%= link_to '刪除', post_path(post), :method => :delete %>
		</p>
    </div>
</div>
<% end %> 