<%= javascript_include_tag "event_create", "data-turbolinks-track" => true %>
<%= tinymce_assets %>
<style>
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
</style>



<div class="container bg-white">
	<div class="row">
    <div class="col-md-9 col-md-offset-1">
			<%=form_for @event, :html => { :multipart => true, :class=>"form-horizontal" } do |f| %>
				<!--<div id="imageContainer" style="min-width:880px;min-height:440px;width:880px;background-color:white;"></div>
				<%= file_field_tag "img" %>
				-->
				<!--<input type="file" id="file-input">-->
				<div class="form-group">
					<label class="col-sm-2 control-label">活動類型</label>
					<div class="col-sm-3">
						<%=f.text_field :event_type,:class=>"form-control", :placeholder=>"必填", :required=>"true"%>
					</div>
					<label class="col-sm-2 control-label">活動名稱</label>
					<div class="col-sm-5">
						<%=f.text_field :title,:class=>"form-control", :placeholder=>"必填", :required=>"true"%>
					</div>	
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">主辦單位</label>
					<div class="col-sm-4">
						<%=f.text_field :organization,:class=>"form-control", :placeholder=>"選填"%>
					</div>
					<label class="col-sm-2 control-label">地點</label>
					<div class="col-sm-4">
						<%=f.text_field :location,:class=>"form-control", :placeholder=>"必填", :required=>"true"%>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">開始時間</label>
					<div class="col-sm-4">
						<%=f.text_field :begin_time,:class=>"form-control datepicker", :placeholder=>"必填", :required=>"true", :data_behaviour=>'datepicker'%>
					</div>
					<label class="col-sm-2 control-label">結束時間</label>
					<div class="col-sm-4">
						<%=f.text_field :end_time,:class=>"form-control", :placeholder=>"必填", :required=>"true", :data_behaviour=>'datepicker'%>
					</div>
				</div>
				<div class="row">
					<label class="col-sm-2 control-label">內容</label>
					<div class="col-md-10">
						<%=f.text_area :content,{:maxlength=>35, :size=>30, :class=>"tinymce", :placeholder=>"內容",:style=>"height:200px;"}%>
					</div>
				</div>
				<br>
				<div class="col-md-12 text-right">
					<%=f.submit "送出",class:"btn btn-lg btn-success"%>
				</div>
			<% end %>
		</div>
	</div>
</div>


<script>

$(document).ready(function(){
	$('#img').change(function (e) {
		loadImage(
			e.target.files[0],
			function (img) {
				$("#imageContainer").html(img);
			},
			{maxWidth: 880,maxHeight:440} // Options
		);
	});
/*
	$('.datepicker').datetimepicker({
		dateFormat: "yy-mm-dd",
		timeFormat: 'HH:mm',
		//startDate: "2013/11/17",
		language: "zh-TW"
	});
*/
	var startDateTextBox = $('#event_begin_time');
	var endDateTextBox = $('#event_end_time');
	startDateTextBox.datetimepicker({ 
		dateFormat: "yy-mm-dd",
		timeFormat: 'HH:mm',
		
		onClose: function(dateText, inst) {
			if (endDateTextBox.val() != '') {
				var testStartDate = startDateTextBox.datetimepicker('getDate');
				var testEndDate = endDateTextBox.datetimepicker('getDate');
				if (testStartDate > testEndDate)
					endDateTextBox.datetimepicker('setDate', testStartDate);
			}
			else {
				endDateTextBox.val(dateText);
			}
		},
		onSelect: function (selectedDateTime){
			endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
		}
	});
	endDateTextBox.datetimepicker({ 
		dateFormat: "yy-mm-dd",
		timeFormat: 'HH:mm',
		onClose: function(dateText, inst) {
			if (startDateTextBox.val() != '') {
				var testStartDate = startDateTextBox.datetimepicker('getDate');
				var testEndDate = endDateTextBox.datetimepicker('getDate');
				if (testStartDate > testEndDate)
					startDateTextBox.datetimepicker('setDate', testEndDate);
			}
			else {
				startDateTextBox.val(dateText);
			}
		},
		onSelect: function (selectedDateTime){
			startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
		}
	});
});
</script>

<%= tinymce :language => "zh_TW" %>