<%= javascript_include_tag "event_create", "data-turbolinks-track" => true %>

<%= tinymce_assets %>
<style>
	.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

	.ui-timepicker-rtl{ direction: rtl; }
	.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
	.ui-timepicker-rtl dl dt{ float: right; clear: right; }
	.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
	.input-group-btn select {
		border-color: #ccc;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 5.5px;
		//padding-top: 4px;
		padding-bottom: 5.5px;
	}
</style>



<div class="container bg-white">
	<br>
	<div class="row">
    <div class="col-md-9 col-md-offset-1">
			<%=form_for @event, :html => { :multipart => true, :class=>"form-horizontal" } do |f| %>
				<div class="form-group ">
					<h3 class="col-md-offset-1">
						<% if @event.new_record?%>
							新增活動
						<% else %>
							修改活動
						<% end %>
					</h3>
				</div>
				<div class="form-group vertical-center" style="min-height:0vh;">
          <label class="col-sm-2 control-label" >圖片</label>
					<div class="col-sm-10 col-xs-10">
						<%= f.file_field "cover",class:"hidden",accept:"image/*" %>
						<div id="image-container" onclick="$('#event_cover').click();" class="text-center clickable-hover" style="border:1px #eeeeee solid; min-height:170px;width:100%;">
							<% if @event.new_record? %>
								點選以上傳,建議800x400以達最佳效果(需小於2MB)
							<% else %>	
								<%=image_tag(@event.cover.url, :style => "max-height:170px")%>
							<% end %>
						</div>
					</div>
        </div>
				<!--<input type="file" id="file-input">-->
				<div class="form-group">
					<label class="col-sm-2 control-label">類型/名稱</label>
					<div class="col-sm-10">
						<div class="input-group">
							<div class="input-group-btn">
								<%=f.select :event_type,Event.typeSel,{:prompt=>"類型"},{:class=>"btn", :required=>"true"}%>
							</div>
							<%=f.text_field :title,:class=>"form-control", :placeholder=>"必填", :required=>"true"%>
						</div>
					</div>
					<!--
					<div class="col-sm-10">
						<%=f.text_field :title,:class=>"form-control", :placeholder=>"必填", :required=>"true"%>
					</div>
					-->
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">活動網址</label>
					<div class="col-sm-10">
						<%=f.text_field :url,:class=>"form-control", :placeholder=>"選填"%>
					</div>
				</div>
				<div class="form-group">					
					<label class="col-sm-2 control-label">主辦單位</label>
					<div class="col-sm-4">
						<%=f.text_field :organization,:class=>"form-control", :placeholder=>"必填", :required=>"true"%>
					</div>
					<label class="col-sm-2 control-label">地點</label>
					<div class="col-sm-4">
						<%=f.text_field :location,:class=>"form-control", :placeholder=>"必填", :required=>"true"%>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">開始時間</label>
					<div class="col-sm-4">
						<%=f.text_field :begin_time,value:@event.begin_time,:class=>"form-control datepicker", :placeholder=>"必填", :required=>"true", :data_behaviour=>'datepicker', :readonly=>"true", :style=>"background-color: white;"%>
					</div>
					<label class="col-sm-2 control-label">結束時間</label>
					<div class="col-sm-4">
						<%=f.text_field :end_time,value:@event.end_time,:class=>"form-control", :placeholder=>"必填", :required=>"true", :data_behaviour=>'datepicker', :readonly=>"true", :style=>"background-color: white;"%>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">內容</label>
					<div class="col-md-10" id="event-content-div">
						<%=f.text_area :content,{:maxlength=>35, :size=>30, :class=>"tinymce", :placeholder=>"內容",:style=>"height:200px;"}%>
					</div>
				</div>
				<br>
				<div class="col-md-12 text-right">
					<!--button id="preview-btn" onclick="preview();return false;" class="btn btn-lg btn-primary">預覽</button-->
					<%=f.submit "送出",class:"btn btn-lg btn-success"%>
				</div>
			<% end %>
		</div>
	</div>
	<br>
</div>

<ol id="joyRideTipContent">
	<li data-text="Next" class="">
		<h2>Tips</h2>
		<p>
		請使用Enter鍵或滑鼠點擊灰色處觀看	
		</p>
	</li>
	<li data-id="image-container" data-button="Next">
		<h4>活動封面</h4>
		<p>替你的活動上傳封面吸引更多人<br>
		建議<strong>1000x400</strong>以達最佳效果!<br>
		會顯示在首頁的輪播區喔~</p>
	</li>
	<li data-id="event-content-div" data-button="Next">
		<h4>活動內容</h4>
		<p>
			打一篇圖文並茂的宣傳文吧!<br>
			可以直接複製貼上FB的文章(記得設成公開)，會有圖片顯示喔!
		</p>
	</li>
	<!--li data-id="preview-btn" data-button="Done">
		<h4>預覽</h4>
		<p>
			送出前可以先看看效果如何!
		</p>
	</li-->
</ol>

<script>

$(document).ready(function(){

	initUpload();
	$('#joyRideTipContent').joyride({
      autoStart : true,
      cookieMonster: true,           
      cookieName: '_EventFormTip', 
      modal:true,
      expose: true
    });

	var startDateTextBox = $('#event_begin_time');
	var endDateTextBox = $('#event_end_time');
	
	startDateTextBox.datetimepicker({ 
		dateFormat: "yy-mm-dd",
		timeFormat: 'HH:mm',
		
		onClose: function(dateText, inst) {
			if (endDateTextBox.val() != '') {
				var testStartDate = startDateTextBox.datetimepicker('getDate');
				var testEndDate = endDateTextBox.datetimepicker('getDate');
				if (testStartDate > testEndDate)
					endDateTextBox.datetimepicker('setDate', testStartDate);
			}
			else {
				endDateTextBox.val(dateText);
			}
		},
		onSelect: function (selectedDateTime){
			endDateTextBox.datetimepicker('option', 'minDate', startDateTextBox.datetimepicker('getDate') );
		}
	});
	endDateTextBox.datetimepicker({ 
		dateFormat: "yy-mm-dd",
		timeFormat: 'HH:mm',
		onClose: function(dateText, inst) {
			if (startDateTextBox.val() != '') {
				var testStartDate = startDateTextBox.datetimepicker('getDate');
				var testEndDate = endDateTextBox.datetimepicker('getDate');
				if (testStartDate > testEndDate)
					startDateTextBox.datetimepicker('setDate', testEndDate);
			}
			else {
				startDateTextBox.val(dateText);
			}
		},
		onSelect: function (selectedDateTime){
			startDateTextBox.datetimepicker('option', 'maxDate', endDateTextBox.datetimepicker('getDate') );
		}
	});
	//set the initial time if form calendar
	<% if params[:start].present? %>
		var start_time=new Date(<%=params[:start]%>);	
		startDateTextBox.val(start_time.toJSON());
	<% end %>
	
	
	<% if params[:end].present? %>
		var end_time=new Date(<%=params[:end]%>);
		endDateTextBox.val(end_time.toJSON());
	<% end %>
	
});
</script>

<%= tinymce :language => "zh_TW" %>