<%=link_to "新增",new_event_path,class:"btn btn-success",'data-no-turbolink'=>"true"%>
<table class="table">
	<tr class="row">
		<th>標題</th>
		<th>時間</th>
		<th>功能</th>
<% @events.each do |event| %>
	<tr class="row">
		<td><%=link_to event.title,event_path(event)%></td>
		<td>
			<%=event.begin_time%>~<%=event.end_time%>
		</td>
		<td>
			<%=link_to "編輯",edit_event_path(event),'data-no-turbolink'=>"true"%>
			<%=link_to "刪除",event_path(event),method: "delete",data:{confirm:"Sure?"}%>
		</td>
	</tr>
<% end %>
</table>