<style>
</style>
<%= stylesheet_link_tag "events", media: "all", "data-turbolinks-track" => true %>

<div id="main-container" class="container center-block" style="" bg-white>
	<form class="search-block form-horizontal form-group center-block col-md-12" role="form">
		<div class="wapper">
			<%=link_to "新增活動",new_event_path,class:"btn btn-info col-md-1","data-no-turbolink"=>true%>
			<div class="col-md-1">
				<button type="submit" class="btn btn-primary">找活動</button>
			</div>
			<div class="col-md-7">
				<input type="activities" class="form-control" id="activitiesInput" placeholder="輸入活動名稱">
			</div>
		</div>
	</form>

	<div id="events-theme1">
		<h1>近期活動</h1>
		<div id="events-container1" class="events-container" style="">
			<% @events.each do |event| %>
			<div class="event-block">
				<!--small class="event_type"><%=event.event_type%></small-->
				<!--<div <% if event.is_today; 
							'class=>"event_date event_today"';
						elsif event.is_past;
							'class=>"event_date event_past"';
						else 
							'class=>"event_date event_future"'; 
						end%> >
						
						<%=event.get_time%></div>
				-->
				<div class="event_date"><%=event.get_time%></div>
				<div id="event-<%=event.id%>" href="/events/<%=event.id%>" class="event-block-top" onmouseover="$(this).addClass('mouse-on')" onmouseleave="$(this).removeClass('mouse-on')">
					<%=image_tag(event.cover.url, :class => "img-responsive img-rounded poster", :alt=> "poster", :onclick=>"goToHref($(this).parent().attr('href'), true)") %>
				</div>
				<div class="event-block-bottom">
					<small class="event_title text-right"><%=event.get_org%></small>
					<strong><%=event.get_title%></strong>
					<small class="event_location"><%=event.get_location%></small>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div id="events-theme2">
		<h1>主題活動</h1>
	</div>
</div>

