<%= stylesheet_link_tag "events", media: "all", "data-turbolinks-track" => true %>
<script type="text/javascript">

	$(document).ready(function(){
		$('.carousel').carousel({
			interval: 5000
		});
		
		$('#banner-0').addClass('active');
		
		$('#myActivities').click( function(){
			$(this).toggleClass("active");
			$('#menuBottom').toggleClass( "cbp-spmenu-open" );
		});

	});
	
	$('#myCarousel').hover(function() {
		$(this).carousel('pause') 
    });	

</script>

	
<div class="layout-content" style="" bg-white>
	<div id="js-banner" class="events-banner">
		<div id="myCarousel" class="carousel slide">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			<% @event_banner.each_with_index do |banner, index| %>
				<li data-target="#myCarousel" data-slide-to="<%=index%>"></li>
			<% end %>
			</ol>
			
			<!-- Carousel items -->
			<div class="carousel-inner" role="listbox">
			<% @event_banner.each_with_index do |banner, index| %>
				<div id="banner-<%=index%>" class="item">
					<div class="banner__inner">
						<%=image_tag(banner.cover.url, :class => "banner__image", :alt=> "banner", :onclick=>"goToHref($(this).parent().attr('href'), true)") %>					
						<div class="banner__caption">
							<strong><%=banner.get_title%></strong>
						</div>
					</div>
				</div>
			<% end %>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left"  href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
	
	<!--- form group --->
	<form class="form-horizontal form-group center-block col-md-12" role="form">
		<div class="form-wapper">
			<%=link_to "新增活動",new_event_path,class:"btn btn-info col-md-1","data-no-turbolink"=>true%>
			<div class="col-md-1">
				<button type="submit" class="btn btn-primary">找活動</button>
			</div>
			<div class="col-md-7">
				<input id="activitiesInput" type="activities" class="form-control" placeholder="輸入活動名稱">
			</div>
			<div class="col-md-1">
				<!-- Class "cbp-spmenu-open" gets applied to menu -->
				<button id="myActivities" type="button" class="btn btn-success" data-toggle="toggle" aria-pressed="false" >我的活動</button>
			</div>
		</div>
	</form>

	<div class="events theme-events--swirl">
		<h1>近期活動</h1>
		<div id="events-container1" class="events-container" style="">
			<% @events.each do |event| %>
			<div class="event-block <%=event.get_block_theme%>">
				<!-- small class="event-type"><%=event.event_type%></small -->
				<div class="event-date <%=event.get_time_css%> "><%=event.get_time%></div>
				<div id="event-<%=event.id%>" href="/events/<%=event.id%>" class="event-block__top" 
						onmouseover="$(this).addClass('mouse-on')" onmouseleave="$(this).removeClass('mouse-on')">
					<%=image_tag(event.cover.url, :class => "event-image", :alt=> "poster", :onclick=>"goToHref($(this).parent().attr('href'), true)") %>
				</div>
				<div class="event-block__bottom">
					<small class="event-title text-right"><%=event.get_org%></small>
					<strong><%=event.get_title%></strong>
					<small class="event-location"><%=event.get_location%></small>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<div class="events theme-events--pinkrice">
		<h1>主題活動</h1>
	</div>
	
	<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="menuBottom">
		<h3>我的活動</h3>
		<% if current_user %>
			<% current_user.attend_events.each do |myEvent| %>
				<%=link_to myEvent.get_title, "/events/"+myEvent.id.to_s %>
			<% end %>
		<% end %>
	</nav>
</div>
