<%= stylesheet_link_tag "events", media: "all", "data-turbolinks-track" => true %>
<script type="text/javascript">

	$(document).ready(function(){
		$('.carousel').carousel({
			interval: 5000
		});
		$("#content-container").attr("class","container-fluid");
		
		$('#banner-0').addClass('active');
		
		$('#myActivities').click( function(){
			<% if current_user %>
			$(this).toggleClass("active");
			$('#menuBottom').toggleClass( "cbp-spmenu-open" );
			<% else %>
				toastr["info"]("請先登入!");
			<% end %>
		});
		
		$('#nav_cross_button').click( function(){
			$(this).toggleClass("active");
			$('#menuBottom').toggleClass( "cbp-spmenu-open" );
		});
		
		/* for css */
		/*
		
			margin: 0 -9999rem;
			padding: 0.25rem 9999rem;

		//$('#event-block2').width( $('window').width() ); 
		
		var bg1_height=$('#event-background1').height();
		var bk1_height=$('#event-block1').height();
		if(bk1_height > bg1_height)
		{
			$('#event-background1').height(bk1_height);
			$('#event-background1').width( $('#page-top').width() );
		}
		*/
	});
	
	$('#myCarousel').hover(function() {
		$(this).carousel('pause') 
    });	


	/*
	else
	{
		document.getElementById('leftdiv').height()=right;
	}*/
</script>

	
<div class="layout-content" style="" bg-white>
	
	<!-- banner -->
	<div id="js-banner" class="events-banner">
		<div id="myCarousel" class="carousel slide">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			<% @event_banner.each_with_index do |banner, index| %>
				<li data-target="#myCarousel" data-slide-to="<%=index%>"></li>
			<% end %>
			</ol>
			
			<!-- Carousel items -->
			<div class="carousel-inner" role="listbox">
			<% @event_banner.each_with_index do |banner, index| %>
				<div id="banner-<%=index%>" class="item">
					<div class="banner__inner clickable-hover" href="/events/<%=banner.id%>" onmouseover="$(this).addClass('mouse-on')" onmouseleave="$(this).removeClass('mouse-on')">
						<%=image_tag(banner.cover.url, :class => "banner__image", :alt=> "banner", :onclick=>"goToHref($(this).parent().attr('href'), true)") %>
						<div class="banner__caption">
							<strong><%= truncate(banner.title, length: 20) %></strong>
						</div>
					</div>
				</div>
			<% end %>
			</div>
			<!-- Carousel nav -->
			<% if not @event_banner.empty? %>
			<a class="carousel-control left"  href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
			<% end %>
		</div>
	</div>
	<!-- End of banner -->
	
	<!--- form group --->
	<div class="row">
		<div class="form-wrapper">
			<div class="container">
        <%=form_tag "/events", {class:"form-horizontal form-group center-block", role:"form", method:"GET"} do %>
					<div class="form-button-wrapper">
						<%=link_to "新增活動",new_event_path,class:"btn btn-info btn-block","data-no-turbolink"=>true%>
					</div>
					<div class="form-button-wrapper">
						<button id="myActivities" type="button" class="btn btn-success btn-block" data-toggle="toggle" aria-pressed="false" >我的活動</button>
					</div>
					<div class="form-text-wrapper">
						<div class="input-group">
							<%=text_field_tag :custom_search, params[:custom_search], class:"form-control", placeholder:"輸入活動名稱/地點/組織" %>
              <span class="input-group-btn">
								<button type="submit" class="btn btn-primary" id="search"><i class="fa fa-search"></i></button>        
							</span>
						</div>
					</div>
        <% end %>  
			</div>
		</div>
	</div>

	<div class="row">

		<!-- Focus Activities -->
		<!--
		<div id="event-block2" class="events-block">
			<h1>主題活動</h1>
		</div>
		-->
		<!-- End of Focus Activities -->


		<!-- Current Activities -->
		<div id="event-block1" class="events-block">
			<h1>近期活動</h1>
			<div id="events-container1" class="events-container" style="">
				<!-- list all events -->
				
				<!-- current events -->
				<% @current_events.each do |event| %>
					<div class="event-block-wrapper">
						<div class="event-block <%=event.get_block_theme%>">
							<!-- small class="event-type"><%=event.event_type%></small -->
							<div class="event-date <%=event.get_time_css%> "><%=event.get_time%></div>
							<div id="event-<%=event.id%>" href="/events/<%=event.id%>" class="event-block__top clickable-hover" 
									onmouseover="$(this).addClass('mouse-on')" onmouseleave="$(this).removeClass('mouse-on')">
								<%=image_tag(event.cover.url, :class => "event-image", :alt=> "poster", :onclick=>"goToHref($(this).parent().attr('href'), true)") %>
							</div>
							<div class="event-block__bottom">
								<small class="event-title text-right"><%= truncate(event.organization, length: 7)%></small>
								<strong><%= truncate(event.title, length: 20) %></strong>
								<small class="event-location"><%= truncate(event.location, length: 10) %></small>
								<% if event.user_id==current_user.try(:id)%>
									<%link_to fa_icon("pencil-square lg"), edit_event_path(event),"data-no-turbolink"=>true%>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
				<!-- current events End -->

				<!-- future events -->
				<% @future_events.each do |event| %>
					<div class="event-block-wrapper">
						<div class="event-block <%=event.get_block_theme%>">
							<!-- small class="event-type"><%=event.event_type%></small -->
							<div class="event-date <%=event.get_time_css%> "><%=event.get_time%></div>
							<div id="event-<%=event.id%>" href="/events/<%=event.id%>" class="event-block__top clickable-hover" 
									onmouseover="$(this).addClass('mouse-on')" onmouseleave="$(this).removeClass('mouse-on')">
								<%=image_tag(event.cover.url, :class => "event-image", :alt=> "poster", :onclick=>"goToHref($(this).parent().attr('href'), true)") %>
							</div>
							<div class="event-block__bottom">
								<small class="event-title text-right"><%= truncate(event.organization, length: 7)%></small>
								<strong><%= truncate(event.title, length: 20) %></strong>
								<small class="event-location"><%= truncate(event.location, length: 10) %></small>
								<% if event.user_id==current_user.try(:id)%>
									<%link_to fa_icon("pencil-square lg"), edit_event_path(event),"data-no-turbolink"=>true%>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
				<!-- future events End -->

				<!-- past events -->
				<% @past_events.each do |event| %>
					<div class="event-block-wrapper">
						<div class="event-block <%=event.get_block_theme%>">
							<!-- small class="event-type"><%=event.event_type%></small -->
							<div class="event-date <%=event.get_time_css%> "><%=event.get_time%></div>
							<div id="event-<%=event.id%>" href="/events/<%=event.id%>" class="event-block__top clickable-hover" 
									onmouseover="$(this).addClass('mouse-on')" onmouseleave="$(this).removeClass('mouse-on')">
								<%=image_tag(event.cover.url, :class => "event-image", :alt=> "poster", :onclick=>"goToHref($(this).parent().attr('href'), true)") %>
							</div>
							<div class="event-block__bottom">
								<small class="event-title text-right"><%= truncate(event.organization, length: 7)%></small>
								<strong><%= truncate(event.title, length: 20) %></strong>
								<small class="event-location"><%= truncate(event.location, length: 10) %></small>
								<% if event.user_id==current_user.try(:id)%>
									<%link_to fa_icon("pencil-square lg"), edit_event_path(event),"data-no-turbolink"=>true%>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
				<!-- past events End -->
				
				<!-- end of list all events -->
				
			</div>
		</div>
		<!-- End of Current Activities -->

	</div>
	
	<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="menuBottom">
		<h3>我的活動</h3>
		<% if current_user %>
			<% current_user.attend_events.each do |myEvent| %>
				<%=link_to truncate(myEvent.title, length:15 ), "/events/"+myEvent.id.to_s %>
			<% end %>
		<% end %>
		<button type="button" class="close">
			<span id="nav_cross_button" aria-hidden="true" style="font-size: 2em;" >&times;</span>
			<span class="sr-only">Close</span>
		</button>
	</nav>
</div>
