<%= stylesheet_link_tag "events_show", media: "all", "data-turbolinks-track" => true %>

<div id="content-container" class="">

	<!-- Main Contents -->
	<div class="main-column-wrapper row">
		<div class="main-column">
		
			<div class="image-wrapper">
				<%=image_tag @event.cover.url, width:"100%", :class => "banner_image" %>
			</div>
			<span class="event-title">[<%=@event.event_type%>] <%=@event.title%></span>
			
			<!-- Contents of Main Column -->
			<div class="main-column-content">
				<!-- Info of Address -->
				<address class="main-column-info row">
					<div class="main-column-info__left">
						<p><%=fa_icon "calendar"%> 時間: <strong><%=@event.begin_time%> ~ <%=@event.end_time%></strong></p>
						<p><%=fa_icon "cubes"%> 主辦單位: <%=@event.organization%></p>
						<p><%=fa_icon "location-arrow"%> 地點: <%=@event.location%></p>
						<% if @event.url.present? %>
							<p><%=fa_icon "share-alt"%> 活動網址: <%=link_to "點這裡",@event.url,target:"blank"%></p>
						<% end %>
					</div>
					
					<div class="main-column-info__right">
						<p><%=fa_icon "eye"%> 觀看次數: <strong><%=@event.view_times%></strong></p>
						<p><%=fa_icon "sign-in"%> 參加人數: <strong><%=@event.attendances.size%></strong></p>
						<p><%=fa_icon "rss"%> 關注人數: <strong><%=@event.event_follows.size%></strong></p>
					</div>
				</address>
				<!-- Info of Address End -->
				
				<!-- Intro of Contents -->
				<section id="content">
					<div class="divide-horizontal">
						<span>活動介紹</span>
					</div>
					<%=@event.content.html_safe%>
				</section>
				<!-- Intro of Contents End -->
			</div>
			<!-- Contents of Main Column End -->
		</div>
	</div>
	<!-- Main Contents End -->
	
	<!-- Nav Menu, always on bottom -->
	<div class="nav-menu-wrapper navbar-fixed-bottom">
		<div class="container">
			<!-- Editor Nav -->
				<% if current_user&& @event.user_id==current_user.try(:id)%>
					<div id="editor-nav" class="nav-menu">
						<b>主辦選單 </b>
						<%=link_to "編輯",edit_event_path(@event),class:"btn btn-primary nav-button",style:"width:30%;","data-no-turbolink"=>true%>	
						<%=link_to "刪除",@event,class:"btn btn-danger nav-button",style:"width:30%;",method:"delete", data: { confirm: '確定要刪除此活動嗎?' }%>
					</div>
				<% end %>
			<!-- Editor Nav End -->
			
			<!-- Normal Nav -->
			<div id="my-nav" class="nav-menu pull-right" >
				<% if current_user %>
					<div class="dropdown hidden"><!-- dropdown menu -->
						<button id="event-dropdown-menu" class="btn btn-default dropdown-toggle nav-button" type="button" data-toggle="dropdown" aria-expanded="true" style="width:40%">
							已參加活動
							<spen class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<% current_user.attend_events.each do |myEvent| %>
								<li><%=link_to truncate(myEvent.title, length:10 ), "/events/"+myEvent.id.to_s %></li>
							<% end %>
						</ul>
					</div><!-- dropdown menu End -->
				<% end %>
			
				<button id="follow_button" class="btn btn-info nav-button" onclick="attendAndFollow('follow',<%=params[:id]%>);" style="width:40%">
					<% if current_user %>
						<% if @event.event_follows.where(:user_id=>current_user.id).empty?%>
							關注
						<%else%>
							取消關注
						<%end%>
					<% else %>
						關注
					<% end %>
				</button>
				<button id="attend_button" class="btn btn-success nav-button" onclick="attendAndFollow('attend',<%=params[:id]%>);" style="width:40%">
					<% if current_user %>
						<% if @event.attendances.where(:user_id=>current_user.id).empty?%>
							參加
						<%else%>
							退出
						<%end%>
					<% else %>
						參加
					<% end %>
				</button>
			</div>
			<!-- Normal Nav End -->
		</div>
	</div>
	<!-- Nav Menu End-->
</div>

<!-- js functions -->
<script>
	$(document).ready(function(){
		
	});
	
	function attendAndFollow(type,id){
		<% if current_user %>
			$.ajax({
				type:"POST",
				url:"/events/attend",
				data:{
					type:type,
					event_id: id
				},			
				success:function(data){
					if(type=="attend"){
						if (data.state == "new"){
							toastr["info"]("加入成功");
							$("#attend_button").text("退出");
						}
						else{
							toastr["info"]("退出成功");
							$("#attend_button").text("參加");
						}
					}
					else if(type=="follow"){
						if (data.state == "new"){
							toastr["info"]("關注成功");
							$("#follow_button").text("取消關注");
						}
						else{
							toastr["info"]("取消關注成功");
							$("#follow_button").text("關注");
						}
					}
				},
				error:function(data){
					toastr["info"]("錯誤!");
				}
			});
		<% else %>
			toastr["info"]("請先登入, 謝謝");
		<% end %>
	}
	
</script>
<!-- js functions end -->
