<%= javascript_include_tag "books", "data-turbolinks-track" => true %>

<div id="main-container" class="container bg-white">
	<div class="row">
    <div class="col-md-7 col-md-offset-2">
			<h1>我要賣書</h1>
			<br>
			<h4>Step1.選擇適用課程 - <span class="text-center" id="ct-id" data="<%=@ct.try(:id)%>"><%=@ct.try(:course_ch_name)%>/<%=@ct.try(:teacher_name)%></span></h4>
			<div id="cts-search-form"></div>
			<div class="row">
				<div class="col-md-10">
					<a id="show-all-li" class="hidden" href="javascript:void(0);" onclick="$('#cts-list').find('li').removeClass('hidden');$('#cts-list').find('.more').remove();">展開</a>
					<ul id="cts-list"></ul>
				</div>
			</div>
			<hr>
			<h4>Step2.輸入書名以及內容</h4>
      <%= form_for @sale_book, :url => { :controller => 'books', :action => @sale_book.new_record? ? 'create' : "update" }, :html=>{class: "form-horizontal",multipart: true,id:"book_trade_info-form"} do |f| %>
        <div class="form-group">
					<%=hidden_field_tag :cts_id_list %>
          <label class="col-sm-2 control-label">書名</label>
					<div class="col-sm-10">
						<div class="input-group">
							<%= f.text_field "book_name", :class => "form-control",required:"true",onBlur:"checkAndEnable();",placeholder:"利用搜尋來快速填入其他資訊!" %>
							<div class="input-group-btn">
								<%=button_tag "搜尋",id:"search-GoogleBook", class:"btn btn-success",onclick:"searchGoogleBook();return false;"%>
							</div>
						</div>
					</div>	
        </div>
				<div class="form-group">
          <label class="col-sm-2 control-label">作者</label>
					<div class="col-sm-10">
						<%=text_field_tag "book[authors]",@book.authors, class: "form-control",placeholder:"",required:"true" %>
					</div>	
        </div>
				<div class="form-group">
          <label class="col-sm-2 control-label"><%=link_to ("ISBN<sup>"+fa_icon("question")+"</sup>").html_safe,"javascript:void(0);",onclick:"showIsbnTip();"%></label>
					<div class="col-sm-10">
						<%=text_field_tag "book[isbn]",@book.isbn, class: "form-control integer-only",placeholder:"不需以'-'隔開,10碼或13碼皆可,例:9789861994192" %>
						<%=hidden_field_tag "isbn_selected",@book.isbn  %>
					</div>	
        </div>	
				<div class="form-group hidden">
					<%=hidden_field_tag "book[selected]",@book.new_record? ? "false" : "true" %>
          <%=hidden_field_tag "book[title]",@book.title %>         
          <%=hidden_field_tag "book[description]",@book.description %>
					<%=hidden_field_tag "book[image_link]",@book.image_link%>
          <%=hidden_field_tag "book[preview_link]",@book.preview_link %>
        </div>
        <div class="form-group vertical-center" style="min-height:0vh;">
					
          <label class="col-sm-2 control-label" >圖片</label>
					<div class="col-sm-10 col-xs-10">
						<%= f.file_field "cover",class:"hidden",accept:"image/*" %>
						<div id="image-container" onclick="showPreviewImg();" class="text-center clickable-hover" style="border:1px #eeeeee solid; min-height:170px;width:100%;">
							點選以上傳圖片(需小於2MB)
							<%=@sale_book.new_record? ? "" : @sale_book.cover_image%>
						</div>
					</div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">價格</label>
					<div class="col-sm-10">
						<%= f.text_field "price", :class => "form-control integer-only",required: "true" %>
					</div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">書況及說明</label>
					<div class="col-sm-10">
						<%= f.text_area "desc", :class => "form-control",required: "true",rows:"8" %>
					</div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">聯絡方式</label>
					<div class="col-sm-10" style="margin-top:4px;">
						<% if current_user.hasFb? %>
							<div class="radio">
								<label>
								<%= f.radio_button :contact_way, "1" %> Facebook
								</label>
							</div>
						<% else %>
							至<%=link_to "編輯個人資訊","/user/edit"%> 結合facebook以利用fb連絡
            <% end %>
						<div class="radio">
							<label>
								<%= f.radio_button :contact_way, "0" %> Email
							</label>
						</div>
						
					</div>
        </div>
				<% if false %>
					<div class="form-group" id="status-edit">
						<label class="col-sm-2 control-label">售出</label>
						<div class="col-sm-10" style="margin-top:4px;">
							<div class="radio">
							<%= f.radio_button :status, "0" %>
							<%= f.label :status_not_soldout, "否" %>
							</div><div class="radio">
							<%= f.radio_button :status, "1" %>
							<%= f.label :status_soldout, "是" %>
							</div class="radio">
						</div>
					</div>
				<% end %>
        <div class="col-md-12">
          <%= f.submit "送出", class: "btn btn-lg btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="book-modal" tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog" >
		<div class="modal-content" >
			<div class="modal-header" >
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" ></div>
		</div>
	</div>
</div>

<script type="text/x-tmpl" id="googlebook-res">
	<table class="table table-hover">
		{% if(o.length==0){ %}
			<tr><td>查無結果!</td></tr>
		{% }else{ %}
			<tr>
				<td>封面</td>
				<td>書名</td>
				<td>作者</td>
			</tr>
			{% for(var i=0,book;book=o[i];i++) { %}
				{% var desc=book.description ? book.description.replace(/'/g,"\\'") : "";%}
				{% desc=desc.replace(/"/g,"\\\"");%}
				<tr class="clickable-hover" onclick="selectBook('{%=book.title%}','{%=book.isbn%}','{%=book.authors%}','{%=book.image_link%}'
				,'{%=desc%}','{%=book.preview_link%}');">				
					<td>
						{% if(book.image_link) %}
							<img src={%=book.image_link%}></img>
						{% else{ %}
							無圖片
						{% } %}
					</td>
					<td>{%=book.title%}</td>
					<td>{%=book.authors%}</td>
					
				</tr>
			{% } %}
		{% } %}
	</table>
</script>

<script>
	<% if @sale_book.new_record? %>
	function fillCtListInEdit(){
		//dummy function,do not remove
	}
	<% else %>
	function fillCtListInEdit(){
		// show cts list in edit page		
		<% @sale_book.course_teacherships.each do |cts| %>
			console.log(<%=cts.id%>);
			addCtid(<%=cts.id%>,"<%=cts.course_ch_name%>","<%=cts.teacher_name%>");
		<% end %>
	}
	<% end %>
</script>
