<div class="row bg-white">
	<div class="col-md-12 col-xs-12 text-cente">
		<table class="table">
			<tr class="row">
				<td style="width:40%;"><%=@sale_book.cover_image(2)%></td>
				<td>
					<h4><%=@sale_book.book_name%></h4>
					<% if @book.authors.present? %>
					by <%=@book.authors%><br>
					<% end %>
					<% if @book.authors.present? %>
					ISBN <%=@book.isbn%><br>
					<% end %>
					<% if @book.preview_link.present? %>
					<%=link_to "搶先看 ",@book.preview_link,target:"_blank"%>(on GoogleBook)<br>
					<% end %>
					價格: <strong><%=@sale_book.price%></strong> <br>
					賣家: <%=@sale_book.user.name%> <br>
					連絡方式: <%=@sale_book.contact_way==0 ? @sale_book.user.email : "Facebook" %><br>

					書況: <%=@sale_book.desc%> <br>
					適用課程 - <br>
					<% @sale_book.course_teacherships.includes(:course,:course_details).each do |cts|%>
						<%=link_to "#{cts.course_ch_name} #{cts.teacher_name}","/courses/#{cts.course_details.last.id}", target:"_blank" %><br>
					<% end %>
				</td>
			</tr>
			<% if @book.description.present? %>
			<tr class="row" >
				<td colspan="2">
				<%=@book.description%>(by google book)
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>