<div class="bg-white">
<div class="row">
	<div class="col-md-offset-1 col-md-11 col-xs-12 col-sm-12 text-cente">
		<div class="row">
			<div class="col-md-3 col-xs-12 col-sm-12">
				<%=@sale_book.cover_image(2)%>
			</div>
			<div class="col-md-8">
				<table class="table">
						<tr class="row">
							<td colspan="2" class="col-md-12">
								<h4><strong><%=@sale_book.book_name%></strong></h4>
								<% if @book.authors.present? %>
								by <%=@book.authors%>
								<% end %>
							</td>
						</tr>			
						<tr class="row">
							<td >價格</td>
							<td >
								<span style="color:red;font-size:18px;">
									<strong><%=@sale_book.price%><%= @sale_book.status==1 ? "(已售出)" : "" %></strong>
								</span>
							</td>
						</tr>
						<tr class="row">
							<td >賣家</td>
							<td ><%=@sale_book.user.name%></td>
						</tr>
						<tr class="row">
							<td class="">連絡方式</td>
							<td class="">
								<%=contact_way(@sale_book) %>
							</td>
						</tr>
						<tr class="row">
							<td class="">
								書況							
							</td>
							<td class="" style="word-wrap:break-word; word-break:break-all;">
								<%=@sale_book.desc%>
							</td>
						</tr>
						<tr class="row">
							<td class="">觀看次數</td>
							<td class=""><%=@sale_book.view_times %></td>
						</tr>
						<% if @book.isbn.present? %>
						<tr class="row">
							<td class="">ISBN</td>
							<td class=""><%=@book.isbn%></td>
						</tr>					
						<% end %>
						<tr class="row">
							<td class="">適用課程</td>
							<td class="">
								<% @sale_book.course_teacherships.includes(:course,:course_details).each do |cts|%>
									<%=link_to "#{cts.course_ch_name} #{cts.teacher_name}","/courses/#{cts.course_details.last.try(:id)}", target:"_blank" %><br>
								<% end %>
							</td>
						</tr>
					</table>
				</div>

		</div>
	</div>
</div>	
	<% if @book.preview_link.present?||@book.description.present? %>
	<div class="row" style="">
		<hr>
		<div class="col-md-offset-2 col-md-8 col-xs-12 col-sm-12 text-cente">	
		<h4>
			<% if @book.preview_link.present? %>
				<%=link_to "搶先看 ",@book.preview_link,target:"_blank"%>
			<% end %>
				<strong>簡介</strong><small>(by GoogleBook)</small>
		</h4>
			<p>
				<% if @book.description.present? %>
					<%=@book.description%>
				<% else %>
					尚無簡介
				<% end %>
			</p>
		</div>
	</div>
	<% end %>

</div>
