<%=render "courses/search/search_js"%>
<%= render "/course_maps/manage/xtmpl_search_res" %>
<div id="components" class="">
	<%=search_form_for @q, url:"/course_maps/search_course",id:"search", class:"form-horizontal", remote:true do |f| %>
		<div class="row schedule-search-bar" >
			<%=hidden_field_tag "hide_group",params[:hide_group] %>
			<%=hidden_field_tag "map_id",params[:map_id] %>
			<div class="col-sm-5 no-padding-left">
				
				<%= select_tag "degree" ,options_for_select(@degree_sel,params[:degree]), class: "form-control",:onchange=>"change_degree($(this))" %>		
			</div>
			<div class="col-sm-7" >				
				<%= f.select :course_details_department_id_eq,render("courses/search/undergrad_options"),{:prompt=> "系所"},{ :class=> "form-control"} %>
			</div>
		</div>
		<div class="row schedule-search-bar"style="margin-top:5px;">
			<div class="col-sm-8 no-padding-left ">
				<%= f.search_field :ch_name_cont, class: "form-control",placeholder:"課名" %>
			</div>
			<div class="col-sm-3 no-padding-left" style="">
				<button class="btn btn-primary"><%=fa_icon "search"%></button>
			</div>
		</div>
	<% end %>
	</br>	
	<div class="scrollable">
	</div>
</div>

