<script>
	function checkFieldSelected(){
		if(!cf_show_id){
			alert("請先選擇一個 [必修] 或 [多選多] 類別");
			return false ;	
		}
		return true;
	}
	function addCourse(c_ids){ //action="add"
	<% if params[:hide_group]=="true"%>
		// In course tree
		if(!check_field_selected())
			return false ;	
		$('#alert-msg').removeClass().html('<%=j fa_icon "spinner spin"%>');	
		$.ajax({
				type: "POST",
					url: "/course_maps/course_action" ,
					data:{
						type: 'add_course',
						cf_id : cf_show_id,
						c_ids : c_ids,
						map_id : map_id,
					},	
					success: function(data){ 
						var res = $.parseJSON(data);
						console.log(res.success);			
						if(res.fail > 0 ){
							if(res.success>0)
								alert("共加入了 "+res.success+" 門課程，另外有 "+res.fail+" 門課程重複。");
							else
								alert("課程重複了！");		
						}else if(res.success > 1)
							alert("共加入了 "+res.success+" 門課程");		
						load_course_list(cf_show_id) ;
						if(res.success>0)
							$('#alert-msg').html('新增成功').removeClass().addClass('text-color-green').show().fadeOut(3000);
						if(res.new_credit){
							$(".credit-need").text(res.new_credit);
						}
						
					},
					error: function(){
						$('#alert-msg').html('新增失敗').removeClass().addClass('text-color-red').show().fadeOut(3000);	
						alert("Add course failed..");
					}
			});	
	<% else %>
		// In course group tree
		//console.log('In add course group	'+cf_group_show_id);
		if(!cg_show_id){
			alert('請先選擇一個群組');
			return false;
		}
		$.ajax({
				type: "POST",
					url: "/course_maps/course_action" ,
					data:{
						type: 'add_group',				
						cg_id : cg_show_id,
						c_ids : c_ids,
					},	
					success: function(data){ 
						var res = $.parseJSON(data);		
						if(res.fail > 0 )
							alert("有 "+res.fail+" 課程重複了");
						console.log(cg_show_id);	
						load_group_treeview(cg_show_id, map_id);
						$('#alert-msg').html('新增成功').show().fadeOut(3000);
					},
					error: function(){
						alert("Add course failed..");
					}
			});	
		return false;

	<% end %>  		
		return false ;
	}
	function addAllCourses(){
		//if(!check_field_selected())return;
		var arr=[];
		$("tr.course").each(
		function(){
			//console.log($(this).attr('id'));
			arr.push($(this).attr('id'));
		});
		if(confirm("確定加入共"+arr.length+"課程?")){
			addCourse(arr);
		}
	}
</script>
<%=render "courses/search/search_js"%>
<%= render "/course_maps/manage/xtmpl_search_res" %>
<div id="components" class="">
	<%=search_form_for @q, url:"/course_maps/search_course",id:"search", class:"form-horizontal", remote:true do |f| %>
		<div class="row schedule-search-bar" >
			<%=hidden_field_tag "hide_group",params[:hide_group] %>
			<%=hidden_field_tag "map_id",params[:map_id] %>
			<div class="col-sm-5 no-padding-left">
				
				<%= select_tag "degree" ,options_for_select(@degree_sel,params[:degree]), class: "form-control",:onchange=>"change_degree($(this))" %>		
			</div>
			<div class="col-sm-7" >
				
				<%= f.select :course_details_department_id_eq,render("courses/search/undergrad_options"),{:prompt=> "系所"},{ :class=> "form-control"} %>
			</div>
		</div>
		<div class="row schedule-search-bar"style="margin-top:5px;">
			<div class="col-sm-8 no-padding-left ">
				<%= f.search_field :ch_name_cont, class: "form-control",placeholder:"課名" %>
			</div>
			<div class="col-sm-3 no-padding-left" style="">
				<button class="btn btn-primary"><%=fa_icon "search"%></button>
			</div>
		</div>
	<% end %>
	</br>	
	<div class="scrollable">
	</div>
</div>

