<script src="/assets/jqueryfileupload/jquery.ui.widget.js"></script>
<script src="/assets/jqueryfileupload/jquery.fileupload.js"></script>
<script src="/assets/jqueryfileupload/jquery.iframe-transport.js"></script>


<%= form_for FileInfo.new,:url =>{:controller=>"files", :action=>"create"}, :html => { :multipart => true, :id=>"fileupload" } do |f| %>
    <div class="panel panel-default">
	  <div class="panel-heading">
		<h2 class="panel-title"><a href="#" onclick="show_panelbody('#files_form');">上傳檔案</a><small class="pull-right">
		<a href="#" onclick="show_panelbody('#files_form');"><span class="caret" ></span></a>
		</small>
		</h2>
		
	  </div>
	  <div class="panel-body hidden" id="files_form">
		<p>目前支援的格式有: c/cpp/docx/doc/pdf/jpg/jpeg/png/gif</p>
		<p>每個檔案的大小限制為10mb</p>
		<p style="text-align:right;">
			<span class="btn btn-success fileinput-button">
				<i class="glyphicon glyphicon-plus"></i>
				<span>Select files...</span>
				<!-- The file input field used as target for the file upload widget -->
				 <%= f.file_field :path , :multiple=>""%>
			</span>
		</p>
	    <hr>
		<table class="table" id="file_queue" style="display:none;">
			<tr>
			  <th>檔名</th><th>size</th><th>進度</th>
			</tr>
		</table>
		<table class="table" id="file_done_table" style="display:none;">
			<tr>
			  <th>檔名</th><th>上傳時間</th><th>size</th><th class="file_des" >檔案說明</th><th>動作</th>
			</tr>
		</table>
	<%= f.hidden_field :course_id, :value => params[:id] %>
	
	  </div>
	  <div class="panel-footer">
		<p style="text-align:right;">
		
		<button id="upload_button" class="btn btn-primary " type="button" style="display:none;">Upload</button>
		</p>
	    
	  </div>
	</div>

<% end %>


	 


<script>
  
  //var fileq_title="<th>檔名</th><th>size</th><th>進度</th>";
  $(function () {
        'use strict';
		var totalupload=0;
		
	$("#fileupload").fileupload( {
		
		add: function (e, data) {
			var acceptFileTypes = /^.*\.*<%=FileInfo.support_types%>$/i;
			var progressbar=
				'<div class="progress">'+
				'<div class="progress-bar progress-bar-success"></div>'+
				'</div>';
			/*var file_des_text=
				'<input rows="3" style="display:none;">';*/
			var success="";
			$.each(data.files, function (index, file) {
				//alert(file.type);
				if (!acceptFileTypes.test(file.name) ||
					file.size > <%=FileInfo.max_upload_size%>) {
					success="danger";
					//data=0;
				}
				else{
					success="info";
					totalupload++;
				}
				$('#file_queue tr:last').after(
				"<tr class='"+success+"'><td>"+
				file.name+"</td><td>"+
				file.size+"</td><td>"+
				//file_des_text+"</td><td>"+
				progressbar+"</td></tr>");
				
			});
			$('#file_queue').show();
			$('#upload_button').show();
			$("#upload_button").click(function () {
					
					if(data!=0){
						data.submit();
						//alert(data.files.length);
					}
			});

		},
		//redirect
		stop: function (e) {
			//alert("!!!!");
			$('#upload_button').off('click');
			$('#upload_button').hide();
			//console.log("上傳成功!");
			//alert(data);
			//$("#notice").html(data);
			//$('#file_queue').html("!!!!");
			//$('#file_queue').html("<% render :partial => "files/show_cell", :collection => @files, :as => :file, :locals=>{:type=>"no_user_name"} %>");
		},
		done: function(e,data){
			//console.log(data.result["id"]);
			//aa=JSON.parse(data.jqXHR);
			//consol.log(aa);
			//console.log(data.result);
			var start=data.result.indexOf("<td>");
			var end=data.result.indexOf("</td>");
			var filename=data.result.substring(start+4,end);
			//console.log(filename);
			//console.log(data.jqXHR.responseText.id);
			$("tr:contains('"+filename+"')").remove();
			$('#file_done_table').show();
			//$("div [width='100%']").parent().remove();
			$('#file_done_table tr:last').after(data.result);
		},
		progress:function (e, data) {
			$.each(data.files, function (index, file) {
				var progress = parseInt(data.loaded / data.total * 100, 10);
				$("tr:contains('"+file.name+"')").find("div").contents().css('width',progress + '%');
			});	
		},
    });
	
	
  });


</script>



