<div class="container span5">

<%= form_for @file_info,:url =>{:controller=>"files", :action=>"create"}, :html => { :multipart => true, :id=>"fileupload"  } do |f| %>
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
         <%= f.file_field :path , :multiple=>""%>
    </span>
	
	<%= f.hidden_field :course_id, :value => "4" %>
	<button id="upload" class="btn btn-primary " type="button" >Upload</button>
	<table class="table" id="file_queue">
	<tr><th>檔名</th><th>size</th><th>進度</th>
	</tr>
    </table>
<% end %>

</div>
	 


<script>
  /*function check(){
	alert
  }*/
  
  $(function () {
        'use strict';
		var totalupload=0;
		
		$("#fileupload").fileupload( {
			
			add: function (e, data) {
				var acceptFileTypes = /^.*\.*<%=FileInfo.support_types%>$/i;
				var progressbar=
					'<div class="progress">'+
					'<div class="progress-bar progress-bar-success"></div>'+
					'</div>';
				var success="";
				$.each(data.files, function (index, file) {
					//alert(file.type);
					if (!acceptFileTypes.test(file.name) ||
					    file.size > <%=FileInfo.max_upload_size%>) {
						success="danger";
						data=0;
					}
					else{
						success="info";
					}
					$('#file_queue tr:last').after("<tr class='"+success+"'><td >"+file.name+"</td><td>"+progressbar+"</td></tr>");
				});
				
				$("#upload").click(function () {
						
						if(data!=0){data.submit();
							alert(data.files.length);}
				});

			},
			
			stop: function (e, data) {
				$('#upload').off('click');
				//alert("上傳成功!");
				//alert(data);
				//$("#notice").html(data);
				$('#file_queue').html("<tr></tr>");
			},
			progress:function (e, data) {
				$.each(data.files, function (index, file) {
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$("td:contains('"+file.name+"')").next("td").find("div").contents().css('width',progress + '%');	
				});	
			},
			/*change:function (e, data) {
				$.each(data.files, function (index, file) {
					//console.log('Selected file: ' + file.name);
					//alert(file.type);
					var progressbar=
						'<div class="progress">'+
						'<div class="progress-bar progress-bar-success"></div>'+
						'</div>';
					$('#file_queue tr:last').after("<tr ><td>"+file.name+"</td><td>"+file.size+"</td><td>"+progressbar+"</td></tr>");
				});
			}*/

    });
	
	
  });


</script>



