<%= form_for @post, :url => { :controller => 'post', :action => @action } do |f| %>
<table class="table">
<tr>
  <td class="col-md-1"><%= f.label :title, "標題" %></td>
  <td ><%= f.text_field :title, :value=>@post.title, :class=>"form-control", :style=>"width:400px;", :placeholder=>"Title..." %></td>
</tr>
<tr>
  <td class="col-md-1"><%= f.label :tags, "Tags" %></td>
  <td><%= f.text_field :tags, :value=>@tags, :id=>"post_tags", :placeholder=>"加入分類...", :class=>"form-control", :style=>"width:400px;" %></td>
</tr>


<tr><td colspan="2">
<p class="pull-right"><%= f.submit "送出", :class=>"btn btn-primary" %></p>
</td></tr>
</table>
<% end %>
<script>
$('#post_tags').tokenfield({
  autocomplete: {
    source: [<%=course_tag.html_safe%>],
    delay: 100
  },
  showAutocompleteOnFocus: true,
  
})
</script>