<%= javascript_include_tag "courses/past_exam", "data-turbolinks-track" => true %>
<div class="container bg-white">
	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12 text-cente">
			<br>
			<%= search_form_for @q, url:"/books/cts_search", class:"text-center form-inline", remote:"true" do |f| %>
				<div class="form-group">
					<label>適用課程</label>
					<%=f.search_field :course_ch_name_cont, class:"form-control",placeholder:"課名/教授"%>
				</div>
				<%=f.submit "搜尋",id:"search-ct-btn", class:"btn btn-success"%>
			<% end %>
			<h4 class="text-center" id="ct-id" data=""></h4>
			<br>
			<%=render "form" %>
		</div>
	</div>
</div>
<div class="modal fade" id="book-modal" tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog" >
		<div class="modal-content" >
			<div class="modal-header" >
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" ></div>
		</div>
	</div>
</div>
<script type="text/x-tmpl" id="cts-res">
	<table class="table table-hover" id="cts-res-table">
		<tr class="row">
			<th>課程</th>
			<th>老師</th>
		</tr>
		{% for(var i=0,cts;cts=o[i];i++) { %}
			<tr class="row clickable-hover" id="ct-{%=cts.id%}" onclick="selectCts('{%=cts.course_name+'/'+cts.teacher_name%}','{%=cts.id%}');">
				<td>{%=cts.course_name%}</td>
				<td>{%=cts.teacher_name%}</td>
			</tr>
		{% } %}
	</table>
</script>

<script>
	function selectCts(name,id){
		toastr["info"]("您已選擇"+name);
		$('#ct-id').attr('data',id);
		$('#ct-id').text(name);
		$("#book-modal").modal("hide");
		$(".fileupload-buttonbar").find(".disabled").removeClass("disabled");
	}
	$(function(){
		$('#past_exam_upload').attr('name','past_exam[upload]');
	  $('#fileupload').fileupload();
    $('#fileupload').fileupload('option',{
		  acceptFileTypes : /(\.|\/)<%=PastExam.support_types%>$/i,
		  maxFileSize: <%=PastExam.max_upload_size%>
	  });
	  $('#fileupload').bind('fileuploadsubmit', function (e, data) {
			var inputs = data.context.find(':input');
			$('.upload_ct_id').val("<%=params[:ct_id]%>");
			data.formData = inputs.serializeArray();
	  });
		$('#fileupload').bind('fileuploadadd', function (e, data) {
				$(".no-files-yet").hide();
        var allFiles = $('#fileupload').find('.filename');
        $.each(allFiles, function(index, file) {
            var filename = file.innerHTML;
            $.each(data.files, function(index, file) {
                if(filename === file.name){
                    file.error = 'Duplicate filename';
                    return;
                }
            });
						
        });
    });
		$.getJSON("/past_exams/list_by_ct?ct_id=-1", function (files) {
			var fu = $('#fileupload').data('blueimpFileupload'), 
				template;
			fu._adjustMaxNumberOfFiles(-files.length);
			template = fu._renderDownload(files)
				.appendTo($('#fileupload .files'));
			fu._reflow = fu._transition && template.length && template[0].offsetWidth;
			template.addClass('in');
			$('#loading').remove();
			for (var i=0, file; file=files[i]; i++) {
				$("td.semester_"+file.id+" select").val(file.semester_id);
			}
		});
	});
</script>	