<table class="table">
<tr><th>中文課名</th><th>英文課名</th><th>文章數</th><th>檔案數</th><th>功能</th></tr>
<% @courses.each do |course| %>
<tr>
<td><%= link_to course.ch_name, course_path(course) %></td>
<td><%= link_to course.eng_name, course_path(course) %></td>
<td>Not Done Yet</td>
<td><%= course.file_info.count %></td>
<td>
<%= link_to 'edit', edit_course_path(course) %>
<%= link_to 'delete', course_path(course), :method => :delete %>
</td>
</tr>
<% end %>
</table>
<%= link_to 'new course', new_course_path %>