<%= javascript_include_tag "new-index", "data-turbolinks-track" => false %>
<%= stylesheet_link_tag "login", "data-turbolinks-track" => false %>

<div class="bg1"></div>
<header>
	<div class="header-content container ">
		<div class="row vertical-center">
		<div class="col-md-12 col-sm-12 col-xs-12 header-content-inner">
			<h1>NCTU+</h1>
			<div >
				<h5>請以 <b>E3帳號</b> 或 <b>Facebook帳號</b> 登入!</h5>
			</div>
			<div class="form1">
				<%=form_tag(user_omniauth_callback_path(:E3), :id=>"login-form") do %>
				
				<table style="margin:auto">
					<tr>
						<td class="input-table">
						<i class="fa fa-2x fa-user input-icon upper-coner"></i></td>
						<td>
							<%=text_field_tag :username,"", placeholder: "E3 Account", class: "input1", required: "true" %>
						</td>
					</tr>
					<tr>
						<td class="input-table">
							<i class="fa fa-2x fa-lock input-icon down-coner" ></i>	
						</td>
						<td>
							<%=password_field_tag :password,"", placeholder: "Password", class: "input2", required: "true" %>
						</td>
					</tr>
				</table>
				<%=submit_tag "E3帳號登入", class:"btn-width-e3" %><br>
				<%=submit_tag 'Facebook登入', class:"btn-width-fb",onclick:"goToHref('#{user_omniauth_authorize_path(:facebook)}');" %>
				
				<% end %>
			</div>							
		</div>
		</div>
	</div>
</header>
<script>
	$(function(){
		$("nav").css("background-color","transparent");
		$("h1").fitText(
        1.2, {
            minFontSize: '35px',
            maxFontSize: '65px'
        }
    );
		//$(".footer").addClass("footer-fix-bot");
	});
</script>