<% dept_all=Department.where("(dept_type = 'dept' AND real_id != '17')  OR dept_type = 'for_user' ")%>
<% dept_undergrad=dept_all.select{|d|d.degree=='3'}.map{|d| [d.ch_name,d.id]}%>
<% dept_grad=dept_all.select{|d|d.degree=='2'}.map{|d| [d.ch_name,d.id]}%>
<%dept=current_user.department%>
<%= form_tag "/user/select_dept", class:"form-inline", id:"user_form" do %>
	<div class="form-group col-md-3">
	
	<%=select_tag 'degree_select', options_for_select([['大學部','3'],['研究所','2']],dept.nil? ? 3 :dept.degree), class:'form-control', onChange:"change_degree();"%>
	</div>
	<div class="form-group col-md-4">
	<%=select_tag 'dept_under_select', options_for_select(dept_undergrad,current_user.department_id), class:'form-control'%>
	<%=select_tag 'dept_grad_select', options_for_select(dept_grad,current_user.department_id), class:'form-control'%>
	</div>
	<div class="form-group col-md-3">
	<%=select_tag 'grade_under_select', options_from_collection_for_select(Grade.where(:degree=>3),:id,:name, current_user.grade_id), class:'form-control'%>
	<%=select_tag 'grade_grad_select', options_from_collection_for_select(Grade.where(:degree=>2),:id,:name, current_user.grade_id), class:'form-control'%>
	</div>
	<%=submit_tag "送出", class: "btn btn-success"%>
	
<% end %>

<script>
	$(document).ready(function(){
		
		<% if !dept.nil? %>
			$("#user_form").hide();
			change_degree();
		<% else %>
			//$("#user_form").removeClass("hidden");
			$("#dept_grad_select").hide();
			$("#grade_grad_select").hide();
		<% end %>
		
		<% if params[:import_course] %>
			alert("匯入完成! 共新增 <%=params[:success]%> 門課 重複:<%=params[:same]%> 失敗:<%=params[:failed]%>");	
		<% end %>
		
	});
	
	function show_form(obj){
		if ($("#user_form").is(':visible')) {
			$("#user_form").hide();
			$("#user_info").show();
			obj.text("修改系級");
		}
		else{
			$("#user_form").show();
			$("#user_info").hide();
			obj.text("隱藏");
		}
	}
	
	function change_degree(){
		var sel=$("#degree_select").val();
		var arr=['grad','under']
		sel-=2;
		for(i=0;i<arr.length;i++){
			if(i==sel){
				$("#dept_"+arr[i]+"_select").show();
				$("#grade_"+arr[i]+"_select").show();
			}
			else{
				$("#dept_"+arr[i]+"_select").hide();
				$("#grade_"+arr[i]+"_select").hide();
			}
		}
	}

</script>