<% dept_undergrad=Department.can_majored.undergraduate.map{|d| [d.ch_name,d.id]} %>
<% dept_grad=Department.can_majored.graduate.map{|d| [d.ch_name,d.id]} %>
<% dept=@user.department %>
<%= form_tag "/user/select_dept", class:"form-inline", id:"user_form" do %>
	<div class="form-group col-md-3">
	
	<%=select_tag 'degree_select', options_for_select([['大學部','3'],['研究所','2']],dept.nil? ? 3 :dept.degree), class:'form-control', onChange:"change_degree();"%>
	</div>
	<div class="form-group col-md-4">
	<%=select_tag 'dept_under_select', options_for_select(dept_undergrad,@user.department_id), class:'form-control'%>
	<%=select_tag 'dept_grad_select', options_for_select(dept_grad,@user.department_id), class:'form-control'%>
	</div>
	<div class="form-group col-md-4 row no-margin-left no-padding-left">
	<div class="col-md-4 no-padding-left no-padding-right">
	<h4 style="margin-top:8px;">
	入學年度
	</h4>
	</div>
	<div class="col-md-8">
	<%=select_tag 'grade_select', options_from_collection_for_select(Semester.all.group(:year).order(:id),:id,:year, @user.semester_id), class:'form-control'%>
	</div>
	</div>
	<%=submit_tag "送出", class: "btn btn-success"%>
	
<% end %>

<script>
	$(document).ready(function(){
		
		<% if !dept.nil? %>
			$("#user_form").hide();
			change_degree();
		<% else %>
			//$("#user_form").removeClass("hidden");
			$("#dept_grad_select").hide();
			$("#grade_grad_select").hide();
		<% end %>
		
		
		
	});
	
	function show_form(obj){
		if ($("#user_form").is(':visible')) {
			$("#user_form").hide();
			$("#user_info").show();
			obj.text("修改系級");
		}
		else{
			$("#user_form").show();
			$("#user_info").hide();
			obj.text("隱藏");
		}
	}
	
	function change_degree(){
		var sel=$("#degree_select").val();
		var arr=['grad','under']
		sel-=2;
		for(i=0;i<arr.length;i++){
			if(i==sel){
				$("#dept_"+arr[i]+"_select").show();
			}
			else{
				$("#dept_"+arr[i]+"_select").hide();
			}
		}
	}

</script>