<div class="panel panel-default">
	  <div class="panel-heading">
			<h2 class="panel-title">
				填寫系級
			</h2>
	  </div>
	  <div class="panel-body ">
			<p>填寫系級可以方便日後快速搜尋課程!<br>
				 日後也可以在個人的課程地圖中做修改
			</p> 
			<%= form_for User.new, url: { :controller => 'user', :action => 'create' }, html: {class:"form-inline", role:"form"} do |f| %>
	
				<div class="row">
					<div class="form-group col-sm-4 col-sm-offset-1">
						<% f.label :系所, "系所", :class=>"control-label col-sm-3" %>
					
						<input type="text" class="form-control" placeholder="系所" id="department_name_reg">
						<%= f.hidden_field :department_id %>
					</div>
		
					<div class="form-group col-sm-4">
						<% f.label :grade_id, "年級", :class=>"control-label col-sm-3" %>
						<input type="text" class="form-control" placeholder="年級" id="grade_name_reg">	
						<%= f.hidden_field :grade_id %>
					</div>
					<div class="form-group col-sm-2">
							<%= f.submit "送出", :class=>"btn btn-primary " %>
					</div>		
				</div>
			<% end %>
		</div>

</div>





<script>
$( document ).ready( function(){
	<% dept_all=Department.where(:viewable=>'1').map{|d| {"walue"=>d.id, "label"=>d.ch_name}}.to_json %>
	var department_select = <%=dept_all.to_s.html_safe%>;
	$( "#department_name_reg" ).autocomplete({
      source:  department_select,
			minLength :0,
			change: function (event, ui) {
				if(!find_by_label(department_select,$(this).val()))
					$(this).val("");
					
			},
			select: function(event, ui){
				event.preventDefault();
				$(this).val(ui.item.label);
				$(this).next().val(ui.item.walue);
				//$(this).blur();
			}
  }).on("focus",function(event){$(this).autocomplete("search", "");});
	
	<% grade_all=Grade.all.map{|g| {"walue"=>g.id, "label"=>g.name}}.to_json %>
	var grade_select = <%= grade_all.to_s.html_safe %>;
	$( "#grade_name_reg" ).autocomplete({
      source:  grade_select,
			minLength :0,
			change: function (event, ui) {
				if(!find_by_label(grade_select,$(this).val()))
					$(this).val("");
					
			},
			select: function(event, ui){
				event.preventDefault();
				$(this).val(ui.item.label);
				$(this).next().val(ui.item.walue);
				//$(this).blur();
			}
  }).on("focus",function(event){$(this).autocomplete("search", "");});
	
});
</script>