<% course_list.each do |c,x|%>
	<tr class="row" id="course-<%=j c.id.to_s %>">
		<td class="text-center">
		<%=green_check%>
		| <%=c.ch_name%>
		| <%=c.department.ch_name%>
		| <%=c.course_details.first.credit.to_s%>
		
		</td>
	</tr>
<% end %>

<script>
	function select_cf(cf_id,c_id){
		/*console.log(cf_id);
		console.log(c_id);*/
		$.ajax({
			type:"GET",
			url:"/user/select_cf",
			data:{c_id:c_id,cf_id:},
			success:function(data){
				alert("!!!");
			}
		});
	}
</script>

