<table class="table table-hover <%=table_class%>" id="by_cos_type">
	
	<% @course_maps.each_with_index do |course_map , i| %>
		<tr class="row">
			<th>
			<h4 class="text-center">
				<%=course_map.name%>
			</h4>
			</th>
		</tr>
		<% course_map.course_field_groups.includes(:course_fields).sort_by{|cfg|cfg.group_type}.each do |cfg| %>
			<% cf=cfg.course_fields.includes(:course_field_lists) %>
			<% if cfg.group_type<3 %>
				<% _cf=cf.first %>
				<tr class="row label-info">
					<td>
						<%=_cf.name%>
					</td>
				</tr>
				<% res=statistic_level2(course_map.id, courses_join_cf(@user.pass_courses,_cf),cfg,_cf) %>
				<%= render :partial=>"/user/show_list2", locals: {course_list: res[:result2]} %>
			<% else %>
				<% #cf=cfg.course_fields.includes(:course_field_lists) %>
				<tr class="row label-info">
					<td>
						<%=cfg.name%>
					</td>
				</tr>
				<% cf.each do |_cf| %>
					<tr class="row success">
						<td><%=_cf.name%></td>
					</tr>
					<% res=statistic_level2(course_map.id, courses_join_cf(@user.pass_courses,_cf),cfg,_cf) %>
					<%= render :partial=>"/user/show_list2", locals: {course_list: res[:result2]} %>
					
				<% end %>
			<% end %>
				

			
		<% end %>
		
		
	<% end %>

</table>


