<table class="table table-hover hidden <%=table_class%>" id="by_semester">
	<% pass_score=current_user.department.degree=='2' ? 70 : 60 %>

	<% @cs_all_sem.group_by{|cs| cs.course_detail.semester}.each do |sem,cs_local| %>
		<tr class="row fb-bg-color">
			<td colspan="2">
				<h4 class="text-center">
					<%= sem.name %>
				</h4>
			</td>
		</tr>
		<% credit_sum=0 %>
		<% pass_count=0 %>
		<% cs_local.each do |cs| %>
			
			
			<% if cs.score=="通過" || cs.score.to_i>=pass_score %>
			<% credit_sum+=cs.course_detail.credit.to_i %>
			<% pass_count+=1 %>
			<%pass_class=""%>
			<% else %>
				
				<%pass_class="danger"%>
			<% end %>
			
			<tr class="row <%=pass_class%>">
				<td class="col-md-6">
					<h4 class="text-center"><%= link_to cs.course_detail.course.ch_name, course_path(cs.course_detail.course, :tid=>cs.course_detail.teacher.id) %>
						<%= link_to cs.course_detail.temp_cos_id, "https://cos.adm.nctu.edu.tw/Course/CrsOutline/show.asp?Acy="<<cs.course_detail.semester.year<<"&Sem="<<cs.course_detail.semester.half<<"&CrsNo="<<cs.course_detail.temp_cos_id, :target=>"_blank" %> | 					
						<%=cs.course_detail.teacher.name %> | 
						<%= fa_icon "user" %> <strong><%=CourseSimulation.where(:course_detail_id=>cs.course_detail.id).count%></strong> | 
						<%= fa_icon "graduation-cap" %> <strong><%=cs.course_detail.credit%></strong>
					</h4>
				</td>
				<td class="col-md-6">
					<%ct=cs.course_teachership%>
					<div class="container" style="display:inline-block;">		
						<%= link_to "考古題", course_path(cs.course_detail.course, :tid=>cs.course_detail.teacher.id, :first_show=>"files"), :class=>"btn btn-sm btn-default" %>
						<div class="number-right-top" ><%=ct.file_infos.count%></div>
						<%= link_to "討論區", course_path(cs.course_detail.course, :tid=>cs.course_detail.teacher.id, :first_show=>"discussion"), :class=>"btn btn-sm btn-default" %>
						<div class="number-right-top" ><%=ct.discusses.count%></div>
					</div>
				</td>
			</tr>
		<% end %>
		
		<tr class="row success">
			<td colspan="2" >
				<h4 class="text-right">
					<% cs_local.group_by{|cs|cs.course_detail.cos_type}.each do |type,cs_2| %>
						<%=type%> : <strong><%=cs_2.map{|cs_2_local|cs_2_local.course_detail.credit.to_i}.reduce(:+)%></strong>
					<% end %>
					共 Pass: <strong><%=pass_count%></strong> 門課 Fail: <strong><%=cs_local.count-pass_count%></strong> 門課<strong> <%=credit_sum%></strong> 學分
				</h4>
			</td>
		</tr>

	<% end %>
	
	<tr class="row label-info">
		<td colspan="2" >
			<h4 class="text-right">
				目前學分:
				<%all_credit_sum=0%>
				<% @cs_all_passed.group_by{|cs| cs.course_detail.cos_type}.each do |type,cs_all| %>
					<% credit=cs_all.map{|cs|cs.course_detail.credit.to_i}.reduce(:+)%>
						<%=type%> : <strong><%=credit%></strong>
					<%all_credit_sum+=credit%>
				<% end %>
					共 <strong><%=@cs_all_passed.count%></strong> 門課 <strong><%=all_credit_sum%></strong> 學分
			</h4>
		</td>
	</tr>
	
</table>