<h3>我的收藏</h3>


  <table class="table table-hover ">
    <thead>
      <tr class="row">
        <th>名稱</th>
        <th>系所</th>
        <th>年級</th>
        <th>動作</th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |c| %>
      <% hashid = generate_share_hashid(c.target_id, c.semester_id) %>
      <tr class="row" href="<%=root_url%>shares/<%=hashid%>" id="<%=hashid%>">
        <td class="clickable-hover clickable-row"><%=c.user.name%></td>
        <td class="clickable-hover clickable-row"><%=c.user.department.ch_name %></td>
        <td class="clickable-hover clickable-row"><%=grade_on_user(c.user, c.semester)%>(<%=c.semester.year%>)</td>
        <td><%=link_to "刪除", "javascript:void(0);", :class=>"delete-collection"%></td>
      </tr>
      <% end %>  
    </tbody>
  </table>

<script>
  $(".clickable-row").click(function() {
   window.open( $(this).parent().attr("href") );
	});
  $('.delete-collection').click(function(){
    var $this_tr = $(this).parent().parent() ;
    $.ajax({
			method: "post",
			url:"/user/update",
			data: {type: "delete_collection",
			       item: $this_tr.attr('id')},
			success: function(){
				toastr["success"]("已刪除");
				$this_tr.remove();
			}
		});
  });
</script>