<%=render "link_bar" %>

<p class="text-center"><%=button_tag "使用說明", :class=>"btn btn-info", :onclick=>"$('#info-collection').modal('show');"%></p>

<table class="table table-hover text-center bg-white">
  <thead>
    <tr class="row">
      <td>名稱</td>
      <td>系所</td>
      <td>課表年級</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @collections.each do |c| %>
    <% hashid = generate_share_hashid(c.target_id, c.semester_id) %>
    <% no_share_color = (!c.user.canShare?) ? "warning" : "" %>
    <tr class="row ct-data <%=no_share_color%>" id="<%=hashid%>">
      <td><%=c.user.name%></td>
      <td><%=c.user.department.ch_name %></td>
      <td><%=grade_on_user(c.user, c.semester)%>(<%=c.semester.year%>)</td>
      <td>
        <% if !c.user.canShare? %>
        (使用者已關閉分享)
        <% end %>
        <%=link_to "刪除", "javascript:void(0);", :class=>"delete-collection"%>       
      </td>
    </tr>
    <% end %>  
  </tbody>
</table>

<div class="modal fade" id="info-collection" tabindex="-1" role="dialog" aria-labelledby="share-tutorial">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="share-tutorial">課表收藏說明</h4>
      </div>
      <div class="modal-body">       					
				<h4>1. 複製課表連結分享到社交網站或給予需要的朋友</h4>			
				<div class="row">
					<%=image_tag asset_path("share_tutorial_2.PNG"), :style=>"max-width:100%; max-height:100%;" %>
				</div>			
				<h4>2. 藉由聯結觀看朋友的課表或進一步收藏</h4>
				<div class="row">
					<%=image_tag asset_path("share_tutorial_3.PNG"), :style=>"max-width:100%; max-height:100%;" %>
				</div>
				</br>
				<h5>* 使用者可在個人資料設定分享權限</h5>
      </div>
      
    </div>
  </div>
</div>

<script>
  $( document ).ready(function(){
    $(".ct-data").each(function(idx1){
      var $tds = $(this).children('td');
      var goto_url = "<%=root_url%>shares/"+$(this).attr('id');
      var click_callback = function(){
          window.open( goto_url );
      };
      $tds.each(function(idx2){
        if(idx2 < $tds.length - 1 ){
          $(this).click(click_callback) ; 
          $(this).addClass('clickable-hover');
        }
      });
    });

    $('.delete-collection').click(function(){
      var $this_tr = $(this).parent().parent() ;
      $.ajax({
        method: "post",
        url:"/user/update",
        data: {type: "delete_collection",
               item: $this_tr.attr('id')},
        success: function(){
          toastr["success"]("已刪除");
          $this_tr.remove();
        }
      });
    });
		//
  });//ready
   
</script>