<table class="table">
<tr>
<th>Name</th><th>年級</th><th>Email</th><th>狀態</th><th>功能</th>
</tr>
<%@users.each do |user| %>
<tr>
<td><%= user.name %></td>
<% if user.grade_id %>
<td><%= Grade.find(user.grade_id).name %></td>
<% else %>
<td>尚未填寫</td>
<% end %>
<td><%= user.email %></td>
<td>
<% case user.activated %>
<% when 0 %>登入fb
<% when 1 %>已填資料
 
<% end %>
</td>
<!--<td><%= link_to "啟用", :controller=>"user" , :action=>"activate", :id=>user %></td>-->
<td><%=link_to "權限","/user/"+user.id.to_s+"/permission"%></td>
</tr>
<% end %>
</table>