<table class="table">
<tr>
<th>Name</th><th>系所</th><th>年級</th><th>身份</th><th>功能</th>
</tr>
<%@users.each do |user| %>
<tr>
<td>
	<%= image_tag "http://graph.facebook.com/"<<user.uid<<"/picture", size: "25x25" %>
	<%= link_to user.name, "http://www.facebook.com/"<<user.uid, target:"_blank" %>
</td>
<% if !user.department.nil? %>
<td>
	
	<%=user.department.ch_name%>
</td>
<% else %>
<td>尚未填寫</td>
<% end %>
<% unless user.semester.nil? %>
<% sem=user.semester.name%>
<td><%= sem[0..sem.length-2] %></td>
<% else %>
<td>尚未填寫</td>
<% end %>

<td>
<% if TopManager.where(:user_id=>user.id).take %>
	管理員
<% end %>
</td>
<td>
	<% if !TopManager.where(:user_id=>user.id).take %>
	<%=link_to "新增管理員","javascript:void(0);", onclick:"addTopManager(#{user.id})"%>
	<% else %>
	
	<% end %>
</td>
<!--<td><%=link_to "權限","/user/"+user.id.to_s+"/permission"%></td>-->
</tr>
<% end %>
</table>


<script>
	function addTopManager(id){
		$.ajax({
			url: "/user/add_top_manager",
			type: "GET",
			data :{uid:id},
			success :function(data){
				alert(data);
			}
		});
	}
</script>