<div class="table-responsive">
<div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
<table class="table" id="dataTables-paginate">
<thead>
	<tr>
		<th>Name</th><th>系所</th><th>年級</th><th>身份</th><th>功能</th>
	</tr>
</thead>

<tbody>
<%@users.each do |user| %>
<tr>
<td>
	<%= image_tag "http://graph.facebook.com/"<<user.uid<<"/picture", size: "25x25" %>
	<%= link_to user.name, "http://www.facebook.com/"<<user.uid, target:"_blank" %>
</td>
<% if !user.department.nil? %>
<td>
	
	<%=user.department.ch_name%>
</td>
<% else %>
<td>尚未填寫</td>
<% end %>
<% unless user.semester.nil? %>
<% sem=user.semester.name%>
<td><%= sem[0..sem.length-2] %></td>
<% else %>
<td>尚未填寫</td>
<% end %>

<td>
<% if TopManager.where(:user_id=>user.id).take %>
	管理員
<% end %>
</td>
<td>
	<% if !TopManager.where(:user_id=>user.id).take %>
	<%=link_to "新增管理員","javascript:void(0);", onclick:"addTopManager(#{user.id})"%>
	<% else %>
	
	<% end %>
</td>
<!--<td><%=link_to "權限","/user/"+user.id.to_s+"/permission"%></td>-->
</tr>
<% end %>
</tbody>

</table>
</div>
<!--
<script src="/assets/jquery-1.10.2.js"></script> 
<script src="/assets/jquery.dataTables.js"></script>
<script src="/assets/dataTables.bootstrap.js"></script>
-->
<script>
	function addTopManager(id){
		$.ajax({
			url: "/user/add_top_manager",
			type: "GET",
			data :{uid:id},
			success :function(data){
				alert(data);
			}
		});
	}
<% data = User.all.joins(:department).group(:ch_name).count %>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '使用者系所統計'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: <%=raw data.keys.to_json%>
        },
        yAxis: {
            min: 0,
            title: {
                text: '人數'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} 人</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '人數',
            data: <%=raw data.values.to_json%>

        }]
    });
});

</script>