<%=@user.name%>
<%= form_tag do %>
<table class="table">
	<% @departments.each do |department| %>
	<tr>
	<td><%= department.ch_name %></td>
	<td><%= check_box_tag 'department[checked]['+department.id.to_s+']', 'department', (CourseManager.where(:department_id=>department.id, :user_id=>@user.id).take)  %></td>
	
	</tr>
	<% end %>
	
	<tr>
	<td>全選</td>
	<td><%= check_box_tag 'selected','',false, :onclick=>"select_all()" %></td>
	</tr>
	
	<tr><td colspan="2">
	<%= submit_tag "修改" %>
	</td>
	</tr>
</table>
<% end %>

<script>
	var flag=true;
	function select_all(){
		$("input[type='checkbox']").prop("checked",flag);
		flag=!flag
	}
</script>