<%= javascript_include_tag "user_course_stat/checker", "data-turbolinks-track" => true %>
<%= javascript_include_tag "user_course_stat/cm_check-helper", "data-turbolinks-track" => true %>
<style>
.inner-grid{
	margin-bottom:10px;
	border-right:1px solid #ddd;
}
.strong{
	font-weight:600;
	font-size:21px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 2px solid #dddddd;
}
.btn-sm {
    padding: 3px 8px;
    font-size: 1px;
    line-height: 1;
    border-radius: 20px;
}
.img-circle{
	margin-bottom: 17px;
	margin-top: 8px;
	text-align: center;
	max-width: 140px;
}
.simulation-alert{
	cursor: pointer;
	margin: 10px -5px 0 -5px;
}
.simulation-alert:hover{
	opacity: 0.8;
}
</style>

<%=render "link_bar" %>

<div class="col-md-6">
	<div class="row no-margin-right">
		<div class="col-md-4" style="  text-align: center;">
    		<img class="img-circle" src="<%= @user.avatar_url %>">
    		<p style="margin-top:5px;font-size:20px;"><b><%=@user.name%></b></p>
  		</div>
		<div class="col-md-8 bg-white">
			<br>
			系級：<%=@user.try(:department).try(:ch_name)||"未填寫" %>
			<% if @user.year==0 %>
				未編輯入學年度
			<% else %>
			 	<%=@user.year+4%> 級 
			<% end %>
		<br>
		<% if current_user.hasNctu? %>
			學號：<%=@user.student_id%><br>
		<% end %>
		信箱：<%=@user.email%><br>
		身份：
		<% if @user.hasNctu? %>
			NCTU
		<% end %>
		<% if @user.hasFb? %>
			Facebook
		<% else %>
		  <% if @user.hasNctu? %>
		    <%=link_to user_omniauth_authorize_path('facebook'), :class=>"btn btn-sm btn-primary" do%>
		      &nbsp; 綁定Facebook
		    <% end %>    
		  <% end %>
		<% end %>
		<% if @user.hasGoogle? %>
			Google
		<% else %>
		  <% if @user.hasNctu? %>
		    <%=link_to user_omniauth_authorize_path('google_oauth2'), :class=>"btn btn-sm btn-danger" do%>
		      &nbsp; 綁定Google
		    <% end %>
		  <% end %>  
		<% end %>
		<br>   		
		分享課表：<%=@user.canShare? ? "On" : "Off" %>
		<br>
		註冊日期：<%=@user.created_at.strftime("%Y-%m-%d") %>
		<br>
		<hr>
		<div id="small_button">
			<%=link_to fa_icon("pencil")+"  編輯檔案", "/user/edit", class:"btn btn-primary btn-xs" %>
			&nbsp;
			<%=import_course_link%>
			&nbsp;
			<%=gpa_link%>
			&nbsp;
			<%=course_map_link%>
			<p>&nbsp;</p>
		</div>
		</div>
		
		<br>
		</div>
		
		<br>
		<div id="stat-num-grid" class="row no-margin-right bg-white" >
			<div class="col-md-12" style="padding-top:10px;">
				<div class="text-center col-md-4 inner-grid" >
					歷年平均分數
					<h4 class ="strong" id="totalAvg">N/A</h4>
				</div>
				<div class="text-center col-md-4 inner-grid">
					總排名
					<h4 class="strong">Not Yet</h4>
				</div>
				<div class="text-center col-md-4 ">
					
					<%if @user.is_undergrad? %>
						<% year_offset=4 %>
					<% else %>
						<% year_offset=2 %>
					<% end %>
					<% dist=(Time.new(@user.year+1911+year_offset,6,8)-Time.now).to_i%>
					距離畢業
					<h4 class="strong" >
					<% if dist >= 0 %>
						<%= dist/(3600*24) %>天	
					<% else %>
						已畢業
					<% end %>
					</h4>			
				</div>
			</div>
			<div class="col-md-12" style="border-top:1px solid #ddd;padding-top:10px;">
				<div class="text-center col-md-4 inner-grid" style="">
					本學期學分
					<h4 class="strong" id="credit-taking">N/A</h4>
				</div>
				<div class="text-center col-md-4 inner-grid" style="">
					已修學分
					<h4 class="strong" id="credit-all-taked">N/A</h4>
				</div>
				<div class="text-center col-md-4" style="">
					畢業學分
					<h4 class="strong" id="cm-credit">N/A</h4>
				</div>
			</div>
		</div>
		<br>
		<!--<div id="common-check-div"></div>-->

		<div class="row no-margin-right bg-white">
		<% if @user.is_undergrad? %>
			<div class="col-md-12" id="common_check_div" style="padding-top:10px;"></div>
		<% end %>
		<% if @cm.present? %>
			<div class="col-md-12" id="cosmap_check_div" style="padding-top:5px;"></div>
		<% end %>	
		</div>
		<br>
		<br>
	</div>

	<div class="col-md-6 bg-white">
		<br>
		<div id="time-table-header"></div>
		<div class="alert alert-warning simulation-alert" onclick="hideGeneralCourseError()">
			<strong>Important!</strong> 試試看! 按下課表上的課程，為該課程 <font color="red">評個分</font> 或 <font color="red">寫些心得</font> 吧! 你的小小回饋， NCTU+ 將會感激不盡。 </br>
		</div>
		<br>
		<div id="time-table-body"></div>
	</div>


<script type="text/x-tmpl" id="common-tmpl">
	{% var result=commonCheck(o); %}
	<div class="row no-margin-right bg-white" >
		<div class="col-md-12" style="padding-top:10px;">
			<div class="text-center col-md-4 inner-grid" >
				服務學習
				<h4 class="strong" id="">{%=result.service_1+result.service_2%}/2</h4>
			</div>
			<div class="text-center col-md-4 inner-grid">
				藝文賞析
				<h4 class="strong">1/2</h4>
			</div>
			<div class="text-center col-md-4 ">
				體育
				<h4 class="strong">{%=result.phe_1+result.phe_optional%}/6</h4>
			</div>
		</div>
		<div class="col-md-12" style="border-top:1px solid #ddd;padding-top:10px;">
			<div class="text-center col-md-4 inner-grid" style="">
				外文
				<h4 class="strong" id="">{%=result.foreign_basic+result.foreign_advance%}/8</h4>
			</div>
			<div class="text-center col-md-8" style="">
				通識
				<h4 class="strong" id="">{%=result.common_total%}/20</h4>
			</div>
		</div>
	</div>
</script>
<script>
	function genTable(semester_id){
		$.ajax({
			url: "/user/get_courses",
			data:{
				type: "course_table",
				sem_id: semester_id
			},
			dataType: "json",
			success: function(data){
			//	console.log(data);
				var result = $.extend(true, [], data);
				var $table = $('<table>').addClass('table table-bordered');
				data.config = {
					deletable: false ,
					selectable: false,
					popover: true,
					downloadable: true,
					hideEmpty: false,
					semester_id: semester_id
				};     
				$table.CourseTable(data) ;			

				$select = $('<select>').addClass("form-control") ;
				for(var i=0, sem; sem=data.semesters[i]; ++i){
					$option = $('<option>').attr('value', sem.id).html(sem.name);
					if(semester_id == sem.id) $option.attr("selected", "selected");
					$select.append($option);
				}
				$select.change(function(){
					//show_timetable_on_modal($(this).val(), true);
					genTable($(this).val());
				});
				
				var $title = $('<div>').addClass('row');
				
				if(data.hash_share && data.courses.length>0 ){		
					$title.append($('<div>').addClass('col-md-3 col-sm-3 col-xs-3').html($select));		
				}else
					$title.append($('<div>').addClass('col-md-3 col-sm-3 col-xs-3').html($select));

				$("#time-table-header").html($title);
				$("#time-table-body").html($table);
				
				if(data.courses.length>0){		
					setTimeout(function(){ //wait for the modal show
					if(data.hash_share){
						$table.CourseTable("renderImg", "upload") ;
            $title.append(genShareButton(data.hash_share));     
					}
						return false ;
					}, 600);
				}
			}
		});
	}

  function genShareButton(url){
    var $but = $("<button>").addClass("btn btn-info")
               .html('<%=fa_icon "share-square-o"%>') 
               .attr("title", "分享課表")
               .attr("id","user_share_btn")
               .attr("data-clipboard-text", "<%=j root_url %>shares/"+url);
    new Clipboard ("#user_share_btn");
    $('#copy-it-simu').click(function(){toastr["success"]('已複製到剪貼簿');});
    return $but ;           
  }

	function calcAvgScore(courses,pass_score,last_sem_name){
		var score=0;
		var credit_pass=0;
		var credit_pass_with_agree=0;
		var credit_taked=0;
		var credit_this_sem=0;
		
		for(var i=0,course;course=courses[i];i++){
			var tmp_score=parseInt(course.score);
			if(course.score!="修習中"&&!isNaN(tmp_score)){
				
				score+=tmp_score*course.credit;
				if(checkPass(pass_score,tmp_score)){
					
					credit_pass+=course.credit;
					if(course.sem_name==last_sem_name){
						credit_this_sem+=course.credit;
					}
					//console.log(credit_taked);
				}
				credit_taked+=course.credit;	
			}
			if(checkPass(pass_score,course.score)){
				credit_pass_with_agree+=course.credit;
			}
			
		}
		
		//console.log(score/credit_taked);
		$("#credit-all-taked").text(credit_pass_with_agree);
		$("#credit-taking").text(credit_this_sem);
		$("#totalAvg").text(roundToDec(score/credit_taked,1));
	}
	$(document).ready(function(){
		genTable(<%=Semester::CURRENT.id%>);
		$.getJSON("/user/statistics?uid=<%=params[:uid] %>", function (data) {
			//$("#course-list2").html(tmpl("course-list-tmpl",data));
			calcAvgScore(data.user_courses,data.pass_score,data.last_sem);
      if(data["course_map"])
        $("#cm-credit").text(data.course_map.total_credit);
			<% if @user.is_undergrad? %>
				var pass_courses=getPassCourses(checkPass,data.pass_score,data.user_courses);
				//$("#common-check-div").html(tmpl("common-tmpl",pass_courses));
				$("#common_check_div").html(tmpl("common_check",pass_courses));
			<% end %>		
			if(data["course_map"]){ 
				$("#cosmap_check_div").html(tmpl("cosmap_check",data));
				
				console.log(tmpl("cosmap_check",data));
				//$("#course_list").html(tmpl("list_by_cosmap",data));
			}else{ //no mapping course_map
				//$("#course_list").html("喔唷! \n沒有找到對應的課程地圖。\n請確認您的系級是否填寫有誤，或聯絡我們為您服務。");
			}
			
		});
	});
	function hideGeneralCourseError() {
        $(".simulation-alert").fadeOut("slow");
	}
</script>

<% @show_report=true %>
<% if @user.is_undergrad? %>
	<%=render :partial=>"/user/course_stat/xtmpl_common_check"%>
<% end %>
<%=render :partial=>"/user/course_stat/xtmpl_cm_check"%>
