<script>
	$(document).ready(function(){
		<% if params[:show_static] %>
			$("#toggle-b").click();
		<% end %>
		
		
	});
</script>
<% if @cs_all.empty? %>
<div class="jumbotron bs-callout bs-callout-info border-info" style="background-color:rgba(0,0,0,0);">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h2>開始使用...</h2>
  <h3>
		
		&nbsp;&nbsp;&nbsp;1.<%=link_to'輸入系級',"javascript:void(0);",onclick:"$('#degree_select').focus();"%> <br> 
		&nbsp;&nbsp;&nbsp;2.<%=link_to current_user.department.present? ? "/user/import_course":"javascript:void(0);" , class:"", onclick:"no_dept_alert();" do %>匯入歷年課程
		<% end %><br>
		&nbsp;&nbsp;&nbsp;3.<%=link_to'新增本學期課程',"/courses/simulation"%>追蹤最新消息
	</h3>
</div>
<% end %>
<div class="tabbable tabs-top">
	<ul class="nav nav-tabs" style="/*margin-top:-15px;*/">
		<li class="active"><a id='toggle-a' href="#a" data-toggle="tab" >今年</a></li>
		<li><a id='toggle-b' href="#b" data-toggle="tab">統計</a></li>
	</ul>
	<br>
	<div class="tab-content" style="overflow:hidden;">
		<div class="tab-pane active" id="a">
			<%= render :partial =>"/user/this_semester" %>
			
		</div>
		<div class="tab-pane" id="b">
			<%= render :partial =>"/user/statics" %>
		</div>
	</div>
</div>