<script>
	$(document).ready(function(){
		<% if params[:show_static] %>
			$("#toggle-c").click();
		<% end %>
		
		
	});
</script>
<% if @cs_this.empty? %>
<div class="jumbotron bs-callout bs-callout-info border-info" style="background-color:rgba(0,0,0,0);">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h2>開始使用...</h2>
  <h3>
		
		&nbsp;&nbsp;&nbsp;1.<%=link_to'輸入系級',"javascript:void(0);",onclick:"$('#degree_select').focus();"%> <br> 
		&nbsp;&nbsp;&nbsp;2.<%=link_to @user.department.present? ? "/user/import_course":"javascript:void(0);" , class:"", onclick:"no_dept_alert();" do %>匯入歷年課程
		<% end %><br>
		&nbsp;&nbsp;&nbsp;3.<%=link_to'新增本學期課程',"/courses/simulation"%>追蹤最新消息
	</h3>
</div>
<% end %>
<div class="tabbable tabs-top">
	<ul class="nav nav-tabs" style="/*margin-top:-15px;*/">
		<li class="active"><a id='toggle-a' href="#this_semester" data-toggle="tab" >本學期</a></li>
		<li><a class="others-link" id='toggle-b' href="#others" data-toggle="tab" url="/user/all_courses?uid=<%=params[:uid]%>">歷年課程</a></li>
		<li><a class="others-link" id='toggle-b2' href="#others" data-toggle="tab" url="/user/all_courses2?uid=<%=params[:uid]%>">歷年課程2</a></li>
		<li><a class="others-link" id='toggle-c' href="#others" data-toggle="tab" url="/user/statistics?uid=<%=params[:uid]%>">統計</a></li>
		<li><a class="others-link" id='toggle-c2' href="#others" data-toggle="tab" url="/user/statistics2?uid=<%=params[:uid]%>">統計2</a></li>
	</ul>
	<br>
	<div class="tab-content" style="overflow:hidden;" id="gg">
		
		<div class="tab-pane active" id="this_semester">
			<%= render :partial =>"/user/this_semester" %>
		</div>
		<div class="tab-pane" id="others">
		</div>

	</div>
</div>

<script>
$(document).ready(function() {
	$('.user-count').popover({
		content: "排課人數",
		placement:"auto",
		trigger : "hover",
		container :"body"
	});
	$('.credit-count').popover({
		content: "學分",
		placement:"auto",
		trigger : "hover",
		container :"body"
	});
	$(".others-link").click(function(e){
		$("#others").load($(this).attr("url"));
	});
});
</script>