<style>
table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
table td { 
  text-align: center; 
  font-family: Geneva, Arial, Helvetica, san-serif, 微軟正黑體; font-size: 14px;  
}

</style>
<html>
<head>
	<title id='title'>NCTU+</title>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "user_course_stat/report-table", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag asset_path("application.css") %>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "user_course_stat/report-table", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag asset_path("application.css") %>
</head>
<table class='table table-bordered text-family fixed' id="ctable"></table>

</html>

<script>
$(document).ready(function(){
<% if params[:user_id].presence %>
	$.getJSON( "/user/statistics_table?user_id=<%=j params[:user_id]%>",
<% else %>
	$.getJSON( "/user/statistics_table",
<% end %>
	function(res){
	 // console.log(res);
		if( !res.user_courses || res.user_courses.length==0 || !res.course_map || !res.user_info ){
		  alert('No data');
		  return false; 
		}
		$('#title').html(res.user_info.student_id+" "+res.user_info.year+"年入學");
		$('#ctable').StatisticsTable(res);

	});//getjson

});

</script>