<%= javascript_include_tag "user_course_stat/checker", "data-turbolinks-track" => true %>
<%= javascript_include_tag "user_course_stat/cm_check-helper", "data-turbolinks-track" => true %>
<div class="panel panel-primary" >
	<div class="panel-heading" >
		<h4 class="text-center">
			畢業學分計算			
		</h4>
	</div>
	</br>
	
	<div id="common_check_div" class="col-md-12"></div>
	<div id="cosmap_check_div" class="col-md-12"></div>
	<div id="course_list" class=""><div class="text-center"><%=fa_icon "refresh spin 2x"%></div></div>
</div>

<div class="modal fade" id="courselist_modal" tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog" ></div>
</div>

<script>
	$(document).ready(function(){
		$.getJSON("/user/statistics?uid=<%=params[:uid] %>", function (data) {
			console.log(data);
			<% if @user.is_undergrad? %>
				var pass_courses=getPassCourses(checkPass,data.pass_score,data.user_courses);
				$("#common_check_div").html(tmpl("common_check",pass_courses));
			<% end %>		
			if(data["course_map"]){
				$("#cosmap_check_div").html(tmpl("cosmap_check",data));
			}
			$("#course_list").html(tmpl("list_by_cosmap",data));
		});
	});
</script>
<% @show_report=true %>
<% if @user.is_undergrad? %>
	<%=render :partial=>"/user/course_stat/xtmpl_common_check"%>
<% end %>
<%=render :partial=>"/user/course_stat/xtmpl_cm_check"%>
<%=render :partial=>"/user/xtmpl_list_by_cosmap"%>
