<div class="panel panel-primary" >
	<div class="panel-heading" >
		<h4 class="text-center"><%=Semester::CURRENT.name%></h4>
	</div>
	<br>
	<div class="row">	
		<div  class="col-md-8">
			<h4 id="user_info" class="text-center">
				<% if @user.department && !@user.year!=0 %>
					<%=@user.department_ch_name%>
					<% if @user.is_undergrad? %>
						<strong><%=@user.year+4%></strong>級
					<% else %>
						入學年度: <strong><%=@user.year%></strong>
					<% end %>				
				<% end %>
			</h4>
		</div>
		<div class="col-md-4">
			<%=link_to "修改個人資訊","/user/edit", class:"btn btn-primary"%>
			
				<%=link_to "/user/import_course", class:"btn btn-primary",id:"import_course" do %>
					<%=fa_icon "upload" %>匯入課程
				<% end %>

			<%=link_to "/courses/simulation", class:"btn btn-primary" ,id: "add_course" do %>
				<%=fa_icon "plus" %>模擬排課
			<% end %>
			
		</div>
	</div>
	<br>
	<div id="course-container"></div>
</div>


<script>
	$(document).ready(function(){
		$.getJSON("/user/get_courses?uid=<%=@user.id%>&type=list&sem_id=<%=Semester::CURRENT.id%>", function (data) {
			$("#course-container").html(tmpl("cos_type_list", data));
		});
	});
</script>

<%=render :partial=>"xtmpl_list_by_costype"%>