<% courseTeacher = CourseTeachership.where(:course_id=>params[:id], :teacher_id=>@teacher_show.id).first %>
<% page = CourseTeacherPageContent.where(:course_teachership_id => courseTeacher.id).first.presence || nil%>

<div class="well bs-callout bs-callout-<%=rankTagBar(@target_rank)%>">

<!-- course's teacher and department -->

	<div class="panel-heading">
		<h2 class="panel-title">
			<p class="">
				<i class="fa fa-user fa-6"></i> 			
				課程教師： <%=@teacher_show.name%> 系別：<%=@teacher_show.department.ch_name%>
			</p>
		</h2>	
	</div>

<!-- course time and classroom info -->	

	<div class="panel-heading">
      	<h2 class="panel-title">
      		<p>   			
				<i class="fa fa-calendar fa-6"></i> 
				課程時間/地點： 
				<% first_name = Semester.find(courseTeacher.course_details.first.semester_id).name %>
				<% if first_name.include?((Time.now.year.to_i-1911).to_s)%>
					(<%=first_name%>) <%=courseTeacher.course_details.first.room.presence||"無地點資料"%> / <%=courseTeacher.course_details.first.time.presence||"無時間資料"%>			
				<% else %>
				 本學期無開課
				<% end %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<small class="">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed" onclick="PMchange($(this).hasClass('collapsed'));">
						查看歷年 <i class="fa fa-search-plus" id="imagePM"></i>
					</a>
				</small>
			</p>	
      	</h2>  	
	</div>
	
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
      
		<table class="table">
    		<tr>
    			<td>學期</td>
    			<td>地點</td>
    			<td>學分</td>
    			<td>時間</td>
    			<td>註記</td>
    		</tr>	
<%courseTeacher.course_details.each do |t|%>  
    		<tr>
    			<td><%=t.semester.name%></td>
    			<td><%=t.room%></td>
    			<td><%=t.credit%></td>
    			<td><%=t.time%></td>
    		    <td><%=t.memo%></td>
    		</tr>    
<%end%>
		</table>
		
      </div> 
    </div>
 
<!-- statistics -->  
   <div class="panel-heading">
		<h2 class="panel-title">
			<p>
				<i class="fa fa-align-left"></i>				
				歷年選課狀況：
			</p>	
		</h2>	
	</div>
	<div class="panel-body" id="chart">
		<%=loading_img%>
    </div>  

<!-- course's content and tick -->    
    <div class="panel-heading">
		<h2 class="panel-title">
			<p>
				<i class="fa fa-gamepad"></i>				
				課程攻略：
				<%if current_user%>
				 <%=link_to "編輯", "javascript:void(0);", :onclick=>"loadForm("+courseTeacher.id.to_s+",$(this));",  "data-toggle"=>"tooltip", "data-placement"=>"right", :title=>"為課程新增或修改內容", :id=>"link_edit_raider"%>	
				<% end %>
				<span id="toggle-msg" style="display:none;"></span>
			</p>
		</h2>	
	</div>
	<div class="panel-body">
		<div class="well" id="raider_content">
			<%=loading_img%>
		</div>
		<div class="well" id="raider_form">
			
		</div>
	</div>

<!-- comment for the info in this page -->
	<div class="panel-heading">
		<h2 class="panel-title">
			<p>
				<i class="fa fa-weixin"></i>			
				討論： 
		<% if current_user %>
					<%=link_to "留言","javascript:void(0);",:onclick=>"commentShow($(this));",:id=>"comment_post_link"%>
					
				<div id="commentNew" style="display:none;">	
			<%=form_tag "/courses/comment_submit", :remote=>true, :class=>"form-horizontal",:role=>"form" do%>
					<%=hidden_field_tag "ctship", courseTeacher.id %>
					<div class="form-group">
						<div class="col-sm-1">
							<select id="type" name="type" class="form-control">
								<option value="1">推</option>
								<option value="2">-></option>
								<option value="3">噓</option>
							</select>
						</div>				
						<div class="col-sm-3">
							<label class="control-label" for="comment"><%=current_user.name%>：</label>
						</div>	
						<div class="col-sm-7">
							<div class="input-group">
								<input class="form-control" id="comment" name="comment" type="text" value="推薦這篇文章">
      							<span class="input-group-btn">
      								<%=submit_tag "POST", :class=>"btn btn-default", :id=>"submit_but"%> 
      							</span>
   							</div>
						</div>
					</div>	
			<%end%>
				</div>	
				
		<% end %> <!-- current_user -->
			</p>	
		</h2>	
	</div>
	
	<div class="panel-body">				
		<div class="well backgorund-color-grey " id="commentList">
				<%=render :partial=>"comment_list", :locals => {:ct_id=>courseTeacher.id} %>
		</div>
	</div>
	
</div>

<script>

	$(document).ready(function(){
		$('#chart').load('/courses/course_raider?ct_id=<%=j courseTeacher.id.to_s %>&type=2');
		$('#raider_content').load('/courses/course_raider?ct_id=<%=j courseTeacher.id.to_s %>&type=1') ;
		$('#raider_form').hide();
	});
	function loadForm(id, link){
		if(link.html()=="編輯"){
			link.html("取消");
			$('#raider_form').load("/courses/course_raider?ct_id="+id+"&type=3");
			$('#raider_form').show() ;
			$('#raider_content').hide() ;
		}else{
			link.html("編輯");
			$('#raider_form').hide() ;
			$('#raider_content').show() ;
		}	
	}

	function commentShow(link){
		if(link.html()=="留言"){
			$("#commentNew").show();
			link.html("收回");
		}else{
			$("#commentNew").hide();
			link.html("留言");
		}				
	}
/*
	function colorGradient(but,startColor){
		graDay = 1 ;
		var tmp = but;
		while(1){
			tmp = tmp.prev() ;
			if(!tmp){
				//alert(1);
				break ;
			}else if(but.attr("id")){
				//alert(2);
				break ;
			}else if(graDay>=4){
				//alert(3);
				break ;	
			}	
			graDay++ ;
		}
		alert(graDay);
		startColor = 16711680 ;
		var gap = ((16777215 - startColor)/graDay).toFixed(0);
		alert(gap) ;
		var butGra = but ;
		var tmpColor = startColor + gap ;
		alert(tmpColor.toString(16));
		alert('linear-gradient(to right, #'+tmpColor.toString(16)+', #'+startColor.toString(16)+')');
		but.css('background','linear-gradient(to right, #'+tmpColor.toString(16)+', #'+startColor.toString(16)+')');
		for(var i=1;i<=graDay-1;i++){
			butGra = butGra.prev() ;
			if(butGra){
				var change = (startColor+(gap*i)) ;
				alert(change.toString(16));
 				butGra.css('background','linear-gradient(to right, #'+change.toString(16)+', #'+tmpColor.toString(16)+')' ) ;
				tmpColor = change ;
			}
		}
	}
*/		
	function PMchange(myclass){
		if(myclass)
			$('#imagePM').switchClass('fa-search-plus','fa-search-minus');				
		else	
			$('#imagePM').switchClass('fa-search-minus','fa-search-plus');				
			
	}
<%if current_user%>	
	function changeColor(but,color,type){		
		if(but.hasClass('active')){
			but.removeClass('active').switchClass('btn-'+color, 'btn-default') ;
			but.attr('id','') ;
		}else{			
			but.addClass('active').switchClass('btn-default', 'btn-'+color) ;
			but.attr('id','1') ;
		}
	}
	
	function submit_check(){
		if(!confirm("確定資料無誤嗎？"))
			return false ;
		//check list blank?
		var f = false ;
		$('#raider_content_table input').each(function(index){
			if($(this).val()==""){
				alert("內容不可留白謝謝");	
				f = true;	
			}	
		});
		if(f)
			return false ;
	
		var res= 0 ;
		$('#test-btn-group > button').each(function( index ) {			
  			if($(this).attr('id')=='1'){
  			//	alert(index);
  				res = res | Math.pow(2,index) ;
  			}	
		});
		$('#test').attr('value',res);
		res = 0 ;
		$('#hw-btn-group > button').each(function( index ) {			
  			if($(this).attr('id')=='1'){
  			//	alert(index);
  				res = res | Math.pow(2,index) ;
  			}	
		});
		$('#hw').attr('value',res);
		
		return true ;
	}
	
	function addRow(){
		var f = true ;
		var cnt = 1 ;
		$('#raider_content_table input').each(function(index){
			if($(this).val()==""){
				alert("請填完空白部分再新增謝謝");
				f = false ;		
			}	
			cnt+=1 ;
		});
		if(f&&cnt<6)
			$('#raider_content_table > tbody:last').append(
			'<tr id="content_list_new_0">'+
			'<td><select class="form-control" id="content_list_type_'+cnt+'" name="content_list_type_'+cnt+'">'+
			'<option value="1">[考試]</option>'+
			'<option value="2">[作業]</option>'+
			'<option value="3">[上課]</option>'+
			'<option value="4">[其他]</option>'+
			'</select></td>'+
			'<td><span class="col-sm-10"><input class="form-control" id="content_list_'+cnt+'" name="content_list_'+cnt+'" type="text" value=""></span>'+
			'<span class="col-sm-2">'+
			'<div class="btn btn-danger btn-circle" name="button" onclick="return Submit($(this));">O</div> '+
			'<div class="btn btn-danger btn-circle" name="button" onclick="return RemoveRow();">X</div>'+
			'</span></td>'+
			'</tr>');
	}
	
	function RemoveRow(){
		var target = $('#raider_content_table tr:last') ;
		if(target.attr('id')=="content_list_new_0")
			target.remove() ;	
			
	}
	function preferClick(pre, id){
		var str ="" ;
		if(pre==1)
			str = "你覺得這則內容有價值？\n[給評後不能反悔請注意]" ;
		else
			str = "你覺得這是則廢文？\n[給評後不能反悔請注意] " ;
			
		if(!confirm(str))
			return false ;
		
		$.ajax({
			type: "GET",
			dataType: "script",
  			url: "/courses/raider_list_like" ,
  			data:{
  				like_type: pre ,
  				list_id : id 
  			},
  			success: function(){}
  		});			
			
	}
	
	function EditOld(thistd){
		var id = thistd.parent('tr').attr('id').substring(17) ;
		var content = "" ;
		content = thistd.parent('tr').find('span').first().html();
		thistd.parent('tr').children().hide() ;
		thistd.parent('tr').append(
			'<td>'+
			'<select class="form-control" id="type_old'+id+'" name="type_old'+id+'">'+
			'<option value="1">[考試]</option>'+
			'<option value="2">[作業]</option>'+
			'<option value="3">[上課]</option>'+
			'<option value="4">[其他]</option>'+
			'</select></td>'+
			'<td><span class="col-sm-10"><input class="form-control" id="list_old'+id+'" name="list_old'+id+'" type="text" value="'+content+'"></span>'+
			'<span class="col-sm-2">'+
			'<div class="btn btn-danger btn-circle" name="button" onclick="return Submit($(this));">O</div> '+
			'<div class="btn btn-danger btn-circle" name="button" onclick="return Cancel($(this));">X</div>'+
			'</span>'+
			'</td>'
		);
		
		return false ;
	}
	
	function Submit(tdiv){
		var tr = tdiv.parent('span').parent('td').parent('tr');
		var id = tr.attr('id').substring(17) ;
		alert(id);
		alert(tr.find('select').val());
		alert(tr.find('input').val()) ;
		
		$.ajax({
			type: "POST",
			dataType: "script",
  			url: "/courses/course_raider" ,
  			data:{
  				id: id ,
  				content_type: tr.find('select').val(),
  				content: tr.find('input').val(),
  				ct_id : <%=j courseTeacher.id.to_s %>
  			},
  			success: function(){}
		});
		
		return false ;
	}
	
	function Cancel(tdiv){
		var tr = tdiv.parent('span').parent('td').parent('tr');
		tr.children().each(function(index){
			if($(this).css('display')=='none')
				$(this).show();
			else
				$(this).remove() ;	
		});
		return false ;
	}
	
<% end %>	

	
</script>