<% courseTeacher = CourseTeachership.where(:course_id=>params[:id], :teacher_id=>@teacher_show.id).first %>
<% periodAll = Array.new%>
<%if Semester.find(courseTeacher.course_details.first.semester_id).name.include?("上")%>
	<%periodAll.push(2,3,4,5,6)%> 
<%else%>
	<%periodAll.push(9,10,11,12,1)%>
<%end%>
</br>

<div class="well bs-callout bs-callout-<%=rankTagBar(@target_rank)%>">
	<div class="panel-heading">
		<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span>			
			課程教師： <%=@teacher_show.name%> 系別：<%=@teacher_show.department.ch_name%>
		</h2>	
	</div>
	
	<div class="panel-heading">
      	<h2 class="panel-title">
        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				<span class="glyphicon glyphicon-th-list"></span> 
			</a>	
				課程時間/地點：    	
      	</h2>  	
	</div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
		<table class="table">
    		<tr>
    			<td>學期</td>
    			<td>地點</td>
    			<td>學分</td>
    			<td>時間</td>
    			<td>註記</td>
    		</tr>	
<%courseTeacher.course_details.each do |t|%>  
    		<tr>
    			<td><%=Semester.find(t.semester_id).name%></td>
    			<td><%=t.room%></td>
    			<td><%=t.credit%></td>
    			<td><%=t.time%></td>
    		    <td><%=t.memo%></td>
    		</tr>    
<%end%>
		</table>
      </div>
      
    </div>
    
    <div class="panel-heading">
		<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span>			
			課程攻略：
			<font class="text-right"><%=link_to "編輯", "#"%></font>
		</h2>	
	</div>
   <div class="panel-body">
   	<div class="well">
  		

<div class="row">
考試月份：   		
		<div class="btn-group">
<%periodAll.each do |p|%>		
        	<button type="button" class="btn btn-default" onclick="changeColor($(this), 'danger', 'test_num');"><span class="col-md-1"><%=p.to_s%></span></button>
<%end%>        	
        	
      	</div>
考試次數： <span id="test_num">0</span>      	
</div>
<div class="row">
作業月份：   		
		<div class="btn-group">
<%periodAll.each do |p|%>		
        	<button type="button" class="btn btn-default" onclick="changeColor($(this), 'warning', 'hw_num');"><span class="col-md-1"><%=p.to_s%></span></button>
<%end%>        	
        	
      	</div>
作業次數： <span id="hw_num">0</span>      	
</div> 

	</div>
   </div>
   <div class="panel-heading">
		<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span>			
			歷年選課狀況：
		</h2>	
	</div>
	<div class="panel-body">
	<div class="well">
	ssssss2
	</div>
   </div>
	<div class="panel-heading">
		<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span>			
			討論：
		</h2>	
	</div>
	<div class="panel-body">
		<div class="row">	
			<div class="well col-sm-5 ">
				<%=User.find(4).name%>：
				<%=text_area_tag "comment","default",:class=>"form-control"%>
			</div>
		</div>
		<div class="row well col-sm-8 background-color-well">
			<table class="table table-bordered background-color-ptt">
				<tr>
					<td>
						<font class="text-color-green">推</font> GGYY		:	skal;sdka;lsdka;lsdk;l
					</td>
				</tr>
				<tr>
					<td>
						<font class="text-color-yellow">→</font> GGYY2		:	skal;sss;lsdka;lsdk;l
					</td>
				</tr>
				<tr>
					<td>
						<font class="text-color-red">噓</font> GGYY2		:	skal;sss;lsdka;lsdk;l
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script>
	function changeColor(but,color,count_div){
		//alert(num) ;
		if(but.hasClass('active')){
			$('#'+count_div).html((parseInt($('#hw_num').html())-1).toString()) ;
			but.removeClass('active').switchClass('btn-'+color, 'btn-default') ;
		}else{
			$('#'+count_div).html((parseInt($('#hw_num').html())+1).toString()) ;
			but.addClass('active').switchClass('btn-default', 'btn-'+color) ;
		}
	}
</script>