<% courseTeacher = CourseTeachership.where(:course_id=>params[:id], :teacher_id=>@teacher_show.id).first %>
<% periodAll = Array.new%>
<%if Semester.find(courseTeacher.course_details.first.semester_id).name.include?("上")%>
	<%periodAll.push(2,3,4,5,6)%> 
<%else%>
	<%periodAll.push(9,10,11,12,1)%>
<%end%>
<div class="well bs-callout bs-callout-<%=rankTagBar(@target_rank)%>">
	<div class="panel-heading">
		<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span>			
			課程教師： <%=@teacher_show.name%> 系別：<%=@teacher_show.department.ch_name%>
		</h2>	
	</div>
	
	<div class="panel-heading">
      	<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span> 
			課程時間/地點：  <%=courseTeacher.course_details.first.room.presence||'無資料'%>/<%=courseTeacher.course_details.first.time%>
			<span class="col-xs-6">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
				<span class="glyphicon glyphicon-th-list"></span>
			</a>
			</span>
      	</h2>  	
	</div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
		<table class="table">
    		<tr>
    			<td>學期</td>
    			<td>地點</td>
    			<td>學分</td>
    			<td>時間</td>
    			<td>註記</td>
    		</tr>	
<%courseTeacher.course_details.each do |t|%>  
    		<tr>
    			<td><%=Semester.find(t.semester_id).name%></td>
    			<td><%=t.room%></td>
    			<td><%=t.credit%></td>
    			<td><%=t.time%></td>
    		    <td><%=t.memo%></td>
    		</tr>    
<%end%>
		</table>
      </div>
      
    </div>
    
    <div class="panel-heading">
		<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span>			
			課程攻略： <%=link_to "編輯", "javascript:void(0);"%>	
		</h2>	
	</div>
   <div class="panel-body">
   	<div class="well">
  		

<div class="row">
考試月份：   		
		<div class="btn-group">
<%periodAll.each do |p|%>		
        	<button type="button" class="btn btn-default" onclick="changeColor($(this), 'danger', 'test_num');"><span class="col-md-1"><%=p.to_s%></span></button>
<%end%>        	
        	
      	</div>
考試次數： <span id="test_num">0</span>      	
</div>
<div class="row">
作業月份：   		
		<div class="btn-group">
<%periodAll.each do |p|%>		
        	<button type="button" class="btn btn-default" onclick="changeColor($(this), 'warning', 'hw_num');"><span class="col-md-1"><%=p.to_s%></span></button>
<%end%>        	
        	
      	</div>
作業次數： <span id="hw_num">0</span>      	
</div> 

	</div>
   </div>
   <div class="panel-heading">
		<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span>			
			歷年選課狀況：
		</h2>	
	</div>
	<div class="panel-body">
	<div class="well">
	ssssss2
	</div>
   </div>
	<div class="panel-heading">
		<h2 class="panel-title">
			<span class="glyphicon glyphicon-th-list"></span>			
			討論： <%=link_to "留言","javascript:void(0);",:onclick=>'commentShow($(this));'%>
		</h2>	
	</div>
	<div class="panel-body">
		<div class="row">	
			<div class="well col-sm-7" id="commentNew" style="display:none;">
				<%=form_tag "/courses/comment_submit", :remote=>true do%>
					<%=User.find(4).name%>：
					<%=select_tag "type",options_for_select([["推",1],["->",2],["噓",3]])%>
					<%=text_field_tag "comment","推薦這篇文章",:class=>"form-control"%>
					<%=submit_tag "go", :class=>"form-control", :id=>"submit_but"%>
					<%=hidden_field_tag "ctship",courseTeacher.id %>
				<% end %>	
			</div>
		</div>
		<div class="row well col-sm-8 background-color-well" id="commentList">
			<%=render :partial=>'comment_list', :locals => {:ct_id=>courseTeacher.id} %>
		</div>
	</div>
</div>

<script>

$(document).ready(function(){
	$("#submit_but").bind('ajax:success', function(){
 		alert("Success!");
	}).bind('ajax:error', function(){
 		alert("error!");
	});
});


	function commentShow(link){
		if(link.html()=="留言"){
			$("#commentNew").show();
			link.html("收回");
		}else{
			$("#commentNew").hide();
			link.html("留言");
		}
				
	}

	function changeColor(but,color,count_div){
		//alert(num) ;
		if(but.hasClass('active')){
			$('#'+count_div).html((parseInt($('#hw_num').html())-1).toString()) ;
			but.removeClass('active').switchClass('btn-'+color, 'btn-default') ;
		}else{
			$('#'+count_div).html((parseInt($('#hw_num').html())+1).toString()) ;
			but.addClass('active').switchClass('btn-default', 'btn-'+color) ;
		}
	}
</script>