<br>


<!--<div class="container">-->
  
  <%= form_for FileInfo.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <!-- The table listing the files available for upload/download -->
    <table class="table well" >
			<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
			<tr>
				<th class="col-md-1">老師</th>
				<th class="col-md-1">年度</th>
				<th class="col-md-2">檔案說明</th>
				<th class="col-md-2">檔名</th>
				<th class="col-md-1">大小</th>
				<th class="col-md-1">提供者</th>
				<th class="col-md-1">上傳時間</th>
				<th class="col-md-1">動作</th>
			</tr>
	<tr id="loading"><td colspan="8" ><p class="text-center"><%=image_tag("/assets/loading.gif", size: '42x42')%></p></td></tr>
	</tbody>
    </table>
  
	<hr>
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h2 class="panel-title">
		Upload file
		</h2>
		
	  </div>
	  <div class="panel-body ">
		<h4>請尊重智慧財產權!</h4>
		<p>本區只開放上傳考古題，若上傳非相關檔案或未授權檔案後果請自行負責!</p>
		<p>目前支援的格式有: doc(x)/ppt(x)/pdf/jp(e)g/png/zip</p>
		<p>每個檔案的大小限制為10mb</p>     
		<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
		<% if current_user %>
			<div class="fileupload-buttonbar">
				<!-- The fileinput-button span is used to style the file input field as button -->
				<span class="btn btn-success fileinput-button">		  
					<span class="glyphicon glyphicon-plus"></span>
					<span>Add files...</span>
					<%= f.file_field :upload, :multiple=>""%>
				</span>
				<button type="submit" class="btn btn-primary start">
					<span class="glyphicon glyphicon-arrow-up"></span>
					<span>Start upload</span>
				</button>
				<button type="reset" class="btn btn-warning cancel">
				 
					<span class="glyphicon glyphicon-remove"></span>
					<span>Cancel upload</span>
				</button>
				<!---<button type="button" class="btn btn-danger delete">
					<span class="glyphicon glyphicon-trash"></span>
					<span>Delete</span>
				</button>
				<input type="checkbox" class="toggle">--->
			</div>
		<% else %>
			請先登入後才能上傳、下載檔案!
		<%end%>
		
		</div>
	</div>
  <% end %>

<!--</div>-->

<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<%= render :partial=>"file_infos/template_upload" %>


<%= render :partial=>"file_infos/template_download" %>


<script type="text/javascript" charset="utf-8">

  function update_input(obj){
      
	  obj.next().val(obj.val());
  }
  function change_to_edit(file){
    //alert();
	var teacher_select="<%=j select_tag("file_info[teacher_id]", options_from_collection_for_select(@course.teachers, "id", "name"))%>";
	$("#download_"+file.id+" td[class=teacher_"+file.id+"]").html(teacher_select);
	$("td.teacher_"+file.id+" select").val(file.teacher_id);
	var semester_select="<%=j select_tag("file_info[semester_id]", options_from_collection_for_select(@course.semesters, "id", "name"))%>";
	$("#download_"+file.id+" td[class=semester_"+file.id+"]").html(semester_select);
	$("td.semester_"+file.id+" select").val(file.semester_id);
	
	var description_input='<input rows="1" name="file_info[description]" value="'+file.description+'">';
	$("#download_"+file.id+" td[class=description_"+file.id+"]").html(description_input);
	
	$("#edit_but_"+file.id).hide();
	$("#save_but_"+file.id).show();
	$("#delete_"+file.id).show();
	
	
  }
  
  function save_update(id){
	var description=$("td.description_"+id+" input").val();
	//alert(description);
	//return;
	var teacher_id=$("td.teacher_"+id+" select").val();
	var semester_id=$("td.semester_"+id+" select").val();
	//alert(text);
	$.ajax({
		type: "GET",
		url: "/file_infos/edit",
		data: {_description: description,//main or sub
			   _teacher_id: teacher_id,
			   _semester_id: semester_id,
			   _id: id, //comment id
		},
		success: function(data) {
			var file=JSON.parse(data)[0];
			//file=
			//alert(zz[0].id);
			//alert(JSON.stringify(file, null, 4));
			$("#edit_but_"+file.id).attr("onclick","change_to_edit("+JSON.stringify(file, null, 4)+")");
			$("#download_"+file.id+" td[class=teacher_"+file.id+"]").html(file.teacher_name);
	
	
			$("#download_"+file.id+" td[class=semester_"+file.id+"]").html(file.semester_name);
	
	
			$("#download_"+file.id+" td[class=description_"+file.id+"]").html(file.description);
			$("#edit_but_"+file.id).show();
			$("#save_but_"+file.id).hide();
			$("#delete_"+file.id).hide();
			
			
			
		},
		error :function(){
			alert("ERROR");
		}
	});
  }
  

  $(function () {
      $('#file_info_upload').attr('name','file_info[upload]');
	  $('#fileupload').fileupload();
      $('#fileupload').fileupload('option',{
		  acceptFileTypes : /(\.|\/)<%=FileInfo.support_types%>$/i,
		  maxFileSize: <%=FileInfo.max_upload_size%>,
		  /*change: function(){
			alert("!!!!");
		  }*/
		  /*submit : function (e, data) {var inputs = data.context.find(':input');
		  alert(inputs);
		  }*/
	  });
	  $('#fileupload').bind('fileuploadsubmit', function (e, data) {
	    //alert("????");
		var inputs = data.context.find(':input');//.val();
		//alert(inputs);
		/*if (inputs.filter(function () {
				return !this.value && $(this).prop('required');
			}).first().focus().length) {
			data.context.find('button').prop('disabled', false);
			return false;
		}*/
		data.formData = inputs.serializeArray();
	  });
	  
	  $('#fileupload').bind('fileuploaddone', function (e, data) {
			//alert("!!!!");
			//alert(data.result.id);
			//alert(JSON.stringify(data.result, null, 4));
			//var file=data.result.files[0];
			//console.log(.id);
			//console.log("file "+file.id);
			/*$.each(data.result.files, function (index, file) {
				console.log('Added file: ' + file.id);
				$("#edit_but_"+file.id).bind("click",{f:file},function(e){
				change_to_edit(e.data.f);
				});
			});*/

	  });
      // 
      // Load existing files:
      $.getJSON("/file_infos/?course_id=<%= params[:id] %>", function (files) {
        var fu = $('#fileupload').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        //console.log(files);
        template = fu._renderDownload(files)
          .appendTo($('#fileupload .files'));
		
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
		//alert($("td.teacher select").val());
		for (var i=0, file; file=files[i]; i++) {
		//console.log('Added file: ' + file.id);
			$("td.teacher_"+file.id+" select").val(file.teacher_id);
			$("td.semester_"+file.id+" select").val(file.semester_id);
			$("#edit_but_"+file.id).bind("click",{f:file},function(e){
				//change_to_edit(e.data.f);
			});

		}
		
      });
	  
	
  });
</script>




<%= render :partial => "/file_infos/edit_js" %>
