<table class="tabl col-md-offset-3" style="border:1px solid #ccc;">
<tr class="" style="">
	<td> 
		<button data-content="空堂" class="btn btn-default" onclick="get_selected_time_slot();">
			<%=fa_icon "calendar 2x"%>
		</button>
	</td>
	<td>
		<button data-content="向度" class="btn btn-default" onclick="searchLackCourses();" style="padding:6px 7px;">
			<%=fa_icon "graduation-cap 2x"%>
		</button>
	</td>
	<td>
		<button data-content="尚未開放" class="btn btn-default">
			<%=fa_icon "heart-o 2x"%>
		</button>
		
	</td>
	<td>
		<button data-content="尚未開放" class="btn btn-default">
			<%=fa_icon "users 2x"%>
		</button>
	</td>
</tr>
<tr class="">
	<td>
		<button data-content="尚未開放" class="btn btn-default" style="padding:6px 11px;">
			<%=fa_icon "signal 2x"%>
		</button>
	</td>
	<td>
		<button data-content="尚未開放" class="btn btn-default">
			<%=fa_icon "trophy 2x"%>
		</button>	
	</td>
	<td>
		<button data-content="尚未開放" class="btn btn-default" style="padding:6px 11px;">
			<%=fa_icon "desktop 2x"%>
		</button>
		
	</td>
	<td>
		<button data-content="尚未開放" class="btn btn-default">
			<%=fa_icon "cogs 2x"%>
		</button>
	</td>
</tr>
</table>
<br>