<% if current_user %>
<script>
	$(document).ready(function(){
		$("#schd_but").hover(
			function(){
				$("#user_modal").modal('show');
				$("#user_modal .modal-body").load("/courses/get_user_courses?sem_id=<%=latest_semester.id%>&type=schd");
			}
		);
		$("#cart_but").hover(
			function(){
				$("#user_modal").modal('show');
				$("#user_modal .modal-body").load("/courses/show_cart");
			}
		);
	});
	function add_to_cart(id,type){
		$.ajax({
			type: "GET",
			url : "/courses/add_to_cart",
			data : {
				cd_id:id,
				tid:<%=params[:tid]||0%>,
				type:type
			},
			success : function(data){
				$("#content").prepend(data);
				$("#ajax_notice").fadeOut(10000, function() { $(this).remove(); });
				$("#user_modal .modal-body").html('<%=loading_img%>');
				$("#user_modal .modal-body").load("/courses/show_cart");
			}
		
		});
	}
	
</script>
<div  class="container" style="color:white;padding-top:8px;padding-bottom:8px;position:fixed;z-index:100;left:20px;margin-top:10%;background-color:rgba(0,0,0,0.5);/*width:50px;height:50px;*/">
<%= fa_icon("list-alt 3x ", :id=>"schd_but") %>
<br>
<%= fa_icon("shopping-cart 3x", :id=>"cart_but") %>
<br>
<%= fa_icon("question-circle 3x", :id=>"question_but", :style=>"margin-left:3px;") %>
</div>


<div class="modal fade" id="user_modal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true" >
	<div class="modal-dialog" >
		<div class="modal-content" >
			<!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="purchaseLabel">Purchase</h4>
			</div>-->
			<div class="modal-body" ></div>
			<!--<div class="modal-footer">
				
				<button type="button" class="btn btn-primary">Purchase</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>-->
		</div>
	</div>
</div>

<% end %>