		<table class="table" id="raider_content_table">
			<tbody>		
<% if @list.presence %>			
				<% @list.order('updated_at DESC').each do |c|%>
				<% if c.user_id == current_user.id%>
					<tr id="content_list_old_<%=j c.id.to_s%>">
						<td><%=content_type_to_html(c.content_type)%></td>
						<td>
							<span class="col-sm-6"><%=c.content%></span>
							<span class="col-sm-4"><%=c.updated_at.strftime('%Y/%m/%d %H:%M')%> <%=c.user.name%></span>
							<span class="col-sm-2">
								<% if current_user.id == c.user_id %>
									<div class="btn btn-success btn-circle" name="button" onclick="return EditOld($(this).parent('span').parent('td'));">E</div>
									<div class="btn btn-danger btn-circle" name="button" onclick="DelOld();">R</div>
								<%end %>
							</span>
						</td>
					</tr>
				<% end %>	
				<% end %>
<% end %>				
			</tbody>
		</table>
		
		<hr>

	</div>
	<%=hidden_field_tag "ct_id",params[:ct_id] %> 
	<input id="test" name="test" type="hidden" value="0">
	<input id="hw" name="hw" type="hidden" value="0">
	<div class="btn btn-success btn-circle" name="button" onclick="addRow();">＋</div>
	<div class="btn btn-danger btn-circle" name="button" onclick="RemoveRow();">－</div>
