
<table class="table table-hover table-bordered" id="course_table" >



<tr class="row">
<th class="col-md-1">學期
<% select_tag("sort_by", options_for_select([['綜合','all'],['涼度','cold'],['甜度','sweety'],['硬度','hardness']]),  :style=>"height :25px;width:60px; ", :onchange=>"reorder($(this))") %>
</th>
<th class="col-md-2">系所/摘要</th>
<!--<th>永久課號</th>-->

<th class="col-md-2">課名</th>
<th class="col-md-1">老師</th>
<th class="col-md-4">備註</th>
<th class="col-md-1">時間</th>
<th class="col-md-1">學分</th>
<!--<th class="col-md-1"></th>-->
</tr>

	<% if !@cd_all.empty? %>
		<%=@cd_all.count%>
		<% @cd_all.each do |cd,course,teacher| %>
				<tr id="<%=cd.id%>" class="row clickable-row clickable-hover" href="<%=course_path(course, :tid=>teacher.id)%>">
					<td>
						<%=cd.semester.name%>
					</td>
					<td>
						<%=course.department.ch_name%>
						<% if cd.brief!=" " %>
						/<%= cd.brief %>
						<% end %>
					</td>
					<!--<td><%= cd.brief %></td>-->
					<!--<td><%= link_to course.real_id, course_path(course) %></td>-->
					<td><%= course.ch_name %></td>
					<td><%= teacher.name %></td>
					<td><%= cd.memo %></td>
					<td><%= cd.time %></td>
					<td><%= cd.credit %></td>
				</tr>
		<% end %>
	<% else %>
		<tr class="row"><td colspan="7" class="col-md-12"><h4>查無結果!</h4></td></tr>
	<% end %>
</table>

<div id="page-selection" class="text-center"></div>

<script>
$(document).ready(function($) {
	$(".clickable-row").click(function() {
		window.document.location = $(this).attr("href");
		//window.open($(this).attr("href"));
	});

	//alert("<%=j session[:saved_query].to_s.html_safe%>");
});

function reorder(obj){
	
	$(".rating").addClass("hidden");
	$("."+obj.val()).removeClass("hidden");
	var courses=[];
	var title;

	$("tr").each(function (index) {
		if(index==0){
			title=$.trim($(this).html());		
			return;
		}
		var innerhash={};
		var key=$.trim($(this).find('.'+obj.val()).text());
		if(key=="NaN")key=0;
		innerhash[key]=$.trim($(this).html());
		courses.push(innerhash);
		$.trim($(this).remove());

	});
	courses.sort(function(a, b){return Object.keys(b)[0]-Object.keys(a)[0]});

	for(var i=0;i<courses.length;i++){
		$("#course_table").append("<tr>"+courses[i][Object.keys(courses[i])[0]]+"</tr>");
	}

	
}



$('#page-selection').bootpag({
		total: <%=@page_numbers%>,
		<% if params[:page] %>
		page: <%=params[:page]%>,
		<% end %>
		maxVisible: 10
	}).on("page", function(event, num){
		<% case @table_type %>
		<% when "all" %>
			$("#search_result").load("/courses/list_all_courses?page="+num);
		<% when "search_by_dept" %>
			$("#search_result").load(
				"/courses/search_by_dept",
				{	view_type: '<%=@view_type%>',
					dept_id : '<%=session[:saved_query][:dept_id]%>',
					sem_id : '<%=session[:saved_query][:sem_id]%>',
					page : num
				}
			);
		<% else %>
			$("#search_result").load(
			"/courses/search_by_keyword",
			{ view_type : "<%=@view_type%>",
				search_term: '<%=session[:saved_query][:term]%>',
				search_type: '<%=session[:saved_query][:search_type]%>',
				sem_id :'<%=session[:saved_query][:sem_id]%>',
				dept_id : '<%=session[:saved_query][:dept_id]%>',
				degree_id : '<%=session[:saved_query][:degree]%>',
				page : num
			}
		);
		<% end %>
	});
</script>


