<div class="row">
<%if @page%>
<i class="fa fa-cube"></i> 作業/考試：</br></br>
考試週：（該週可能有考試）    		
		<div class="btn-group">
	
<%for i in 1..18 do%>		
	<%if 2**(i-1) & @page.exam_record !=0 %>
        <button type="button" class="btn active btn-danger" >
    <% else %>
        <button type="button" class="btn btn-default" >
    <% end %>
        	<span><%=i.to_s%></span>
        </button> 
<%end%>        	 	
      	</div>    	
</br>
作業週：（該週可能有作業）  	
		<div class="btn-group">
	
<%for i in 1..18 do%>	
	<%if 2**(i-1) & @page.homework_record !=0 %>
		<button type="button" class="btn active btn-warning" >
    <% else %>
       	<button type="button" class="btn btn-default" >
    <% end %>   	
        	<span><%=i.to_s%></span>
        </button>         
<%end%>      	       	
      	</div> 
    	    	   
<hr>

<i class="fa fa-cube"></i> 其他內容：</br>
<% if @page.raider_content_lists.presence %>
<table class="table">
	<% @page.raider_content_lists.order('content_type DESC').each do |c|%>
	<tr>
		<td><%=content_type_to_html(c.content_type)%></td>
		<td>
			<span class="col-sm-8"><%=c.content%></span>
			<span class="col-sm-4"><%=c.created_at.strftime('%Y/%m/%d %H:%M')%> <%=c.user.name%></span>
		</td>
	</tr>
	<% end %>	
</table>      	
<% else %>      	
      	<p class="text-center"><strong>尚無資料</strong></p>	
<% end %>      	
      	
<% else %>
	<p class="text-center"><strong>尚無資料</strong></p>	
		
<% end %>		
</div> 
