


<table class="table table-hover table-bordered" id="course_table" >



<tr>
<th class="col-md-1">評價
<% select_tag("sort_by", options_for_select([['綜合','all'],['涼度','cold'],['甜度','sweety'],['硬度','hardness']]),  :style=>"height :25px;width:60px; ", :onchange=>"reorder($(this))") %>
</th>
<th class="col-md-2">系所/摘要</th>
<!--<th>永久課號</th>-->

<th class="col-md-2">課名</th>
<th class="col-md-1">老師</th>
<th class="col-md-3">備註</th>
<th class="col-md-1">時間</th>
<th class="col-md-1">學分</th>
<!--<th class="col-md-1"></th>-->
</tr>

	<% if @cd_all %>
		<% @cd_all.each do |cd,course,teacher| %>
				<% ctrs=cd.course_teachership.course_teacher_ratings %>
				<% ctr_cold=ctrs.select{|ctr| ctr.rating_type=="cold"}[0] %>
				<% ctr_sweety=ctrs.select{|ctr| ctr.rating_type=="sweety"}[0] %>
				<% ctr_hardness=ctrs.select{|ctr| ctr.rating_type=="hardness"}[0] %>
				<% ctr_all_avg = (ctr_cold.avg_score*ctr_cold.total_rating_counts+ctr_sweety.avg_score*ctr_sweety.total_rating_counts+ctr_hardness.avg_score*ctr_hardness.total_rating_counts)/ctrs.sum(:total_rating_counts) %>
				<tr id="<%=cd.id%>" class="clickable-row clickable-hover" href="<%=course_path(course, :tid=>teacher.id)%>">
					<td>
						<p id="rating_all" class="rating all">
						<%if !ctr_all_avg.nan? %>
						<%= ctr_all_avg.round(1) %>
						<% end %>
						</p>
						<p id="rating_cold" class="rating cold hidden"><%= ctr_cold.avg_score.round(1) %></p>
						<p id="rating_sweety" class="rating sweety hidden"><%= ctr_sweety.avg_score.round(1) %></p>
						<p id="rating_hardness" class="rating hardness hidden"><%= ctr_hardness.avg_score.round(1) %></p>
					</td>
					<td>
						<%=course.department.ch_name%>
						<% if cd.brief!=" " %>
						/<%= cd.brief %>
						<% end %>
					</td>
					<!--<td><%= cd.brief %></td>-->
					<!--<td><%= link_to course.real_id, course_path(course) %></td>-->
					<td><%= course.ch_name %></td>
					<td><%= teacher.name %></td>
					<td><%= cd.memo %></td>
					<td><%= cd.time %></td>
					<td><%= cd.credit %></td>
				</tr>
		<% end %>
	<% else %>
		<tr class="row"><td colspan="8"><h4>查無結果!</h4></td></tr>
	<% end %>
</table>

<div id="page-selection" class="text-center"></div>

<script>
$(document).ready(function($) {
	$(".clickable-row").click(function() {
				window.document.location = $(this).attr("href");
	});
});

function reorder(obj){
	
	$(".rating").addClass("hidden");
	$("."+obj.val()).removeClass("hidden");
	var courses=[];
	var title;

	$("tr").each(function (index) {
		if(index==0){
			title=$.trim($(this).html());		
			return;
		}
		var innerhash={};
		var key=$.trim($(this).find('.'+obj.val()).text());
		if(key=="NaN")key=0;
		innerhash[key]=$.trim($(this).html());
		courses.push(innerhash);
		$.trim($(this).remove());

	});
	courses.sort(function(a, b){return Object.keys(b)[0]-Object.keys(a)[0]});

	for(var i=0;i<courses.length;i++){
		$("#course_table").append("<tr>"+courses[i][Object.keys(courses[i])[0]]+"</tr>");
	}

	
}



$('#page-selection').bootpag({
		total: <%=@page_numbers%>,
		<% if params[:page] %>
		page: <%=params[:page]%>,
		<% end %>
		maxVisible: 10
	}).on("page", function(event, /* page number here */ num){
		$("#search_result").load("/courses/list_all_courses?page="+num);
});
</script>


