<table class="table" >
<tr>
<%= table_title.html_safe %>

</tr>


	<% @course_details.each do |cd|%>
		<% course=cd.course_teachership.course %>
		<tr>
		<!--<td><%=course.semesters.first.name%></td>-->
		<td><%=course.department.ch_name%></td>
		<td><%= link_to course.real_id, course_path(course) %></td>
		<td><%= link_to course.ch_name, course_path(course) %></td>
		<td><%= cd.course_teachership.teacher.name %></td>
		<td><%= cd.time_and_room.partition("-")[0] %></td>
		
		

		</td>
		</tr>
	<% end %>


</table>

<div id="page-selection" class="text-center"></div>

<script>
$('#page-selection').bootpag({
		total: <%=@page_numbers%>,
		<% if params[:page] %>
		page: <%=params[:page]%>,
		<% end %>
		maxVisible: 10
	}).on("page", function(event, /* page number here */ num){
		$("#search_result").load("/courses/list_all_courses?page="+num);
});
</script>


