<table class="table table-hover courselist-hover " id="course_table" >
	<% credit_sum=0 %>
	<% if @course_details %>
		<% @course_details.each do |cd|  %>
			<% course=cd.course_teachership.course %>
				<% ctrs=cd.course_teachership.course_teacher_ratings %>
				<% ctr_cold=ctrs.select{|ctr| ctr.rating_type=="cold"}[0] %>
				<% ctr_sweety=ctrs.select{|ctr| ctr.rating_type=="sweety"}[0] %>
				<% ctr_hardness=ctrs.select{|ctr| ctr.rating_type=="hardness"}[0] %>
				<% ctr_all_avg = (ctr_cold.avg_score*ctr_cold.total_rating_counts+ctr_sweety.avg_score*ctr_sweety.total_rating_counts+ctr_hardness.avg_score*ctr_hardness.total_rating_counts)/ctrs.sum(:total_rating_counts) %>
				
				<tr id="cd_<%=cd.id%>" class="row clickable-row " href="<%=course_path(course)%>">
					<td class="">
						
						<p id="rating_all" class="">
							<%= link_to course.ch_name, course_path(course), :class=>"course_name" %>
							<%= course.department.ch_name %>
							<%= cd.course_teachership.teacher.name %>
							<% if @table_type=="search" %>
							<button class="btn btn-success btn-circle pull-right" onclick="add_class(<%=cd.id%>,'add')">
							<span class="glyphicon glyphicon-plus"></span>
							</button>
							<% else %>
							
							<button class="btn btn-danger btn-circle pull-right" onclick="add_class(<%=cd.id%>,'delete')">
							<span class="glyphicon glyphicon-minus"></span>
							</button>
							<% end %>
						</p>
						<p class="text-right">
						
						<%if !ctr_all_avg.nan? %>
						<span class="glyphicon glyphicon-star"></span> 
						<%= ctr_all_avg.round(1) %> | 
						<% end %>
						<% if cd.cos_type=="通識"||cd.cos_type=="外語"%>
							<%=cd.brief%> | 
						<% else %>
							<%=cd.cos_type%> | 
						<% end %>
						<strong class="course_time"><%= cd.time %></strong>
						| 學分: <strong><%= cd.credit %></strong>
						<% credit_sum=credit_sum+cd.credit.to_i%>
						
						</p>
					</td>
				</tr>
		<% end %>
	<% else %>
		<% if @table_type=="search"%>
			<tr class="row"><td><h4>查無結果!</h4></td></tr>
		<% end %>
	<% end %>
	<% if @table_type!="search" %>
		<tr class="row">
			<td>
				<p class="lead text-right">共 <strong><%=@course_details.count%></strong> 門課 <strong>
				<%=credit_sum%></strong> 學分</p>
			</td>
		</tr>
	<% end %>
</table>


<script>
<% if @table_type!="search" %>
$(document).ready(function() {
add_time_slot(<%=@cd_jsons.to_s.html_safe%>);
});
<% end %>
/*$(document).ready(function($) {

	 var c = {};

	$(".clickable-row").draggable({
		helper: "clone",
		start: function(event, ui) {
				c.tr = this;
				c.helper = ui.helper;
		}
	});
	$(".schedule-slot").droppable({
        drop: function(event, ui) {
            var inventor = ui.draggable.text();
						//console.log(ui.draggable.find("#course_time").text());
						var name=ui.draggable.find("#course_name").text();
						var time=ui.draggable.find("#course_time").text();
						//console.log(time[0]);
						timearr=time.match(/[0-9][A-Z]+/g);
						//console.log(time.match(/[0-9][A-Z]+/g));
						for(var i = 0 ; i < timearr.length ; i++){
							var day=timearr[i][0];
							for(var j = 1 ; j < timearr[i].length ; j++){
								var row_id="#day_"+day+"_time_"+timearr[i][j];
								if($(row_id).text()!=""){
									alert("衝堂囉!");
									return;
								}
								$(row_id).text(name);
								
							}
						}


            $(c.tr).remove();
            $(c.helper).remove();
        }
    });
});*/



</script>


