<div class="row">
<%if @page%>
<i class="fa fa-cube"></i> 作業/考試：</br></br>
考試週：（該週可能有考試）    		
		<div class="btn-group">
	
<%for i in 1..18 do%>		
	<%if 2**(i-1) & @page.exam_record !=0 %>
        <button type="button" class="btn btn-danger" style="border-color: #fff;border-width: 0px;">
    <% else %>
        <button type="button" class="btn btn-default" style="border-color: #fff;border-width: 0px;">
    <% end %>
        	<span><%=i.to_s%></span>
        </button> 
<%end%>        	 	
      	</div>    	
</br></br>
作業週：（該週可能有作業）  	
		<div class="btn-group">
	
<%for i in 1..18 do%>	
	<%if 2**(i-1) & @page.homework_record !=0 %>
		<button type="button" class="btn btn-warning" style="border-color: #fff;border-width: 0px;" >
    <% else %>
       	<button type="button" class="btn btn-default" style="border-color: #fff;border-width: 0px;">
    <% end %>   	
        	<span><%=i.to_s%></span>
        </button>         
<%end%>      	       	
      	</div> 
    	    	   
<hr>

<i class="fa fa-cube"></i> 其他內容：</br></br>
<% if @page.raider_content_lists.presence %>
<table class="table">
	<% @page.raider_content_lists.order('content_type DESC').each do |c|%>
	<tr>
		<td><%=content_type_to_html(c.content_type)%></td>
		<td>
			<span class="col-sm-6"><%=c.content%></span>
			<span class="col-sm-4"><%=c.created_at.strftime('%Y/%m/%d %H:%M')%> <%=c.user.name%></span>
			<span class="col-sm-2" id="rank_span_<%=j c.id.to_s%>">
			<% if ContentListRank.where(:user_id=>current_user.id, :raider_content_list_id=>c.id).first.presence %>
				<i class="fa fa-thumbs-o-up"></i> 
				<span style="color: green ;"><%=c.content_list_ranks.where(:rank=>1).count.to_s%></span>
				&nbsp;&nbsp;&nbsp;&nbsp;  
				<i class="fa fa-thumbs-o-down"></i> 
				<span style="color: red ;"><%=c.content_list_ranks.where(:rank=>2).count.to_s%></span>
			<% else %>
				<i class="fa fa-thumbs-o-up clickable-hover"  onclick="return preferClick(1,<%=j c.id.to_s%>);"></i> 
				<span style="color: green ;"><%=c.content_list_ranks.where(:rank=>1).count.to_s%></span>
				&nbsp;&nbsp;&nbsp;&nbsp;					
				<i class="fa fa-thumbs-o-down clickable-hover" onclick="return preferClick(2,<%=j c.id.to_s%>);"></i> 
				<span style="color: red ;"><%=c.content_list_ranks.where(:rank=>2).count.to_s%></span>
			<% end %>
				
			</span>
		</td>
	</tr>
	<% end %>	
</table>      	
<% else %>      	
      	<p class="text-center"><strong>尚無資料</strong></p>	
<% end %>      	
      	
<% else %>
	<p class="text-center"><strong>尚無資料</strong></p>	
		
<% end %>		
</div> 
