var data = {
   	labels: <%=raw @row_name.to_json%>,
	datasets: [
{
   	label: "開課人數",
    fillColor: "rgba(220,220,220,0.9)",
    strokeColor: "rgba(220,220,220,0.9)",
    highlightFill: "rgba(220,220,220,0.8)",
    highlightStroke: "rgba(220,220,220,1)",
    data: <%=raw @row_open.to_json%>
},
{
    label: "選修人數",
    fillColor: "rgba(151,187,205,0.7)",
    strokeColor: "rgba(151,187,205,0.9)",
    highlightFill: "rgba(151,187,205,0.8)",
    highlightStroke: "rgba(151,187,205,1)",
    data: <%=raw @row_pick.to_s%>
}
]};
var options = {
    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero : true,

    //背景刻度線
    scaleShowGridLines : true,

    //刻度線顏色
    scaleGridLineColor : "rgba(0,0,0,.05)",

    //刻度線粗細
    scaleGridLineWidth : 1,

    //每個bar的邊框
    barShowStroke : true,

    //邊框粗細
    barStrokeWidth : 1,

    //Number - Spacing between each of the X value sets
    barValueSpacing : 5,

    //Number - Spacing between data sets within X values
    barDatasetSpacing : 1,
    legendTemplate : "<%=j "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>" %>"
};

var ctx = $("#myChart").get(0).getContext("2d");
var myBarChart = new Chart(ctx).Bar(data, options);	
