<%=render 'courses/search/search_js' %>

<div id="results">
<%= search_form_for @q, url:"/courses/", class:"form-inline" do |f| %>

<div class="row">
	
	<div class="col-sm-1 col-md-offset-3 no-padding-left">
		<div id="sem_div" class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
		<%= f.select :semester_id_eq, options_from_collection_for_select(Semester.all.reverse, "id", "name", @q.semester_id_eq),{:prompt=> "學期"},{ :class=> "form-control",:onchange=>"search_by_select($(this));"} %>
	</div>
	<div class="col-sm-1 no-padding-left">
		<%= select_tag "degree" ,options_for_select([['大學部','3'],['研究所','2'],['大學部共同','0']],params[:degree]), prompt: "分類", class: "form-control",:onchange=>"change_degree($(this))" %>
	</div>	
	<div class="col-sm-2 no-padding-left ">
		<div id="dept_div" class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
		<%= f.select :department_id_eq, options_from_collection_for_select(Department.searchable, "id", "ch_name", @q.department_id_eq),{:prompt=> "系所"},{ :class=> "form-control",:onchange=>"search_by_select($(this));"} %>
	</div>
	
	<div class="col-sm-2">
		<div id="text_div" class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
		<%=text_field_tag :custom_search,params[:custom_search], class: "form-control",placeholder:"課名/老師/時間/向度" %>

	</div>
	<button class="btn btn-success" id="search" onclick="search_by_text();">
		<%= fa_icon "search" %>
	</button>
	
	
<% end %>
</div>
<br>

<table class="table table-hover table-bordered bg-white-transparent" id="course_table" >
	<tr class="row">
		<th class="col-md text-center" style="width:70px;">學期</th>
		<th class="col-md-2 text-center">
			<%= sort_link @q,:department_id, "系所" %> /
			<%= sort_link @q,:brief, "摘要" %>
		</th>
		<th class="col-md-2 text-center"><%= sort_link @q,:course_ch_name, "課名" %></th>
		<th class="col-md-2 text-center"><%= sort_link @q,:teacher_name, "老師" %></th>
		<!--<th class="col-md-4">備註</th>-->
		<th class="col-md- text-center"><%= sort_link @q,:grade, "年級" %>/<%= sort_link @q,:time, "時間" %></th>
		<th class="col-md- text-center"><%= sort_link @q,:credit, "學分" %></th>
		<th class="col-md- text-center"><%= sort_link @q,:credit, "修課人數/上限" %></th>
		<th class="col-md- text-center">文章/檔案數</th>
		<th class="col-md- text-center">人氣</th>
		<!--<th class="col-md-1"></th>-->
	</tr>
	<tbody>
	<% if !@cds.empty? %>
		<% @cds.each do |cd| %>
			
				<tr id="<%=cd.id%>" class="row clickable-row clickable-hover" href="<%=course_path(cd.id)%>">
					<td class="text-center">
						<%=cd.semester_name%>
					</td>
					<td class="text-center">
						<%=cd.department_ch_name%>
						<% if cd.brief&&cd.brief!="" %>
						/<%= cd.brief %>
						<% end %>
					</td>
					<!--<td><%= cd.brief %></td>-->

					<td class="text-center"><%= cd.course_ch_name %></td>
					<td class="text-center"><%= cd.teacher_name %></td>
					<!--<td><%= cd.memo %></td>-->
					<td class="text-center"><%= cd.grade %>/<%= cd.time %></td>
					<td class="text-center"><%= cd.course_credit %></td>
					<td class="text-center">
					<%= cd.reg_num %>/<%=cd.students_limit.to_i==9999 ? "不限" : cd.students_limit%>
					</td>
					<td class="text-center"><%= "#{cd.discusses.count}/#{cd.past_exams.count}" %></td>
					<td class="text-center"><%= cd.view_times %></td>
				</tr>
		<% end %>
	<% else %>
		<tr class="row">
			<td colspan="7" class="col-md-6 col-md-offset-5">
				<h3>查無結果!</h3>
			</td>
		</tr>		
	<% end %>
	</tbody>
</table>	

<%= paginate @cds, :window=>2 %>

</div>

<script>
$(function(){
	$(".clickable-row").click(function() {
			window.document.location = $(this).attr("href");

	});
});
</script>