<%=render 'courses/search/search_js' %>
<br>
<div id="results" class="container">
<%= search_form_for @q, url:"/courses/", class:"form-inline" do |f| %>
	<div class="row">	
		<div class="col-md-12 text-center">
			<div class="input-group" style="width:450px;display:inline-table;">
				<%=text_field_tag :custom_search,params[:custom_search], class: "form-control", style:"/*width:250px;*/", placeholder:"課名/老師/時間/向度" %>
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">找課程 <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="javascript:void(0);">找課程</a></li>
						<!--<li><a href="javascript:void(0);">找心得</a></li>-->
					</ul>
				</div><!-- /btn-group -->			
				<div class="input-group-btn">
					
					<button type="submit" class="btn btn-primary" id="search" onclick="/*$('#course_detail_search').submit();*/"><%=fa_icon "search"%></button>        
				</div><!-- /btn-group -->
			</div><!-- /input-group -->
			<div class="checkbox">
				<label style="font-size:16px;">
					<%=check_box_tag "adv_toggle",params[:adv_toggle],params[:adv_toggle],onchange: "$('#adv-search').toggleClass('hidden');$('#q_department_id_eq').val('');" %>
					進階搜尋
				</label>
			</div>
			<!--<button class="btn btn-default" onclick="return false;"></a>-->
		</div>
	</div>
	<div class="hidden row" id="adv-search">
		<br>
		<div class="col-md-12 text-center">
			<div style="width:108px;display:inline-block;">
				<%= f.select :semester_id_eq, options_for_select(@sem_sel, @q.semester_id_eq),{:prompt=> "學期"},{ :class=> "form-control"} %>				
			</div>
			<div style="width:120px;display:inline-block;">
				<%= select_tag "degree" ,options_for_select(@degree_sel,params[:degree]), prompt: "分類", class: "form-control",:onchange=>"change_degree($(this))" %>		
			</div>	
			<div style="width:300px;display:inline-block;">				
				<%= f.select :department_id_eq,"",{:prompt=> "系所"},{ :class=> "form-control"} %>
			</div>
		</div>	
	</div>
<% end %>
<br>

<table class="table table-hover bg-white-transparen" id="course_table" style="background-color:white;" >
	<tr class="row">
		<!--<th class="col-md text-center" style="width:70px;">學期</th>-->
		<th class="col-md- text-cente">系所/摘要</th>
		<th class="col-md- text-cente">課名</th>
		<th class="col-md- text-cente">老師</th>
		<th class="col-md- text-cente">學分</th>
		<th class="col-md- text-cente">時間</th>
		<th class="col-md- text-cente">年級</th>
	</tr>
	<tbody>
	<% if !@cds.empty? %>
		<% @cds.each do |cd| %>
				<tr id="<%=cd.id%>" class="row clickable-row clickable-hover" href="<%=course_path(cd.id)%>">
					<!--<td class="text-center">
						<%=cd.semester_name%>
					</td>-->
					<td class="text-cente">
						<%="#{cd.department_ch_name} #{cd.brief}"%>
					</td>
					<td class="text-cente"><%= cd.course_ch_name %></td>
					<td class="text-cente"><%= cd.teacher_name %></td>
					<td class="text-cente"><%= cd.course_credit %></td>
					<td class="text-cente"><%= cd.time %></td>
					<td class="text-cente">
							<%=cd.grade%>

					</td>
				</tr>
		<% end %>
	<% else %>
		<tr class="row">
			<td colspan="6" class="text-center">
				<h3>查無結果!</h3>
			</td>
		</tr>		
	<% end %>
	</tbody>
</table>	

<%= paginate @cds, :window=>2 %>

</div>

<script>
$(function(){
	if($("#adv_toggle").prop("checked"))
		$("#adv-search").removeClass("hidden");
	$(".clickable-row").click(function() {
			window.document.location = $(this).attr("href");

	});
});
</script>