
<%= render :partial=>"search_js" %>


<div class="form-inline" ><!--role="form"-->
	<div class="row">

		<div class="form-group col-sm-2  col-sm-offset-1">
			
			<div class="input-group">
				<!--<span class="input-group-addon">
					<input type="checkbox" id="semester_check">
				</span>-->
				
				<input type="text" class="form-control" id="semester_select" placeholder="選擇學期..." value="<%=latest_semester.name%>">
				<input type="hidden" id="semester_id" value="<%= session[:saved_query][:sem_id]||Semester.all.last.id%>" >
				<div class="input-group-btn">
					<button type="button" class="btn btn-default " id="semester" onclick="select_thing('semester')">
						<span class="caret"></span>
					</button>
				</div>	<!-- /btn-group -->
			</div>	<!-- /input-group --> 
		</div>	<!-- /form-group -->
		
		<div class="form-group col-sm-2 ">
			<div class="input-group">
				<!--<span class="input-group-addon">
					<input type="checkbox" id="department_check">
				</span>-->
				<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
				<input type="text" class="form-control" id="degree_select" placeholder="大學部/研究所/通識" ><!--readonly-->
				<input type="hidden" id="degree_id" value="<%=session[:saved_query][:degree]%>" >
	      <div class="input-group-btn">
					<button type="button" class="btn btn-default " id="department" onclick="select_thing('degree')">
						<span class="caret"></span>
					</button>

				</div>	<!-- /btn-group -->
			</div>	<!-- /input-group --> 
		</div>	<!-- /form-group -->
		
	  <div class="form-group col-sm-3 ">
			<div class="input-group">
				<!--<span class="input-group-addon">
					<input type="checkbox" id="department_check">
				</span>-->
				<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
				<input type="text" class="form-control" id="department_select" placeholder="選擇系所..." >
				<input type="hidden" id="department_id" value="<%=session[:saved_query][:dept_id]%>" >
	      <div class="input-group-btn">
					<button type="button" class="btn btn-default" id="department" onclick="select_thing('department')">
						<span class="caret"></span>
					</button>
				</div>	<!-- /btn-group -->
			</div>	<!-- /input-group --> 
		</div>	<!-- /form-group -->
		
		<div class="form-group col-sm-3 ">
			<div class="input-group">
				
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="search_action">課名 <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);" onclick="change_search_type($(this))" id="course_name">課名</a></li>
						<li><a href="javascript:void(0);" onclick="change_search_type($(this))" id="course_time">時間</a></li>
						
						<!--<li><a href="#" onclick="change_action($(this))" id="course_teacher">老師</a></li>-->
					</ul>
				</div><!-- /btn-group -->
				<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
				<input type="hidden" id="search_type" value="course_name">
				<input type="text" class="form-control" id="search_term" placeholder="Search..." >
				
				<span class="input-group-btn"><!--type="submit"-->
					<button class="btn btn-default" onclick="search_keyword()"><span class="glyphicon glyphicon-search"></span></button>
				</span>

			</div><!-- /input-group -->
		</div>
		<div class="col-md-1">
		<span class="glyphicon glyphicon-question-sign clickable-hover text-right" style="color:green !important; "onclick="show_tip('search_tips')"></span>
		</div>
	</div><!-- /row -->
	
	
</div>



<div class="row hidden " id="search_tips">
	<div id="" class="col-md-10 col-md-offset-1">
		<div class="bs-callout bs-callout-info ">
			<!--<h4></h4>-->
			<p>快速鍵: 選擇類別-[U]ndergraduate:大學部 [G]raduate:研究所 [C]ommon:通識 [D]epartment:系所 [/]:關鍵字</p>
			<p>搜尋規則: 1CD 5G=>找含有1CD與5G時段的課程(OR) 1CD5G=>找1CD5G的課程(AND) </p>
		</div>
	</div>
</div>

<br>
<div id="search_result" class="row bg-white-transparent">

</div>