<%=form_tag "/courses/course_raider", :remote=>true do%>
	<div class="row">
	考試週：（該週可能有考試）  		
			<div class="btn-group" id="test-btn-group">	
	<%for i in 1..18 do%>		
		<%if 2**(i-1) & @page.exam_record !=0 %>
			<button type="button" class="btn btn-danger" onclick="changeColor($(this), 'danger', 'test');">
		<% else %>
			<button type="button" class="btn btn-default" onclick="changeColor($(this), 'danger', 'test');">
		<%end%>	
				<%=i.to_s%>
			</button>  		 
	<%end%>      	
			</div>    	
	</br>	 	
	作業週：（該週可能有作業）	
			<div class="btn-group" id="hw-btn-group">	
	<%for i in 1..18 do%>		
		<%if 2**(i-1) & @page.homework_record !=0 %>	
			<button type="button" class="btn btn-warning" onclick="changeColor($(this), 'warning', 'hw');">
		<% else %>	
			<button type="button" class="btn btn-default" onclick="changeColor($(this), 'warning', 'hw');">
		<% end %>
				<%=i.to_s%>
			</button>	
	<%end%>      	       	
			</div>    		
	</div>
	<hr>
	<div class="row">
		其他內容：</br>
		<%= text_area_tag :content, @page.course_note, :class=>"form-control", :cols => "30", :rows => "10" %>
	</div>
	<%=hidden_field_tag "ct_id",params[:ct_id] %> 
	<input id="test" name="test" type="hidden" value="0">
	<input id="hw" name="hw" type="hidden" value="0">
	<hr>
	<p class="text-right">
		<%=submit_tag "確定修改", :class=>"btn btn-primary", :confirm=>"確認資料無誤嗎 ? ", :onclick=>"count_month();"%>
	</p>
<%end%>
