
<% if @table_type=="sidebar" %>


	<div class="bs-callout bs-callout-info ">
		<!--<h4></h4>-->
		<p>此為觀察名單，並不會加入課表，若要加至課表請至模擬選課排課</p>
		<p></p>
	</div>


<% end %>


<table class="table table-hover courselist-hover " id="course_table" >
	<% credit_sum=0 %>
	<% cos_types=[] %>
	<% if @course_details %>
		<% @cd_all.each do |cd,course,teacher|  %>
		
				<% ctrs=cd.course_teachership.course_teacher_ratings %>
				<% ctr_cold=ctrs.select{|ctr| ctr.rating_type=="cold"}[0] %>
				<% ctr_sweety=ctrs.select{|ctr| ctr.rating_type=="sweety"}[0] %>
				<% ctr_hardness=ctrs.select{|ctr| ctr.rating_type=="hardness"}[0] %>
				<% ctr_all_avg = (ctr_cold.avg_score*ctr_cold.total_rating_counts+ctr_sweety.avg_score*ctr_sweety.total_rating_counts+ctr_hardness.avg_score*ctr_hardness.total_rating_counts)/ctrs.sum(:total_rating_counts) %>
				
				<% if !cos_types.include?(cd.cos_type) %>
					<% cos_types.append(cd.cos_type) %>
					<tr class="row"><th class="<%=cos_type_class(cd.cos_type)%>"><%=cd.cos_type%></th></tr>
					
				<% end %>
				<tr id="cd_<%=cd.id%>" class="row" >
					<td class="">
						
						<p id="rating_all" class="">
							<%= link_to course.ch_name, course_path(course, :tid=>teacher.id), :class=>"course_name" %>
							<% course.ch_name %>
							<%= course.department.ch_name %>
							<%= teacher.name %>
							<% if @table_type!="sidebar" %>
								<button class="btn btn-success btn-circle pull-right" onclick="add_class(<%=cd.id%>,'add','cart')">
								<span class="glyphicon glyphicon-plus"></span>
								</button>
							<% else %>
								<button class="btn btn-danger btn-circle pull-right" onclick="add_to_cart(<%=cd.id%>,'delete')">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							<% end %>
						</p>
						<p class="text-right">
						
						<%if !ctr_all_avg.nan? %>
						<span class="glyphicon glyphicon-star"></span> 
						<%= ctr_all_avg.round(1) %> | 
						<% end %>
						<% if cd.cos_type=="通識"||cd.cos_type=="外語"%>
							<%=cd.brief%> | 
						<% else %>
							<%=cd.cos_type%> | 
						<% end %>
						<strong class="course_time"><%= cd.time %></strong>
						| <%=fa_icon "graduation-cap" %> <strong><%= cd.credit %></strong>
						<% credit_sum=credit_sum+cd.credit.to_i%>
						
						</p>
					</td>
				</tr>
		<% end %>
	<% else %>
		<% if @table_type=="search"%>
			<tr class="row"><td><h4>查無結果!</h4></td></tr>
		<% end %>
	<% end %>
	<% if @table_type!="search" %>
		<tr class="row">
			<td>
				<p class="lead text-right">共 <strong><%=@course_details.count%></strong> 門課 <strong>
				<%=credit_sum%></strong> 學分</p>
			</td>
		</tr>
	<% end %>
</table>


<script>


</script>





