<%= javascript_include_tag "user_course_stat/checker", "data-turbolinks-track" => true %>
<div class="row" style="">
	<div class="col-md-5 col-md-offset-1">
		<div class="panel panel-primary ">
			<div class="panel-heading">
				<h4 class="text-center">
					<button id="has-select-btn" class="btn btn-circle btn-info pull-left" onclick="showHasSelected()" style="margin-top: -5px;">
						<font color="white"><%=fa_icon "check"%></font>
					</button>	
					課程查詢

				</h4>
			</div>
			<div class="panel-body">
				<%= render "suggest_btns" %>
				<div id="search_div" class="row schedule-search-bar">
					<%= render "/courses/search/mini_form" %>
					<div class="scrollable"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 " id="schedule_div">
		<div class="panel panel-primary ">
			<div class="panel-heading" style="background-color:#4c66a4;">
				<h4 class="text-center">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%= Semester::LAST.year.to_s + ((Semester::LAST.half==1) ? "上" : "下") %>

					<div class="btn-group pull-right" style="margin-top: -5px">
						<button type="button" class="btn btn-circle btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							 <i class="fa fa-download"></i>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/courses/export_timetable.xls?sem_id=<%=Semester::LAST.id%>">Excel</a></li>
							<li><a href="#" onclick="$('#schedule_table').CourseTable('renderImg', 'window');">Image</a></li>
						</ul>
					</div>
				</h4>		
			</div>
			<table class="table table-bordered" id="schedule_table"></table>
		</div>	
	</div>
	
</div>

<script>
	$(document).ready(function(){
		toastr["success"]("已更新到104上的課程囉!!!");
		$('#has-select-btn').popover({
			content: "已選課程",
			placement:"auto",
			trigger : "hover",
			container :"body"
		});	
		$(".btn-default").popover({
				//content : $(this).attr('tiptext'),
				trigger :"hover",
				container :"body",
				placement : "auto"
		});
		showHasSelected();
	
		//course table
		load_course_table(<%=Semester::LAST.id%>, true);
		//sessionTest();	
	});

	function load_course_table(semester_id, selectable){
		$.getJSON("/user/get_courses?type=course_table&sem_id="+semester_id,function(data){
			//console.log(data);
			data.config = {
				deletable: true ,
				selectable: true,
				popover: true,
				cancelButtonFunc: function(arg){
					var cd_id = arg.data.cd_id;
					save_course(cd_id,'delete','load_course_table');
				}
			};
			$('#schedule_table').CourseTable(data);	
		});
	}
	
	function showHasSelected(){
		$.getJSON("/user/get_courses?type=simulation",function(data){
			//console.log(data);
			$(".scrollable").html(tmpl("search_result", data));
		});
	}

	function show_cart(){
		$("#search_div").load("/course_details/mini?sem_id=<%=@sem_id%>");
	}


</script>

<%=render "courses/search/search_js"%>
<%=render "courses/search/xtmpl_results_mini"%>
