<div class="panel panel-primary">
	<div class="panel-heading" >
		<h4 class="text-center">已選課程</h4>
	</div>
	

<br>
<table class="table table-hover ">

	<% cos_types=[] %>
	<% credits=[] %>
	<% @cd_all.each do |cd,course,teacher|%>
		<% if !cos_types.include?(cd.cos_type) %>
			<% cos_types.append(cd.cos_type) %>
			<tr class="row"><th colspan="3" class="<%=cos_type_class(cd.cos_type)%>"><%=cd.cos_type%></th></tr>
			<% credits.append(cd.credit.to_i) %>
		<% else %>
			<% credits[credits.length-1]+=cd.credit.to_i %>
		<% end %>
	
	
	<tr class="row ">
	<td class="col-md-6">
		<h4 class="text-center"><%= link_to course.ch_name, course_path(course, :tid=>teacher.id) %>
	
			

			
			<%= link_to cd.temp_cos_id, "https://cos.adm.nctu.edu.tw/Course/CrsOutline/show.asp?Acy="<<cd.semester.year<<"&Sem="<<cd.semester.half<<"&CrsNo="<<cd.temp_cos_id, :target=>"_blank" %> | 
			
			<%=teacher.name %> | 
			<%= fa_icon "user" %> <strong><%=CourseSimulation.where(:course_detail_id=>cd.id).count%></strong> | 
			<%= fa_icon "graduation-cap" %> <strong><%=cd.credit%></strong>
			</h4>
		</td>
		<td class="col-md-6">
		<div class="container" style="display:inline-block;">
			
			<%= link_to "考古題", course_path(course, :tid=>teacher.id, :file_first=>"true"), :class=>"btn btn-sm btn-default" %>
			<div class="number-right-top" ><%=course.file_infos.count%></div>
			<button class="btn btn-sm btn-default">討論區</button>
			<div class="number-right-top" >100</div>
		</div>
		<!--<p class="text-right">
			
			<button class="btn btn-sm btn-default">討論區</button>
		</p>-->
		</td>
	</tr>
	<% end %>
	<tr class="row">
		<td colspan="2">
			<h4 class="text-righ">
				<%cos_all=cos_types.zip(credits)%>
				<% cos_all.each do |t,c| %>
					<%= t %> : <strong><%=c%></strong>		
				<% end %>
				共 <strong><%= @cds.count %></strong> 門課 <strong><%=@cds.sum(:credit) %></strong> 學分
			</h4>
		</td>
	</tr>
	<tr class="row success">
		<td colspan="2" class="info">
			<h4 class="text-right">
				目前學分: <strong>104</strong> 必修 : <strong>53</strong> 選修 : <strong>51</strong> 離畢業還差 <strong>24</strong> 學分
			</h4>
		</td>
	</tr>
</table>

</div>