<% render :partial=>"search_js" %>

<div class="row">
	
<!--<div class="col-md-5" style="/*background-color:white;margin-top:50px;*/">-->
		<div class="tabbable tabs-left col-md-4 col-md-offset-1">
<!--			
			<ul class="nav nav-tabs" style="margin-top:50px;">
			
				<li class="active"><a href="#a" data-toggle="tab" >查詢</a></li>
				<li><a href="#b" data-toggle="tab">已選</a></li>  
				<% if @sem_id==latest_semester.id %>
				<li><a href="#c" data-toggle="tab">觀察名單</a></li>
				<% end %>
				
			</ul>
-->			
			<!--<div class="container">-->
			<div class="tab-content" style="overflow:hidden;">
			 <div class="tab-pane active" id="a">
					<div class="panel panel-primary ">
						<div class="panel-heading">
							<h4 class="text-center">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;課程查詢
								<button id="cart-btn" class="btn btn-circle btn-info pull-right" onclick="reload_search();" style="margin-top: -5px;">
									<font color="white"><%=fa_icon "shopping-cart"%></font>
								</button>	
							</h4>
						</div>
						<div class="panel-body">
							<div id="search-form" class="row schedule-search-bar">
							</div>
						</div>
					</div>
				</div>
<!--				
				<div class="tab-pane" id="b">
					<div class="panel panel-primary" >
						<div class="panel-heading" >
							<h4 class="text-center">已選課程</h4>
						</div>
						<div class="panel-body" style="min-height:400px;">
							<div id="has_seleted_courses"></div>
						</div>
					</div>
				</div>
			
				<div class="tab-pane" id="c">
					<div class="panel panel-primary" >
						<div class="panel-heading" >
							<h4 class="text-center">觀察名單</h4>
						</div>
						<div class="panel-body" style="min-height:400px;">
							<div id="shopping_cart_courses"></div>
						</div>
					</div>
				</div>
-->					
			</div>

		</div>
		
	<div class="col-md-6 " id="user_schedule">
		
	</div>
</div>
<script>


$(document).ready(function(){
	$('#cart-btn').popover({
		content: "顯示觀察名單",
		placement:"auto",
		trigger : "hover",
		container :"body"
	});
	$("#search-form").load("/course_details/mini?sem_id=<%=@sem_id%>");
	<% if current_user %>
//		$("#has_seleted_courses").load("/courses/get_user_courses?sem_id=<%=@sem_id%>&type=list");
		$("#user_schedule").load("/courses/get_user_courses?sem_id=<%=@sem_id%>&type=schd");
	<% end %>
	<% if @sem_id==latest_semester.id %>
	$("#shopping_cart_courses").load("/courses/show_cart");
	<% end %>
});


	function reload_search(){
		$("#search-form").load("/course_details/mini?sem_id=<%=@sem_id%>");
	}
	
	function add_class(id,addordel,from){
		//alert("!!!");
		var this_row=$("#cd_"+id);
		var name=this_row.find(".course_name").text();
		var time=this_row.find(".course_time").text();
		if(time==" "){//for 藝文賞析
			save_course(id,addordel);
			/*if(addordel=="add")
				this_row.remove();*/
			return;
		}
		var timearr=time.match(/[0-9][A-Z]+/g);
		
		var slot_ids=[];
		var conflict=false;
		for(var i = 0 ; i < timearr.length ; i++){
			var day=timearr[i][0];
			
			for(var j = 1 ; j < timearr[i].length ; j++){
				
				var row_id="#day_"+day+"_time_"+timearr[i][j];
				slot_ids.push(row_id);
				if(addordel=="add"&&$(row_id).text()!=""){
					$(row_id).removeClass("schedule-slot-empty");
					//$(row_id).addClass("danger");
					$(row_id).css("background-color","#FFCECD");
					conflict=true;
				}
			}
		}
		if(conflict){
			alert("衝堂囉!");
		}
		else{
			for(var i = 0 ; i < slot_ids.length;i++){
				if(addordel=="add"){
					$(slot_ids[i]).text(name);
					$(".danger").removeClass("danger");
				}
				else{
					$(slot_ids[i]).text("");
					$(slot_ids[i]).attr("class","schedule-slot-empty");
					
					//$(slot_ids[i]).css("background-color","");
					//$(row_id).addClass("danger");
				}
			}
			save_course(id,addordel,from);
			/*if(addordel=="add")
				this_row.remove();*/
		}
	}
	
	function save_course(cd_id,addordel,from){
		$.ajax({
			type: "GET",
			url: "/courses/add_simulated_course",
			data: {
				cd_id: cd_id,
				type: addordel,
				sem_id: <%=@sem_id%>,
				from :from
			},
			success: function(data) {
				//if(type=="add")
				$("#has_seleted_courses").html('<%=loading_img%>');
				$("#has_seleted_courses").load("/courses/get_user_courses?sem_id=<%=@sem_id%>&type=list");
				$("#user_schedule").load("/courses/get_user_courses?sem_id=<%=@sem_id%>&type=schd");
				if (from=="cart")
					$("#shopping_cart_courses").load("/courses/show_cart");
				//alert("SUCCESS");
			}
			
		});
	}

	
</script>