<div class="panel panel-primary ">
			<div class="panel-heading" style="background-color:#4c66a4;">
				<h4 class="text-center">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@sem.name%>
					<%= link_to "/courses/timetable.xlsx?sem_id="+params[:sem_id].to_s ,:id=>"download-link" ,:class=>"btn btn-success btn-circle pull-right ", :style=>"margin-top: -5px;" do%>				
					<i class="fa fa-download"></i>
					<% end %>
				</h4>
				
			</div>
			<!--<div class="panel-body">-->
				<table class="table table-bordered" id="schedule_table">
					<tr>
						<th class="col" ></th>
						<% days=['Mon','Tue','Wed','Thu','Fri','Sat'] %>
						<% days.each do |day| %>
							<th class="col-md-2"><p class="text-center"><%=day%></p></th>
						<% end %>
					</tr>
					<% time=['M','N','A','B','C','D','X','E','F','G','H','Y','I','J','K','L'] %>
					<% real_time=['6:00 ~ 6:50','7:00 ~ 7:50','8:00 ~ 8:50','9:00 ~ 9:50','10:10 ~ 11:00','11:10 ~ 12:00','12:20 ~ 13:10','13:20 ~ 14:10','14:20 ~ 15:10','15:30 ~ 16:20','16:30 ~ 17:20','17:30 ~ 18:20','18:30 ~ 19:20','19:30 ~ 20:20','20:30 ~ 21:20','21:30 ~ 22:20'] %>
					<% time_index=0 %>
					<% time.each do |t|%>
						<tr>
							<th id="time_<%=t%>" class="schedule-grid"><p class="text-center"><%=t%></p></th>
							<script>
								$('#time_<%=t%>').popover({
									content: "<%= real_time[time_index] %>",
									placement:"auto",
									trigger : "hover",
									container :"body"
								});
							</script>
							<% time_index = time_index+1 %>
							<% i = 1 %>
							<%  days.each do |day| %>
								<%if params[:renderType].to_i==1%>
									<td id="day_<%=i%>_time_<%=t%>_h" class="schd-slot-empty" ></td>		
								<%else %>
									<td id="day_<%=i%>_time_<%=t%>" class="schd-slot-empty pos-relative" ></td>
								<%end%>
								<%i=i+1%>
							<% end %>
						</tr>
					<% end %>
				</table>
				
			<!--</div>-->
		</div>
		
<script>

$(document).ready(function() {
<%if params[:renderType].to_i==1%>
	$('#small_timetable').html('<%=j render :partial=>'small_timetable'%>') ; // for small timetable
<%end%>	
	add_time_slot(<%=@cd_jsons.to_s.html_safe%>);
	var rows = $('.schd-slot-empty');//.not(':first');
	rows.on('click', function(e) {    
		/* Get current row */
		var row = $(this);//$(this).find('td');
		row.addClass("schd-grid-selected");
		
	});
	$('#download-link').popover({
		content: "下載課表",
		placement:"auto",
		trigger : "hover",
		container :"body"
	});

});
function add_time_slot(courses){
	for(var i = 0 ; i < courses.length ; i++){
		if(courses[i].time==" ")//for 藝文賞析
			continue;
		var timearr = courses[i].time.match(/[0-9][A-Z]+/g);
		var rooms = courses[i].room.match(/[A-Z]+[0-9]+/g);
		if(rooms==null)
			rooms=[""];
		var rooms_len = rooms.length ;
	//	alert(rooms[0]);
		for(var j = 0 ; j < timearr.length ; j++){
			var day=timearr[j][0];
			for(var k = 1 ; k < timearr[j].length ; k++){
				var plan_id = "day_"+day+"_time_"+timearr[j][k] ;
				var row_id = "#"+plan_id ;
	<%if params[:renderType].to_i==1%>	 // for small timetable		
				var small_row_id = row_id+"_sm" ;
				row_id = row_id+"_h";							
				$(small_row_id).removeClass("schd-slot-empty");
				$(small_row_id).addClass(courses[i].class);
				$(small_row_id).text(courses[i].name[1]);
				$(small_row_id).popover({ 
					content: "課程: "+courses[i].name+" 教室: "+((rooms[j])?rooms[j]:rooms[rooms_len-1]),//+courses[i].room,
					placement:"auto",
					trigger : "hover",
					container :"body"
				});		
				$(row_id).removeClass("schd-slot-empty"); // remove old color
				$(row_id).addClass(courses[i].class); //add color
				$(row_id).html(courses[i].name);//add name
				$(row_id).popover({ // hover detail info
					content:"教室:"+((rooms[j])?rooms[j]:rooms[rooms_len-1]),//courses[i].room,
					placement:"auto",
					trigger : "hover",
					container :"body"
				});	
	<% else %> //normal simulation timetable
				$(row_id).removeClass("schd-slot-empty"); // remove old color
				$(row_id).addClass(courses[i].class); //add color
				$(row_id).html(courses[i].name+
				'<div class="course-clean" id="'+
				plan_id+'_div'+
				'" onclick="return del_course('+courses[i].course_id+');"><i class="fa fa-times clickable-hover"></i></div>'); //add name
				$(row_id).popover({ // hover detail info
					content:"教室:"+((rooms[j])?rooms[j]:rooms[rooms_len-1]),//courses[i].room,
					placement:"auto",
					trigger : "hover",
					container :"body"
				});
				$(row_id).mouseover(function(){
					$("#"+$(this).attr('id')+"_div").show();
				});
				$(row_id).mouseleave(function(){
					$("#"+$(this).attr('id')+"_div").hide();
				});
				$(".course-clean").hide();
	<% end %>	
			}//inner for 
		}//middle for
	}//outer for
}//func
<%if params[:renderType].to_i != 1%>
	function del_course(cd_id){
		
		$.ajax({
			type: "GET",
			dataType: "text",
  			url: "/user/add_course" ,
  			data:{
  				cd_id: cd_id,
  				type : "delete" 
  			},	
  			success: function(result){
  				if(result!=0){
  					var json_str = JSON.parse(result)[0] ;
					var timearr=json_str.time.match(/[0-9][A-Z]+/g);
					for(var j = 0 ; j < timearr.length ; j++){
						var day=timearr[j][0];
						for(var k = 1 ; k < timearr[j].length ; k++){
							var row_id = "#day_"+day+"_time_"+timearr[j][k] ;
							$(row_id).removeClass("schd-slot-empty"); // remove old color
							$(row_id).removeClass(json_str.class);
							$(row_id).css("background-color","#FFFFFF");
							$(row_id).html('') ;
							$(row_id).popover('disable');
						}
					}	
  				}
					else
  					alert("Delete course failed.");
  			}
  		});
 		
	}
<% end %>

</script>
