<div class="panel panel-primary ">
			<div class="panel-heading" style="background-color:#4c66a4;">
				<h4 class="text-center">課表</h4>
			</div>
			<!--<div class="panel-body">-->
				<table class="table table-bordered" id="schedule_table">
					<tr>
						<th class="col" ></th>
						<% days=['Mon','Tue','Wed','Thu','Fri','Sat'] %>
						<% days.each do |day| %>
							<th class="col-md-2"><p class="text-center"><%=day%></p></th>
						<% end %>
					</tr>
					<% time=['M','N','A','B','C','D','X','E','F','G','H','Y','I','J','K','L'] %>
					<% real_time=['6:00 ~ 6:50','7:00 ~ 7:50','8:00 ~ 8:50','9:00 ~ 9:50','10:10 ~ 11:00','11:10 ~ 12:00','12:20 ~ 13:10','13:20 ~ 14:10','14:20 ~ 15:10','15:30 ~ 16:20','16:30 ~ 17:20','17:30 ~ 18:20','18:30 ~ 19:20','19:30 ~ 20:20','20:30 ~ 21:20','21:30 ~ 22:20'] %>
					<% time_index=0 %>
					<% time.each do |t|%>
						<tr>
							<th id="time_<%=t%>" class="schedule-grid"><p class="text-center"><%=t%></p></th>
							<script>
								$('#time_<%=t%>').popover({
									content: "<%= real_time[time_index] %>",
									placement:"auto",
									trigger : "hover",
									container :"body"
								});
							</script>
							<% time_index = time_index+1 %>
							<% i = 1 %>
							<%  days.each do |day| %>
								<td id="day_<%=i%>_time_<%=t%>" class="schd-slot-empty" ></td>
								<%i=i+1%>
							<% end %>
						</tr>
					<% end %>
				</table>
				
			<!--</div>-->
		</div>
		
<script>
$(document).ready(function() {
	add_time_slot(<%=@cd_jsons.to_s.html_safe%>);
	var rows = $('.schd-slot-empty');//.not(':first');
	rows.on('click', function(e) {    
		/* Get current row */
		var row = $(this);//$(this).find('td');
		row.addClass("schd-grid-selected");
		
	});
});
function add_time_slot(courses){
	for(var i = 0 ; i < courses.length ; i++){
		if(courses[i].time==" ")//for 藝文賞析
			continue;
		var timearr=courses[i].time.match(/[0-9][A-Z]+/g);
		for(var j = 0 ; j < timearr.length ; j++){
			var day=timearr[j][0];
			for(var k = 1 ; k < timearr[j].length ; k++){
				var row_id="#day_"+day+"_time_"+timearr[j][k];
				$(row_id).removeClass("schd-slot-empty");
				$(row_id).css("background-color",courses[i].color/*+" !important"*/);
				//$(row_id).addClass("success");
				$(row_id).text(courses[i].name);
				$(row_id).popover({
					content:"教室:"+courses[i].room,
					//delay: { show: 500, hide: 100 },
					placement:"auto",
					trigger : "hover",
					container :"body"
				});
			}
		}
	}
}
</script>
