
<% course_name=local_assigns[:course_name]%>
<% user_name=local_assigns[:user_name]%>
<% action=local_assigns[:action]%>
<tr>
<% if course_name!="no" %>
<td><%= Course.find(file.course_id).ch_name %></td>
<% end %>
<% if user_name!="no" %>
<td><%= User.find(file.owner_id).name %></td>
<% end %>
<td><%= file.upload_file_name %></td>

<td><%= file.created_at.strftime("%Y-%m-%d %I:%M%p") %></td>
<td><%= (file.upload_file_size.to_i/1000).to_s %>Kb</td>
<td>
<% if action=="edit" %>
<input id="file_<%=file.id%>" rows="1" value="<%=file.description%>" />
<script>$('#file_<%=file.id%>').bind('blur',function(){edit(<%=file.id%>);});</script>
<% else %>
<%=file.description%>
<% end %>
</td>

<td><%= link_to "下載", files_download_path(:id=>file.id) %>
<%= link_to "刪除", files_delete_file_path(:id=>file.id) %></td>
</tr>

