<script>
  var fileUploadErrors = {
  maxFileSize: '檔案太大了!',
  minFileSize: 'File is too small',
  acceptFileTypes: '格式不支援',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
<% if local_assigns[:upload_disabled]!="true" %>
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade" >
    
    <input type="hidden" name="file_info[course_id]" value="<%=@course.id%>">
    <!--<td class="preview"><span class="fade"></span></td>-->
    
	<td class="teacher">
	<span>
	<%=select_tag "new_select_teacher_id", options_from_collection_for_select(@course.teachers, "id", "name"), :onchange=>"update_input($(this));" %>
	<input id="new_teacher_id" type="hidden" name="file_info[teacher_id]" value="<%=@course.teachers.first.id %>">
	</span>
	</td>
	<td class="semester"><span>
	<%=select_tag "file_info[semester_id]", options_from_collection_for_select(@course.semesters, "id", "name"), :onchange=>"update_input($(this));" %>
	<input id="new_semester_id" type="hidden" name="file_info[semester_id]" value="<%=@course.semesters.first.id %>">

	</span></td>
	<td class="col-md-2 description"><input name="file_info[description]" rows="1" style="width:200px;"></td>
	<td class="name"><span>{%=file.name%}</span></td>
	<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar progress-bar" style="width:0%;"></div></div>
    </td>
    <td class="function col-md-1" colspan="2">
	{% if (!o.options.autoUpload) { %}
		<div class="start" style="display:inline-block;">
		  <button class="btn btn-success btn-xs">
			<span class="glyphicon glyphicon-arrow-up"></span>
			<!--<span>{%=locale.fileupload.start%}</span>-->
		  </button>
		</div>
	{% } %}
    {% if (!i) { %}
		<div class="cancel" style="display:inline-block;">
		  <button class="btn btn-warning btn-xs">
			<span class="glyphicon glyphicon-remove"></span>
			<!--<span>{%=locale.fileupload.cancel%}</span>-->
		  </button>
		</div>
    {% } %}
	
    </td>
	{% } %}
  </tr>
  {% } %}
<% end %>
</script>