<div class="container">
  
  <%= form_for FileInfo.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped">
	<tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
	<tr><th>老師</th><th>年度</th><th>檔案說明</th><th>檔名</th><th>大小</th><th>提供者</th><th>上傳時間</th><th>動作</th></tr>
	<tr id="loading"><td colspan="6" ><p class="text-center"><%=image_tag("/assets/loading.gif", size: '42x42')%></p></td></tr>
	</tbody>
    </table>
  
	<hr>
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h2 class="panel-title">
		Upload file
		</h2>
		
	  </div>
	  <div class="panel-body ">
		<p>目前支援的格式有: c/cpp/docx/doc/pdf/jpg/jpeg/png/gif</p>
		<p>每個檔案的大小限制為10mb</p>     
		<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
		<div class="fileupload-buttonbar">
			<!-- The fileinput-button span is used to style the file input field as button -->
			<span class="btn btn-success fileinput-button">		  
			  <span class="glyphicon glyphicon-plus"></span>
			  <span>Add files...</span>
			  <%= f.file_field :upload, :multiple=>""%>
			</span>
			<button type="submit" class="btn btn-primary start">
			  <span class="glyphicon glyphicon-arrow-up"></span>
			  <span>Start upload</span>
			</button>
			<button type="reset" class="btn btn-warning cancel">
			 
			  <span class="glyphicon glyphicon-remove"></span>
			  <span>Cancel upload</span>
			</button>
			<!---<button type="button" class="btn btn-danger delete">
			  <span class="glyphicon glyphicon-trash"></span>
			  <span>Delete</span>
			</button>
			<input type="checkbox" class="toggle">--->
		</div>

		</div>
	</div>
  <% end %>

</div>

<%= render :partial=>"file_infos/template_upload" %>

<%= render :partial=>"file_infos/template_download" %>


<script type="text/javascript" charset="utf-8">
  $(function () {
      $('#file_info_upload').attr('name','file_info[upload]')
	  $('#fileupload').fileupload();
      $('#fileupload').fileupload('option',{
		  acceptFileTypes : /(\.|\/)<%=FileInfo.support_types%>$/i,
		  maxFileSize: <%=FileInfo.max_upload_size%>,
		  /*change: function(){
			alert("!!!!");
		  }*/
	  });
	  
      // 
      // Load existing files:
      $.getJSON("/file_infos/?course_id=<%= params[:id] %>", function (files) {
        var fu = $('#fileupload').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        //console.log(files);
        template = fu._renderDownload(files)
          .appendTo($('#fileupload .files'));
		
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });
	  
	
  });
</script>
