<html>
<head>
  <title>Csnote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "run_prettify/run_prettify?skin=sons-of-obsidian", "data-turbolinks-track" => true %>
  
  
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "/file_infos/upload" %>
</body>

</html>