<script>

	function toggleGroup(obj,id){
		//$(".group-"+id).toggle(600);
		//$("#course-list-"+id).find(".fa-plus").toggleClass("fa-minus");
		var target=$(".group-"+id);
		target.toggle(600,function(){
			if(target.is(":visible")){
				obj.find(".fa-plus").toggleClass("fa-minus fa-plus");
			}
			else{
				
				obj.find(".fa-minus").toggleClass("fa-minus fa-plus");
			}
		});
	}
</script>

<script type="text/x-tmpl" id="table-format">
{% grades = [["*","*"], [1,"大一"], [2,"大二"], [3,"大三"], [4,"大四"]] ; %}
{% halfs = [["*","*"], [1,"上"], [2,"下"]] ; %}
<table class="table course-table">
	<thead>
		<tr class="row">
			<th class="col-md-2">課名</th>
			<th class="col-md-2">永久課號</th>
			<th class="col-md-2">開課系所</th>
			<th class="col-md-1">學分</th>
			<th class="col-md-2">建議學期</th>
			<th class="col-md-1">是否採計學分</th>
			<th class="col-md-1">動作</th>
		</tr>
	</thead>
	<tbody>
		{% if (o.length > 0){ %}
			{% for(var i=0 ; i<o.length ; i++){ %}
				{% var list = o[i] ;%}
				{% if(list.groups){ %}
					<tr class="row zopl" list_id="{%=list.id%}" style='background-color:#BBFFEE;'  >
				{% }else{ %}
					<tr class="row" list_id="{%=list.id%}" >
				{% } %}
					<td class="">
						{% if(list.groups){ %}
							<%=fa_icon 'plus',:class=>"text-color-green clickable-hover",:onclick=>"toggleGroup($(this),{%=list.id%});"%>
							&nbsp;
						{% } %}
						{%=list.course_name %}
					</td>
					<td class="">{%=list.real_id %}</td>
					<td class="">{%=list.dept_name %}</td>
					<td class="">{%=list.credit %}</td>
					<td class="">
						<select class="grade-select">
							{% for(var j=0; j<grades.length; ++j){ %}
								{% grade = grades[j] ;%}
								<option value="{%=grade[0]%}" {% if(list.grade==grade[0]){ %}selected="selected"{% } %}>
								{%=grade[1]%}
								</option>
							{% } %}			
						</select>
						<select class="half-select">
							{% for(var j=0; j<halfs.length; ++j){ %}
								{% half = halfs[j] ;%}
								<option value="{%=half[0]%}" {% if(list.half==half[0]){ %}selected="selected"{% } %}>
								{%=half[1]%}
								</option>
							{% } %}		
						</select>
					</td>
					<td class="col-md-2">
						{% if(list.record_type==1){ %}
							<%=fa_icon 'check', :class=>'text-color-green course-update clickable-hover', :rtype=>1%>
						{% }else{ %}
							<%=fa_icon 'times', :class=>'text-color-red course-update  clickable-hover', :rtype=>0%>
						{% } %}
					</td>
					<td class="col-md-2">
						<%=link_to "刪除", "javascript:void(0);", :class=>"course-delete"%>
					</td>
				</tr>
				{% if(list.groups){ %}
					{% for(var j=0 ; j<list.groups.length ; j++){ %}
						{% var group = list.groups[j] ; %}
						<tr class="row group-{%= list.id%} " style="display:none;background-color:#99FFFF;" >
							<td class="">
								<%=fa_icon "angle-right"%>&nbsp;
								{%=group.course_name %}
							</td>
							<td class="">{%=group.real_id %}</td>
							<td class="">{%=group.dept_name %}</td>
							<td class="">{%=group.credit %}</td>
							<td class=""></td>
							<td class=""></td>
							<td class=""></td>
						</tr>
					{% } %}
				{% } %}
			{% } %}	
		{% }else{ %}
	
		<tr class="row">
			<td colspan="3"><p class="text-right">嘗試從左側搜尋加入課程</p></td>
		</tr>
		{% } %}
	</tbody>
</table>

</script>