<h2 class="panel-title">
	<table class="table">
		<tr>
			<td>學期</td>
			<td>單位</td>
			<td>課號</td>
			<td>選別</td>
			<td>修課人數/上限</td>
			<td>時間</td>
			<td>教室</td>
			<td>年級</td>					
			<td class="col-md-4">備註</td>
    	</tr>
		<% @data[:related_cds].select{|cd| cd.semester_id==Semester::LAST.id}.each do |cd| %>  
		<tr>
			<td><%=cd.semester.name%></td>
			<td><%=cd.department.ch_name%></td>
			<td><%=link_to cd.temp_cos_id,"https://course.nctu.edu.tw/Course/CrsOutline/show.asp?Acy=#{cd.semester.year}&Sem=#{cd.semester.half}&CrsNo=#{cd.temp_cos_id}", target:"_blank"%></td>
			<td>							
				<% if cd.cos_type=="通識"%>
					<%=cd.brief%>
				<% else %>
					<%=cd.cos_type%>
				<% end %>
			</td>
			<td class="text-center">
				<%= cd.reg_num %>/<%=cd.students_limit.to_i==9999 ? "不限" : cd.students_limit%>
			</td>
			<td><%=cd.time%></td>
			<td><%=cd.room%></td>
			<td><%= cd.grade=='*' ? 'all' : cd.grade %></td>						
			<td><%=cd.memo%></td>
		</tr>    
		<%end%>
		<% @data[:related_cds].reject{|cd| cd.semester_id==Semester::LAST.id}.each do |cd| %>  
		<tr class="old-course">
			<td><%=cd.semester.name%></td>
			<td><%=cd.department.ch_name%></td>
			<td><%=link_to cd.temp_cos_id,"https://cos.adm.nctu.edu.tw/Course/CrsOutline/show.asp?Acy=#{cd.semester.year}&Sem=#{cd.semester.half}&CrsNo=#{cd.temp_cos_id}", target:"_blank"%></td>
			<td>							
				<% if cd.cos_type=="通識"%>
					<%=cd.brief%>
				<% else %>
					<%=cd.cos_type%>
				<% end %>
			</td>
			<td class="text-center">
				<%= cd.reg_num %>/<%=cd.students_limit.to_i==9999 ? "不限" : cd.students_limit%>
			</td>
			<td><%=cd.time%></td>
			<td><%=cd.room%></td>
			<td><%= cd.grade=='*' ? 'all' : cd.grade %></td>							
			<td><%=cd.memo%></td>
		</tr>    
		<%end%>
	</table>
</h2>	
