<table class="table ">
<tr class="row "><th class="col-md-5 "><%= @review.title %></th></tr>
<tr class="row "><th class="col-md-5 "><%= @review.author %></th></tr>
<tr class="row "><td class="col-md-5 "><p><%=simple_format h @review.content %></p></td></tr>
<tr class="row "><td class="col-md-5 ">
<%= form_for @review, :html=>{ :class=>"form-inline"} do |f| %>
	<div class="form-group ">			
			<div class="input-group">
				<input type="text" class="form-control" id="course_select" placeholder="綁定課程..." value="<%=@course_name%>">	
				<%= f.hidden_field :course_id %>
				<!--<input type="hidden" id="course_id" value="" >-->
			</div>	<!-- /input-group -->
	</div>
	<%= f.submit "確認" , :class=>"btn btn-default "%>
<% end %>

</td></tr>
<tr class="row ">
	<td class="col-md-5 ">
		<%= link_to '刪除', review_path(@review), :method => :delete, :class=>'btn btn-danger btn-lg', data: { confirm: "Are you sure?" } %>
	</td>
</tr>
</table>

<script>
function find_by_label(array,value){
	for(var i = 0 ; i < array.length;i++){
		if(value==array[i].label){
			return true;
		}
	}
	return false;
}

$( document ).ready( function(){
	var course_select= <%= @courses_all_select.to_s.html_safe %> ;
	$( "#course_select" ).autocomplete({
      source:  course_select,
			minLength :0,
			change: function (event, ui) {
				if(!find_by_label(course_select,$(this).val())){
					$(this).val("");
					$(this).next().val("");
				}
					
			},
			select: function(event, ui){
				event.preventDefault();
				$(this).val(ui.item.label);
				$(this).next().val(ui.item.walue);
			}
  }).on("focus",function(event){$(this).autocomplete("search", "");});
});
</script>