123<table class="table ">
<tr class="row "><th class="col-md-5 "><%= @review.title %></th></tr>
<tr class="row "><th class="col-md-5 "><%= @review.author %></th></tr>
<tr class="row "><td class="col-md-5 "><p><%=simple_format h @review.content %></p></td></tr>
<tr class="row "><td class="col-md-5 ">
<%= form_for @review, :html=>{ :class=>"form-inline"} do |f| %>
	<div class="form-group ">			
			<div class="input-group">
				<input type="text" class="form-control" id="course_select" placeholder="綁定課程..." value="<%=@course_name%>">	
				<%= f.hidden_field :course_id %>
				<!--<input type="hidden" id="course_id" value="" >-->
			</div>	<!-- /input-group -->
	</div>
	<%= f.submit "確認" , :class=>"btn btn-default "%>
<% end %>

</td></tr>
<tr class="row ">
	<td class="col-md-5 ">
		<%= link_to '刪除', review_path(@review), :method => :delete, :class=>'btn btn-danger btn-lg', data: { confirm: "Are you sure?" } %>
	</td>
</tr>
</table>

