<ul class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand " href="<%=root_url%>" style="font-family:arial;">NCTU<sup>+</sup></a>

		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-">
      <ul class="nav navbar-nav">
				<% if current_user && current_user.role!=1 %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<% if current_user.role==0 %>
							<li><a href="/user/manage" rel="nofollow">使用者<span class="badge pull-right"><%=User.all.count%></span></a></li>
						<% end %>
							<li><a href="/departments" rel="nofollow">系<span class="badge pull-right"><%=Department.all.count%></span></a></li>
							<li><a href="/course_maps/" rel="nofollow">課程地圖</a></li>
							<li><a href="/main/student_import" rel="nofollow">手動匯入</a></li>
							<li><a href="/admin/ee104" rel="nofollow">電機104級畢業學分預審</a></li>								
						</ul>	
					</li>
				<% end %>

				<li><a href="/courses/" rel="nofollow">全校課程</a></li>
				<li><a href="/courses/simulation" rel="nofollow">模擬排課</a></li>
				
			<% if current_user and current_user.student_id %>	
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">歷年課表<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<% sems = current_user.course_simulations.pluck(:semester_id).uniq %>
						<% if sems.count==0 %>
						<li class="text-center">無資料</li>
						<% end %>
						<% sems.each do |sem| %>
						<li><a href="javascript:void(0)" rel="nofollow" class="view-timetable" sem="<%=sem.to_s %>"><%=Semester.find(sem).name %></a></li>						
						<% end %>
					</ul>	
				</li>
			<% end %>	
		
      </ul>
			
			<ul class="nav navbar-nav navbar-right">			
		<% if current_user %>
				<li>
					<a class="no-padding-bottom"><%= fa_icon("shopping-cart 2x", :class=>"masterTooltip clickable-hover", :id=>"cart_but", :title=>"觀察名單") %></a>
				</li>
				<li>

					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= fa_icon("calendar 2x", :id=>"sm_schd_button")%></a>
						<ul class="dropdown-menu">
							<li id="small_timetable"></li>
						</ul>
				</li>
			
				<li class="dropdown">		
					<%= link_to  "/user/special_list", class: "dropdown-toggle disabled", 'data-toggle'=> "dropdown" do %>
						<% if current_user.uid.presence%>
							<%= image_tag "http://graph.facebook.com/"<<current_user.uid<<"/picture", size: "25x25" %>
						<% else %>
							學號 
						<% end %>
						<%=current_user.name%>
					<% end %>
					<ul class="dropdown-menu">
					<% if current_user.uid and not current_user.student_id%>
						<li>
							<%= link_to  "綁定e3帳號", 'javascript:void(0);', :class=>'fb-bind-e3'%>
						</li>
					<% elsif not current_user.uid and current_user.student_id %>
						<li>
							<%= link_to  "綁定FaceBook帳號", '/auth/facebook', :confirm=>'注意! 綁定後無法反悔', :onclick=>"disale_submit()"%>
						</li>
					<% end %>	
						<li>
							<%= link_to  "登出", signout_path, id: "sign_out" %>
						</li>					
					</ul>
				</li>
		<% else %>
				<li>
					<%=link_to "登入","javascript:void(0);",:class=>"sign_in" %>
				</li>	
		<% end %>  			
			</ul>
				
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</ul>

<script>
	$(document).ready(function(){	
	
	  // login modal 
		<% if not current_user %>
			$("#global_modal .modal-content").html(tmpl("login", {ltype:"login"})) ;
		<% elsif not current_user.student_id%>
			$("#global_modal .modal-content").html(tmpl("login", {ltype:"bind"})) ;
		<% end %>
		bind_func();
		
		<% if current_user and current_user.uid and not current_user.student_id%>	
			$('.fb-bind-e3').click(function(){
				$("#global_modal .modal-content").html(tmpl("login", {ltype:"bind"})) ;
				bind_func();
				$("#global_modal").modal('show');			
				return false;
			});
		<% end %>
		// small timetable
		$("#sm_schd_button").click(
			function(){	
				var data = show_timetable_on_modal(<%=latest_semester.id%>, false);
				$("#small_timetable").html(tmpl("small_course_table"));
				if(data.courses.length>0)
					add_time_slot(data.courses, false, true);			//for small_timetable		
			}
		);

		// shopping cart
		$("#cart_but").click(
			function(){		
		  	$("#global_modal .modal-content").html('').append('<div class="modal-body"></div>') ;
				$("#global_modal .modal-body").load("/courses/show_cart");
				$("#global_modal").modal('show');
			}
		);

		//歷年課表
		$(".view-timetable").click(function(){
			show_timetable_on_modal($(this).attr("sem"), true);
		});
	
	});
	
	function show_timetable_on_modal(semester_id, showNow){
		var result=0 ;
		$.ajax({
			async: false, // This will make call synchronous
			url: "/user/get_courses?type=course_table&sem_id="+semester_id,
			dataType: "json",
			success: function(data){
				$("#global_modal .modal-content").html('').append('<div class="modal-body"></div>');
				$("#global_modal .modal-body").html(tmpl("course_table", data.semester_info));
				table_popover(); 	
				if(data.courses.length>0)	
					add_time_slot(data.courses, false, false);		//for timetable in modal
				if(showNow)	
					$("#global_modal").modal('show');	
				result = data ;
      }
		});
		return result ;
	}

	function add_to_cart(id,type){
		$.ajax({
			type: "GET",
			url : "/courses/add_to_cart",
			data : {
				cd_id:id,
				type:type
			},
			dataType : "json",
			success : function(data){
				toastr[data["class"]](data["text"]);
				if(type=="delete"){
					$("#global_modal .modal-body").load("/courses/show_cart");
				}
				//$("#global_modal .modal-content").html('').append('<div class="modal-body"></div>') ;
				//$("#global_modal .modal-body").html('').html('<%=loading_img%>');
				
			}
		
		});
	}

</script>

<%=render "/courses/course_table/xtmpl_course_table" if current_user%>
<%=render "/courses/course_table/xtmpl_small_course_table" if current_user%>
<%=render "/layouts/modal_content/xtmpl_header_login"%>