<ul class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand " href="<%=root_url%>" style="font-family:arial;">NCTU<sup>+</sup></a>

		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-">
      <ul class="nav navbar-nav">
				<% if current_user && current_user.role!=1 %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<% if current_user.role==0 %>
							<li><a href="/user/manage" rel="nofollow">使用者<span class="badge pull-right"><%=User.all.count%></span></a></li>
						<% end %>
							<li><a href="/departments" rel="nofollow">系<span class="badge pull-right"><%=Department.all.count%></span></a></li>
							<li><a href="/course_maps/" rel="nofollow">課程地圖</a></li>
							<li><a href="/main/student_import" rel="nofollow">手動匯入</a></li>
							<li><a href="/admin/ee104" rel="nofollow">電機104級畢業學分預審</a></li>								
						</ul>	
					</li>
				<% end %>

				<li><a href="/courses/" rel="nofollow">全校課程</a></li>
				<li><a href="/courses/simulation" rel="nofollow">模擬排課</a></li>
				
      </ul>
			
			<ul class="nav navbar-nav navbar-right">			
				<% if current_user %>
				<!--
				<li>
					<a class="no-padding-bottom"><%= fa_icon("shopping-cart 2x", :class=>"masterTooltip clickable-hover", :id=>"cart_but", :title=>"觀察名單") %></a>
				</li>
				-->
				<li>

					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= fa_icon("calendar 2x", :id=>"schd_but")%></a>
						<ul class="dropdown-menu">
								<li id="small_timetable">
								</li>
						</ul>
				</li>
				
				<li class="dropdown">
				
					<%= link_to  "/user/special_list", class: "dropdown-toggle disabled", 'data-toggle'=> "dropdown" do %>
						<% if current_user.uid.presence%>
							<%= image_tag "http://graph.facebook.com/"<<current_user.uid<<"/picture", size: "25x25" %>
						<% else %>
							學號 
						<% end %>
						<%=current_user.name%>
					<% end %>
					<ul class="dropdown-menu">
					<% if current_user.uid and not current_user.student_id%>
						<li>
							<%= link_to  "綁定e3帳號", 'javascript:void(0);', :class=>'fb-bind-e3'%>
						</li>
					<% elsif not current_user.uid and current_user.student_id %>
						<li>
							<%= link_to  "綁定FaceBook帳號", '/auth/facebook', :confirm=>'注意! 綁定後無法反悔', :onclick=>"disale_submit()"%>
						</li>
					<% end %>	
						<li>
							<%= link_to  "登出", signout_path, id: "sign_out" %>
						</li>					
					</ul>
				
				<% else %>
				<li>
					<%=link_to "登入","javascript:void(0);",:class=>"sign_in" %>
				<% end %>  
				</li>
			</ul>
				
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</ul>

<div class="modal fade" id="user_modal" tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog" >
		<div class="modal-content" >
			<!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="purchaseLabel">Purchase</h4>
			</div>-->
			<div class="modal-body" ></div>
			<!--<div class="modal-footer">
				
				<button type="button" class="btn btn-primary">Purchase</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>-->
		</div>
	</div>
</div>

<% if not current_user %>
	<%=render '/layouts/login', :ltype=>"login"%>
<% elsif not current_user.student_id%>
	<%=render '/layouts/login', :ltype=>"bind"%>
<% end %>


<script>
	$(document).ready(function(){	
		$("#schd_but").click(
			function(){
				//$("#user_modal").modal('show');
				$("#user_modal .modal-body").load("/courses/get_user_courses?sem_id=<%=latest_semester.id%>&type=schd&renderType=1");
			}
		);

		$("#cart_but").click(
			function(){
				$("#user_modal").modal('show');
				$("#user_modal .modal-body").load("/courses/show_cart?table_type=sidebar");
			}
		);
	<% if current_user and current_user.uid and not current_user.student_id%>	
		$('.fb-bind-e3').click(function(){
			$("#login_modal").modal('show');			
			return false;
		});
	<% end %>
	});
	function add_to_cart(id,type){
		$.ajax({
			type: "GET",
			url : "/courses/add_to_cart",
			data : {
				cd_id:id,
				tid:<%=params[:tid]||0%>,
				type:type
			},
			success : function(data){
				$("#content").prepend(data);
				$("#ajax_notice").fadeOut(10000, function() { $(this).remove(); });
				$("#user_modal .modal-body").html('<%=loading_img%>');
				$("#user_modal .modal-body").load("/courses/show_cart?table_type=sidebar");
			}
		
		});
	}

</script>