<ul class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand " href="/main/index" style="font-family:arial;">NCTU<sup>+</sup></a>

		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" >
      <ul class="nav navbar-nav">
				<% if current_user and not current_user.isNormal? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<% if current_user.isAdmin? %>
							<li><a href="/admin/users" rel="nofollow">使用者<span class="badge pull-right"><%=User.all.count%></span></a></li>
						<% end %>
							<li><a href="/departments" rel="nofollow">系<span class="badge pull-right"><%=Department.all.count%></span></a></li>
							<li><a href="/admin/course_maps/" rel="nofollow">課程地圖</a></li>
							<li><a href="/admin/user_statistics" rel="nofollow">新使用者統計</a></li>
							<!--<li><a href="/main/student_import" rel="nofollow">手動匯入</a></li>
							<li><a href="/admin/ee104" rel="nofollow">電機104級畢業學分預審</a></li>-->							
						</ul>	
					</li>
				<% end %>

				<li><a href="/courses/" rel="nofollow">全校課程</a></li>
				<li><a href="/courses/simulation" rel="nofollow">模擬排課</a></li>
				<li><a href="/books/" rel="nofollow">二手書</a></li>
				<!--<li><a href="/course_maps" rel="nofollow">課程地圖</a></li>-->
				<!--<li><a href="/events/" rel="nofollow">talk</a></li>-->
			
      </ul>
			
			<ul class="nav navbar-nav navbar-right">
			<% if current_user %>	
				<li>
					<a href="#" class="toolTip dropdown-toggle toolTip" data-toggle="dropdown" title="課表"><%= fa_icon("calendar 2x", :id=>"sm_schd_button")%></a>
						<ul class="dropdown-menu">
							<% sems = user_semester(current_user) %>
							<% if sems.count==0 %>
							<li class="text-center">無資料</li>
							<% end %>
							<% sems.each do |sem| %>
							<li><a href="javascript:void(0)" rel="nofollow" class="view-timetable" sem="<%=sem.id.to_s %>"><%=sem .name %></a></li>						
							<% end %>
					</ul>	
				</li>
			
				<li class="dropdown">		
					<%= link_to  "/user/", class: "dropdown-toggle disabled", 'data-toggle'=> "dropdown" do %>
						<% if current_user.hasFb? %>
							<%= image_tag "http://graph.facebook.com/"<<session[:auth_facebook][:uid]<<"/picture", size: "25x25" %>
						<% end %>
						<%=current_user.name%>
					<% end %>
					<ul class="dropdown-menu">
						<li>
								<a href="/user/edit/">編輯個人資料</a>
						</li>	
						<li>
							<%= link_to  "登出", destroy_user_session_path, :method => :delete %>
						</li>					
					</ul>
				</li>
		<% else %>
				<li>
					<%=link_to "登入", new_user_session_path %>
				</li>	
		<% end %>  			
			</ul>
				
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</ul>

<%= javascript_include_tag "courses/table", "data-turbolinks-track" => true %>
<% if current_user %>	
<script>
	$(document).ready(function(){	
		//歷年課表
		$(".view-timetable").click(function(){
			show_timetable_on_modal($(this).attr("sem"), true);
		});
	});
	
  function group_share(share_opt, id, data){
    var $target = $('#'+id);
    var share_link = function(div_id, share_url){
      console.log(share_url);
      new Share("#"+div_id,{
          ui: {
            flyout: "middle left",
            button_text :"分享",
            button_font : false,
          },
          networks: {
            facebook: {
              app_id: "<%=Facebook::APP_ID%>",
              url :share_url,
            },
            google_plus:{ url :share_url },
            twitter:{ url :share_url, },
            pinterest:{ enabled:false },
            email:{ enabled:false }
          }
      });
    }; 
    var switchOnChange = function(event, state){
      if(state){
        if(!confirm("開啟分享後，擁有連結的使用者皆可觀看您的課表。\n 確認要分享嗎?")){
          $switch.bootstrapSwitch('toggleState','skip');
          return false ;
        }
        //ajax 
        $.ajax({
          method: "POST",
          url: "/user/update",
          data: {type:"share", data:true, sem_id: data.semester_id},
          success:function(res){                 
              $switch.bootstrapSwitch('destroy');
              $switch.remove();
              $target.popover('disable');
              toastr["success"]("您可以使用分享連結分享至社交網站");
              share_link(id, "<%=j root_url %>shares/"+res.hash_share);     
            }
        });        
      }
    };
    
    if(share_opt){
      $target.addClass('pull-right');
    //  console.log("<%=j root_url %>shares/"+data.hash_share);
      share_link(id, "<%=j root_url %>shares/"+data.hash_share);
    }else{
      $target.popover({ 
        content:"開啟分享連結",
        placement:"auto",
        trigger : "hover",
        container :"body"
      });
      var $switch = $('<input>').attr('type', 'checkbox').attr('id','bootstrap-switch');
      $target.html($switch);
      $switch.bootstrapSwitch({
        size:'mini',
        onColor: 'success',
        onSwitchChange: switchOnChange
      });  
    }   
  }//group_share
	function show_timetable_on_modal(semester_id, showNow){
		var result=0 ;
		$.ajax({
			url: "/user/get_courses",
			data:{
				type: "course_table",
				sem_id: semester_id
			},
			dataType: "json",
			success: function(data){
				var result = $.extend(true, [], data);
				var $table = $('<table>').addClass('table table-bordered');
        data.config = {
          deletable: false ,
          selectable: false,
          popover: true,
					downloadable: true,
		      semester_id: semester_id
        };
				$table.CourseTable(data) ;			
		
				var share_div = '<div class="pull-right" id="share-opt" style="margin-right: 10px;"></div>';
				showGlobalModal(data.semester_name + share_div, $table);

				setTimeout(function(){ //wait for the modal show
				if(data.hash_share){
          $table.CourseTable("renderImg", "upload") ;
          group_share(true, 'share-opt', {hash_share: data.hash_share}) ;
        }else{ 
          group_share(false, 'share-opt', {semester_id: semester_id}) ;    
        }
			    return false ;
        }, 500);
      }
		});
		return ;
	}
</script>
<% end %>	
