<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="/" data-no-turbolink>
				NCTU+
			</a>
		</div>

		<!-- Collect the nav links, s, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="font-family:'微軟正黑體','Microsoft JhengHei';">
			<ul class="nav navbar-nav navbar-left">
				<% if current_user and not current_user.isNormal? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
						<ul class="dropdown-menu" style="background: rgba(0, 0, 0, 0.6);">
						<% if current_user.isAdmin? %>
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;"><a href="/admin/users" rel="nofollow" style="color:white;" data-no-turbolink>使用者<span class="badge pull-right"><%=User.all.count%></span></a></li>
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;"><a href="/admin/user_statistics" rel="nofollow" data-no-turbolink style="color:white;">統計資料</a></li>
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;"><a href="/departments" rel="nofollow" style="color:white;">系<span class="badge pull-right"><%=Department.all.count%></span></a></li>
						<% end %>							
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;"><a href="/admin/course_maps/" rel="nofollow" style="color:white;">課程地圖</a></li>							
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;"><a href="/admin/ee105" rel="nofollow" style="color:white;">電機105級畢業學分預審</a></li>
							<!--
							<li><a href="/main/student_import" rel="nofollow">手動匯入</a></li>
							
							-->							
						</ul>	
					</li>
				<% end %>
				<li>
					<a class="page-scroll" href="/books/" rel="nofollow">二手書</a>
				</li>
				
				<li class="dropdown">
					<a class="">全校課程</a>
					<ul class="dropdown-menu" style="background: rgba(0, 0, 0, 0.6);">
						<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;">
							<a href="/courses/" style="color:white;">全校課程</a>
						</li>
						<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;">
							<a href="/discusses/" style="color:white;">心得</a>
						</li>
						<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;">
							<a href="/past_exams/" style="color:white;">考古題</a>
						</li>
					</ul>
				</li>
				<!--
				<li>
					<a class="page-scroll" href="/course_maps/<%=current_user.try(:course_maps).try(:first).try(:id)%>" data-no-turbolink>課程地圖</a>
				</li>
				-->
				<li>
					<a class="page-scroll" href="/courses/simulation" data-no-turbolink>模擬排課</a>
				</li>
				<li>
					<a class="page-scroll" href="/user/" data-no-turbolink>算學分</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%=link_to "課程收藏", "javascript:void(0);",class:"page-scroll", onClick:"showCart();" %>
				</li>
				<% if current_user %>
					<li class="dropdown" >		
						<%= link_to  "/user/", class: "dropdown-toggle disabled", 'data-toggle'=> "dropdown",'data-no-turbolink'=>"true" do %>
							<% if current_user.hasFb? %>
								<%= image_tag "https://graph.facebook.com/"<<session[:auth_facebook][:uid]<<"/picture", size: "25x25" %>
							<% end %>
							<%=current_user.name%>
						<% end %>
						<ul class="dropdown-menu" style="background: rgba(0, 0, 0, 0.6);">
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;">
								<a href="javascript:void(0);" onclick="show_timetable_on_modal(<%=Semester::CURRENT.id%>, true);" style="color:white;">歷年課表</a>
							</li>
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;">
								<a href="/user/collections/" style="color:white;">課表收藏</a>
							</li>
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;">
								<a href="/user/edit/" style="color:white;">編輯個人資料</a>
							</li>
							
							<li style="border-bottom: 1px #aaa solid;transition: linear 0.5s background;outline: none;">
								<%= link_to  "登出", destroy_user_session_path, :method => :delete, :style=>"color:white;" %>
							</li>					
						</ul>
					</li>			
				<% else %>
					<li>
						<%=link_to "登入",new_user_session_path,class:"page-scroll",'data-no-turbolink'=>""%>
					</li>	
				<% end %>
			</ul>
		</div>
			<!-- /.navbar-collapse -->
	</div><!-- /.container -->
	
</nav>

<%= javascript_include_tag "courses/table", "data-turbolinks-track" => true %>

<script>	
	<% if current_user %>	

  function group_share($header_data, data){
    var share_link = function(share_url){
      var $share_div = $('<div>').addClass('col-md-offset-1 col-md-8 input-group');
      $share_div.append($('<input>').attr('type','text').addClass('form-control')
        .attr('onclick','this.setSelectionRange(0, this.value.length);'));
      $share_div.append($('<span>').addClass('input-group-btn')
        .html($('<button>').addClass('btn btn-info').attr('id','copy-it')
        .attr("data-clipboard-text", share_url)
        .html('<%=fa_icon "clipboard"%>')))
        .children('input').first().val(share_url);   
      $header_data.append($share_div);   
      new ZeroClipboard( $('#copy-it') ); //bind copy to clipboard
      $('#copy-it').click(function(){ toastr["success"]('已複製到剪貼簿');});
      $('#copy-it').popover({
        content:"Copy to clipboard",
        placement:"bottom",
        trigger :"hover",
        container :"body"
      });
    };     
    share_link("<%=j root_url %>shares/"+data.hash_share);
    
  }//group_share

	<% end %>	
</script>

