<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="/*position:absolute;z-index:3000;*/">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="<%=root_url%>" style="font-family:arial;">NCTU<sup>+</sup></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
				<% if current_user && TopManager.find_by_user_id(current_user.id) %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
						<ul class="dropdown-menu">
								<li><a href="/user/manage">使用者<span class="badge pull-right"><%=User.all.count%></span></a></li>
								<li><a href="/departments">系<span class="badge pull-right"><%=Department.all.count%></span></a></li>
						</ul>
					</li>
				<% end %>
				<li><a href="/courses/">全校課程</a></li>
				<% if current_user && TopManager.find_by_user_id(current_user.id) %>
				<li><a href="/reviews">心得列表</a></li>
				<% end %>
				<li><a href="/courses/simulation">課程地圖</a></li>
      </ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				<% if current_user %>
					<%= link_to  "/courses/special_list", class: "dropdown-toggle disabled", 'data-toggle'=> "dropdown" do %>
						<%= image_tag "http://graph.facebook.com/"<<current_user.uid<<"/picture", size: "25x25" %>
						<%=current_user.name%>
					<% end %>
					<ul class="dropdown-menu">
						<li>
							<%= link_to  "登出", signout_path, id: "sign_out" %>
						</li>
					</ul>
				</li>
				<% else %>
					<%= link_to  "/auth/facebook", id: "sign_in" do %>
					<%=fa_icon "facebook-square " %> 登入
					<% end %>
				<% end %>  
				
			</ul>
				
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>



