<ul class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand " href="/main/index" style="font-family:arial;">NCTU<sup>+</sup></a>

		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" >
      <ul class="nav navbar-nav">
				<% if current_user and not current_user.isNormal? %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<% if current_user.isAdmin? %>
							<li><a href="/admin/users" rel="nofollow">使用者<span class="badge pull-right"><%=User.all.count%></span></a></li>
						<% end %>
							<li><a href="/departments" rel="nofollow">系<span class="badge pull-right"><%=Department.all.count%></span></a></li>
							<li><a href="/admin/course_maps/" rel="nofollow">課程地圖</a></li>
							<li><a href="/main/student_import" rel="nofollow">手動匯入</a></li>
							<li><a href="/admin/ee104" rel="nofollow">電機104級畢業學分預審</a></li>								
						</ul>	
					</li>
				<% end %>

				<li><a href="/courses/" rel="nofollow">全校課程</a></li>
				<li><a href="/courses/simulation" rel="nofollow">模擬排課</a></li>
				<!--<li><a href="/course_maps" rel="nofollow">課程地圖</a></li>-->
				<!--<li><a href="/events/" rel="nofollow">talk</a></li>-->
			
      </ul>
			
			<ul class="nav navbar-nav navbar-right">
			<% if current_user %>	
		
				<li>
					<a href="#" class="toolTip dropdown-toggle toolTip" data-toggle="dropdown" title="課表"><%= fa_icon("calendar 2x", :id=>"sm_schd_button")%></a>
						<ul class="dropdown-menu">
							<% sems = current_user.semesters.uniq %>
							<% if sems.count==0 %>
							<li class="text-center">無資料</li>
							<% end %>
							<% sems.each do |sem| %>
							<li><a href="javascript:void(0)" rel="nofollow" class="view-timetable" sem="<%=sem.id.to_s %>"><%=sem .name %></a></li>						
							<% end %>
					</ul>	
				</li>
			
				<li class="dropdown">		
					<%= link_to  "/user/", class: "dropdown-toggle disabled", 'data-toggle'=> "dropdown" do %>
						<% if session[:auth_facebook] %>
							<%= image_tag "http://graph.facebook.com/"<<session[:auth_facebook][:uid]<<"/picture", size: "25x25" %>
						<% else %>
							學號 
						<% end %>
						<%=current_user.name%>
					<% end %>
					<ul class="dropdown-menu">
						<li>
							<%= link_to  "登出", destroy_user_session_path, :method => :delete %>
						</li>					
					</ul>
				</li>
		<% else %>
				<li>
					<%=link_to "登入", new_user_session_path %>
				</li>	
		<% end %>  			
			</ul>
				
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</ul>

<%= javascript_include_tag "courses/table", "data-turbolinks-track" => true %>
<script>
	$(document).ready(function(){	

		//歷年課表
		$(".view-timetable").click(function(){
			show_timetable_on_modal($(this).attr("sem"), true);
		});
	
	});
	
	function show_timetable_on_modal(semester_id, showNow){
		var result=0 ;
		$.ajax({
			url: "/user/get_courses",
			data:{
				type: "course_table",
				sem_id: semester_id
			},
			dataType: "json",
			success: function(data){
				var result = $.extend(true, [], data);
				var $table = $('<table>').addClass('table table-bordered');
        data.config = {
          deletable: false ,
          selectable: false,
          popover: true,
		      downloadable: true,
		      semester_id: semester_id
        };
				showGlobalModal($("a[sem="+semester_id+"]").text(),$table.CourseTable(data));

      }
		});
		return result ;
	}

	function add_to_cart(id,type){
		$.ajax({
			type: "GET",
			url : "/courses/add_to_cart",
			data : {
				cd_id:id,
				type:type
			},
			dataType : "json",
			success : function(data){
				toastr[data["class"]](data["text"]);
				if(type=="delete"){
					$("#global-modal .modal-body").load("/courses/show_cart");
				}			
			}
		
		});
	}

</script>
