<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="<%=root_url%>" style="font-family:arial;">NCTU<sup>+</sup></a>
			<% image_tag("logo.png", :size=>"80x50")%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
				<li class="dropdown">
				<% if current_user %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.name%><b class="caret"></b></a>
					<ul class="dropdown-menu">
					<li><a href="/courses/simulation">課表</a></li>
					<!--<li><a href="#">課程地圖<span class="badge pull-right"><%=FileInfo.where(:owner_id=>current_user.id).count%></span></a></li>-->
					<!--<li><a href="/file_infos/one_user">檔案<span class="badge pull-right"><%=FileInfo.where(:owner_id=>current_user.id).count%></span></a></li>-->
					</ul>
				<% else %>
					<%= link_to "facebook登入", "/auth/facebook", id: "sign_in" %>
				<% end %>  
				</li>

				<!--<li class="dropdown">
					<a href="#"  class="dropdown-toggle" data-toggle="dropdown">facebook登入<b class="caret"></b></a>
					<ul class="dropdown-menu user-reg" id="user_reg" >
					<% render "/user/registry" %>
					</ul>
				</li>-->
				<% if current_user && TopManager.find_by_user_id(current_user.id) %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">管理<b class="caret"></b></a>
						<ul class="dropdown-menu">
							
								<!--<li><a href="/post">筆記<span class="badge pull-right"><%=Post.all.count%></span></a></li>
								<li><a href="/files/all_users">檔案庫<span class="badge pull-right"><%=FileInfo.all.count%></span></a></li>
								<li><a href="/user/manage">使用者<span class="badge pull-right"><%=User.all.count%></span></a></li>-->
							<!--<li><a href="/courses">課程<span class="badge pull-right"><%=Course.all.count%></span></a></li>-->
								
								<li><a href="/reviews">心得列表<span class="badge pull-right"><%=Review.all.count%></span></a></li>
								<li><a href="/departments">系<span class="badge pull-right"><%=Department.all.count%></span></a></li>
						</ul>
					</li>
				<% end %>
				<li><a href="/courses/">課程列表</a></li>
				<!--<li><a href="/courses/simulation">預排課表</a></li>-->
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



