
<script>

	$(document).ready(function(){
		$("#schd_but").click(
			function(){
				$("#user_modal").modal('show');
				$("#user_modal .modal-body").load("/courses/get_user_courses?sem_id=<%=latest_semester.id%>&type=schd");
			}
		);		
		$("#cart_but").click(
			function(){
				$("#user_modal").modal('show');
				$("#user_modal .modal-body").load("/courses/show_cart");
			}
		);

	});
	function add_to_cart(id,type){
		$.ajax({
			type: "GET",
			url : "/courses/add_to_cart",
			data : {
				cd_id:id,
				tid:<%=params[:tid]||0%>,
				type:type
			},
			success : function(data){
				$("#content").prepend(data);
				$("#ajax_notice").fadeOut(10000, function() { $(this).remove(); });
				$("#user_modal .modal-body").html('<%=loading_img%>');
				$("#user_modal .modal-body").load("/courses/show_cart");
			}
		
		});
	}
	
</script>

<div class="container" style="color:white;padding-top:8px;/*padding-bottom:8px;*/position:fixed;z-index:100;left:20px;top:300px;background-color:rgba(0,0,0,0.5);/*width:50px;height:50px;*/">
<p class="text-center">
<a href="javascript:void(0);" onclick="history.back();" class="masterTooltip" style="color:white" title="回上頁" ><%=fa_icon("arrow-left 3x", :style=>"margin-left:3px;margin-bottom:5px;") %></a>


<br>
<a href="http://aadm.nctu.edu.tw/chcourse/class03.aspx?ftype=3" target="_blank" class="masterTooltip clickable-hover" title="必修科目表" style="color:white;"><%=fa_icon("file-text-o 3x", :style=>";margin-left:3px;margin-bottom:5px;") %></a>

<br>
<% if current_user %>
<%= fa_icon("calendar 3x ", :id=>"schd_but", :class=>"masterTooltip clickable-hover", :title=>"預排課表") %>
<br>
<% end %>
<%= fa_icon("shopping-cart 3x", :class=>"masterTooltip clickable-hover", :id=>"cart_but", :title=>"觀察名單") %>
<br>

<% fa_icon("question-circle 3x", :id=>"question_but", :style=>"margin-left:3px;") %>
</p>
</div>


<div class="modal fade" id="user_modal" tabindex="-1" role="dialog" aria-hidden="true" >
	<div class="modal-dialog" >
		<div class="modal-content" >
			<!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="purchaseLabel">Purchase</h4>
			</div>-->
			<div class="modal-body" ></div>
			<!--<div class="modal-footer">
				
				<button type="button" class="btn btn-primary">Purchase</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>-->
		</div>
	</div>
</div>

