<!DOCTYPE html>
<html>
<head>
  <title>NCTU+</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <% javascript_include_tag "#{params[:controller]}" %>
	
  <%= csrf_meta_tags %>
</head>

<body onload="onPageLoad();">
<%= image_tag("bg.jpg", :id=>'bg1', :class=>"bg")%>

<!--
<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
-->

<!-- layouts/header start -->
<%= render 'layouts/header' %>
<!-- layouts/header end -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!--<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="purchaseLabel">Purchase</h4>
			</div>-->
			<div class="modal-body"></div>
			<!--<div class="modal-footer">
				
				<button type="button" class="btn btn-primary">Purchase</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>-->
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<!--<div class="col-md-3">
			<%= render 'layouts/sidebar' %>
		</div>-->
		
		<div id="content" class="col-md-9 col-md-offset-2">
			<% if flash[:notice] %>
				
				<div id="notice" class="alert <%= flash[:notice][:style] %>">
					<h4><%= flash[:notice][:title] %></h4>
					<%= flash[:notice][:message] %>
				</div>

			<%end%>
			<div id="global_bgcolor" class="well global-background-color">
			<%= yield %>
			</div>
		</div>
	</div>
</div>


</body>

</html>
